@import '../base';

@include post_listing(0);
.header-wrapper .header-inner-wrapper {

	border-bottom:0px;
	@include transition (border, 0, linear, 0);
	.header-logo {
		opacity:0;
		@include transition (opacity, 0, linear, 0);
	}
	
	&.active {
		border-bottom: solid 1px #eeeeee;
		.header-logo {
			opacity: 1;
			@include transition (opacity, 1s, linear, 0);
		}
	}
	

}

.featured-page {
	.top-wrapper {
		background:$white;
		padding:0px 0 35px 0;
		@media (max-width:$break-md) { 
   			padding:0px 0 5px 0; 
 		}
 		@media (max-width:$break-sm) { 
   			padding:0px 0 10px 0; 
 		}
 		@media (max-width:$break-xs) { 
   			padding:0;
 		}
		.heading-title {
			position:relative;
			
			
			h1 {
				margin:10px 0;
				background:$white;
				@include fjalla;
				font-size:75px;
				text-align:center;
				letter-spacing:3px;
				@media (max-width:$break-lg) { 
		   			font-size:60px; 
		 		}
		 		@media (max-width:$break-md) { 
		   			font-size:40px; 
		   			margin-bottom:40px;
		 		}
		 		@media (max-width:$break-xs) { 
		   			font-size:27px; 
		   			letter-spacing:2px;
		   			margin:0px 0 45px 0;
		 		}
			}
		}


	.date {
		.date-circle {
				position:absolute;
				width:70px;
				height:70px;
				bottom:-45px;
				right:90px;
				z-index:3;
				@include border-radius(35px);
				border:solid 2px $cream;
				text-align:center;
				padding:15px 5px 5px 5px;
				background:$dark;
				color:$lightgray;
				span.month {
					@include fjalla;
					font-size:12px;
					letter-spacing:1px;
				}
				span.day {
					@include montserrat(bold);
					font-size:27px;
					letter-spacing:1px;
					line-height:20px;
					
				}
				@media (max-width:$break-lg) { 
		   			right:50px;
		 		}
				@media (max-width:$break-md) { 
					bottom:-20px;
		 		}
		 		@media (max-width:$break-sm) { 
					bottom:-30px;
		 		}
		 		@media (max-width:$break-xs) { 
					bottom:-25px;
					right:10px;
		 		}
			}
		}
		
	}
	.main-wrapper {
		background:$dark;
		border-top:solid 3px $dark;
		border-bottom:solid 3px $dark;
		@media (max-width:$break-md) and (min-width:$break-sm-min) {
			padding:0 0 20px 0;
		}
		.featured-item {
			.text {
				text-align:center;
				padding:40px 50px;
				@media (max-width:$break-lg) { 
					padding:20px 20px 20px 0;
	 			}
				@media (max-width:$break-xs) { 
					padding:20px 0px;
	 			}				
				h2, ul, p {
					color:$cream;
					@include word-break(break-all);
				}
				a {
					&:hover h2 {
						color:$white !important;
					}
					&:hover ul {
						color:$white !important;
					}
				}

				h2 {
					font-size:24px;
					letter-spacing:2px;
					@media (max-width:$break-xs) {
						font-size:17px;
					}
					
				}
				.line {
					width:20px;
					margin:10px auto;
					border-top:solid 2px $dark_gray;
				}
				ul.post-taglines {
					margin-bottom:20px;
					li {
						@include tagline_listing;
						margin-bottom:0px;
						letter-spacing:1px;
						@media (max-width:$break-sm) {
							margin-bottom:0px;
							letter-spacing:0px;
						}
						&:nth-child(1), &:nth-child(2) {
							border-right:solid 1px $dark_gray;
						}
					}
				}
				.author {
					color:$gray_text;
					margin-bottom:20px;
					a {
						@include montserrat;
						font-size:14px;
						letter-spacing:1px;
						&:hover {
							color:$white !important;
						}
					}
					@media (max-width:$break-sm) {
						margin-bottom:0px;
					}
				}
				.excerpt, .excerpt p {
					text-align:justify;
					font-size:17px;
					line-height:150%;
					@media (max-width:$break-sm) {
						display:none;
					}
				}
				a.read-more {
					@include montserrat;
					text-transform:uppercase;
					font-size:12px;
					letter-spacing:1px;
					&:hover {
						color:$white !important;
					}
				}
				@media (max-width:$break-md) and (min-width:$break-sm-min) {
					width:70%;
					margin:0px 15%;
					padding:20px 0px;
				}
			}
			.image {
				height:0px;
				padding-top:36.7%;
				background-repeat:no-repeat;
				background-size:cover;
				background-position:center center;
				@media (max-width:$break-md) and (min-width:$break-sm-min) {
					width:70%;
					margin:0px 15%;
					padding-top:44.1%;
				}
				@media (max-width:$break-xs) {
					width:100%;
					padding-top:63%;
				}
			}
		}
	}
	.middle-wrapper {
		position:relative;
		display:block;
		margin-top:70px;
		margin-left: auto;
		margin-right: auto;
		border-bottom:solid 3px $dark_cream;
		 
		.post-container {
			width:100%;
			height:450px;
			margin:0px;
			.post-title {
				margin-top:20px;
				a {
					font-size:21px;
					@media (max-width:$break-xs) {
						font-size:17px;
					}
				}
			}
			.line {
				border-top:solid 2px $gray;
				width:20px;
				margin:10px auto;
			}
			.author {
				font-size:14px;
				text-align:center;
				color:$gray;
				a {
					@include montserrat(normal);
					font-size:14px;
				}
			}
			.post-image {
				width:100%;
				height:0px;
				padding-top:63%;
			}
			@media (max-width: $break-sm){
				height:auto;
				margin-bottom:30px;
			}
		}
		.signup-box {
			position:absolute;
			top:-33px;
			text-align:center;
			margin:0 40px;
			@media (max-width: $break-lg){  
				margin:0 20px;
			}
			@media (max-width: $break-sm) and (min-width: $break-sm-min){ 
				position:relative;
				width:50%;
				top:0px; 
				margin:0 25% 20px 25%; 
			}
			@media (max-width: $break-xs){ 
				position:relative;
				width:70%;
				top:0px; 
				margin:0 15% 20px 15%; 
			}
			.signup-top {
				width:100%;
				height:0px;
				padding-top:11.5%;
				background:url('../../../../images/featured/join-bg-top.png');
				background-size:cover;
				background-position:center bottom;
				background-repeat:no-repeat;
			}
			.signup-bottom {
				width:100%;
				height:0px;
				padding-top:9.8%;
				background:url('../../../../images/featured/join-bg-bottom.png');
				background-size:cover;
				background-position:center bottom;
				background-repeat:no-repeat;
			}
			.signup-content {
				background:$dark;
				.join-community {
					width:170px;
					height:auto;
					margin-top:10px;
				}
				.line {
					width:20px;
					margin:20px auto;
					border-top:solid 1px $gray_text;
				}
				ul.account-bullets {
					width:90%;
					display:inline-block;
					margin:25px 5% 0 5%;
					padding:20px 0 30px 0;
					border-top:solid 2px $white;
					list-style:none;
					li {
						margin-bottom:5px;
						color:$gray_text;
					}
				}
			}
		}
		
	}

}

.trending-wrapper {
	position:relative;
	display:block;
	@include feed_container_widths;
	h2 {
		margin:40px 0;
		text-align:center;
		@include fjalla();
		font-size:50px;
		letter-spacing:2px;
		@media (max-width:$break-sm) {
			font-size:32px;
		}
	}
	.filters {
		position:relative;
		@include catfilter;
		margin-bottom:20px;
		.category-filter-container {
			position:absolute;
			top:-30px;
			left:15px;
			margin:0;
			.category-filter-title {
				padding: 5px 35px 5px 5px;
			}
			@media (max-width:$break-md) { 
	   			position:relative;
				top:0px;
				left:0px;
	 		}
	 		@media (max-width:$break-xs) { 
	   			margin-top:10px;
	 		}
		}
		.filter-dropdown {
			@include drop_shadow();
		}
	}
	.trending-content {

	}
}