@import '../base';

body,html {background:$white;}

@include post_listing(0);
.header-wrapper .header-inner-wrapper {
	background:transparent;
	-moz-box-shadow:    none;
  	-webkit-box-shadow: none;
  	box-shadow:         none;
	@include transition (border, 0, linear, 0);
	.header-logo {
		opacity:0;
		@include transition (opacity, 0, linear, 0);
	}
	.col-right .signup, .col-right .login  {
		@media (max-width:$break-sm) {
			opacity:0;
			@include transition (opacity, 0, linear, 0);
		}
	}
	&.active {
		background:$white;
		-moz-box-shadow:    1px 1px 1px 0px #999;
  		-webkit-box-shadow: 1px 1px 1px 0px #999;
  		box-shadow:         1px 1px 1px 0px #999;
		.header-logo {
			opacity: 1;
			@include transition (opacity, 1s, linear, 0);
		}
		.col-right .signup, .col-right .login {
			@media (max-width:$break-sm) {
				opacity: 1;
				@include transition (opacity, 1s, linear, 0);
			}
		}
	}
	

}


h3.featured-label, h3.user-label, h3.category-label {
	text-align:center;
	letter-spacing:5px;
	font-size:18px;
	@media (max-width:$break-sm) { 
		font-size: 14px;
	}
}

h3.featured-label {
	text-align:center;
	color:$gold;
	margin:30px 0 25px 0;
	@media (max-width:$break-lg) { 
		margin-bottom:20px;
	}
}
h3.user-label {
	margin:20px 0;
	color:#444;
}
h3.category-label {
	margin:20px 0;
	color:$darker_cream;
	@media (max-width:$break-sm) { 
		letter-spacing:2px;
	}
}

.featured-page {
	.top-wrapper {
		position:relative;
		background:$white;
		padding:0;
		@media (max-width:$break-xs) { 
   			padding:0 0 35px 0;
 		}
		.heading-title {
			display:block;
			position:relative;
			margin-top:-15px;
			padding-bottom:33px;
			@media (max-width:$break-sm) {
	   			padding-bottom:20px;
	 		}
			h1 {
				float:left;
				width:100%;
				text-align:center;
				display:inline-block;
				img.featured-logo {
					width:300px;
					height:auto;
					margin:0 auto;
					vertical-align:baseline;
			 		@media (max-width:$break-md) { 
			   			width:250px;
			 		}
			 		@media (max-width:$break-sm) { 
			   			width:200px;
		 			}
		 			@media (max-width:$break-xs) { 
			   			width:150px;
		 			}
				}
				margin:0px 0;
				background:$white;
				@include fjalla;
				font-size:75px;
				text-align:center;
				letter-spacing:3px;
				@media (max-width:$break-lg) { 
		   			font-size:60px; 
		 		}
		 		@media (max-width:$break-md) { 
		   			font-size:40px; 
		 		}
		 		@media (max-width:$break-xs) { 
		   			font-size:27px; 
		   			letter-spacing:2px;
		 		}
			}
			ul.header-taglines {
				width:100%;
				display:inline-block;
				text-align:center;
				margin-bottom:5px;
				 li {
              		line-height: 16px;
              		letter-spacing:1px;
              		font-size:20px;
              		padding:0 20px;
              		color:$gold;
              		@include trade-italic;
					text-transform:uppercase;
					letter-spacing:1px;
              		@media (max-width:$break-md) { 
              			font-size:16px;
              			line-height: 14px;
              			padding:0 10px;
              		}
              		@media (max-width:$break-xs) { 
              			font-size:14px;
              			line-height: 12px;
              		}
	            }
	            li:nth-child(1), li:nth-child(2) {
	              border-right: 2px solid $gold;
	            }
			}
			//for non-user heading
			.line {
				width:50px;
				margin:0 auto;
				border-top:solid 2px $dark;
			}
			h3, p, .signup-btn,.login-header {
				width:100%;
				text-align:center;
			}
			h3 {
				@include montserrat;
				letter-spacing:3px;
				font-size:24px;
				@media (max-width:$break-md) {
		   			font-size:14px;
		   			margin-bottom:5px;
		 		}
		 		@media (max-width:$break-xs) { 
		   			margin-top:15px;
		 		}
		 		&.signed-in {
		 			font-size:21px;
		 			letter-spacing:1px;
		 			a {
		 				text-transform:none;
		 				font-size:24px;
		 				@media (max-width:$break-md) { 
			   				font-size:16px;
				 		}
		 			}
		 			@media (max-width:$break-md) { 
		   			font-size:12px; 
		   			margin-bottom:5px;
			 		}
			 		@media (max-width:$break-xs) {
			   			margin-top:15px;
			   			margin-bottom:15px;
			 		}
		 		}
			}
			p {
				@include garamond;
				font-size:18px;
				letter-spacing:1px;
				a.user-link {
					position:relative;
					@include montserrat;
					&:before {
						content: url("../../../../images/featured/featured-arrow.png");
						position: absolute;
						top: 10px;
						left: -50px;
						width: 44px;
						height: 55px;
						@media (max-width:$break-sm) { 
		   					display:none;
		 				}
					}
				}
				@media (max-width:$break-md) { 
		   			font-size:16px;
		 		}
			}
			a.signup {
				margin-top:10px;
				letter-spacing:1px;
		 		@media (max-width:$break-xs) { 
   					margin-top:5px;
 				}
			}
			.login-header {
				margin-top:10px;
				color:$gray;
				a.login {
					@include montserrat;
					font-size:14px;
					color:$blue;
				}
			}
		}

	.links-date {
	}
	.header-cat-links {
		position:absolute;
		bottom:-10px;
		left:0px;
		z-index:50;
		@media (max-width:$break-xs) { 
			display:none;
		}
		ul {
			display:inline-block;
			margin:0px;
			padding:0px;
			list-style:none;
			border:solid 2px $white;
			li {
				
				float:left;
				&.new {
					a {
						background:$gold_dark;
					}
				}
				a {
					display:inline-block;
					padding:5px 15px 2px 15px;
					@include trade-italic;
					font-size:14px;
					text-transform:uppercase;
					letter-spacing:3px;
					color:$white;
					background:$gold;
					margin-bottom:0px;
					@include secondary_drop_shadow();
					&:hover {
						background:$dark;
						@include trans_fade;
					}
					@media (max-width:$break-sm) { 
		   				font-size:12px;
		 			}
				}
			}
		}
	}
	
	.date-circle {
			position:absolute;
			width:105px;
			height:105px;
			bottom:-30px;
			right:20px;
			z-index:3;
			background-image:url('../../../../images/featured/stamp-bg.png');
			background-size:cover;
			background-position:center center;
			background-repeat:no-repeat;
			@include border-radius(50px);
			text-align:center;
			padding:32px 5px 5px 5px;
			color:$lightgray;
			span.month {
				@include fjalla;
				font-size:16px;
				text-transform:uppercase;
				@media (max-width:$break-sm) { 
					font-size:12px;
				}
				@media (max-width:$break-xs) { 
					font-size:11px;
				}
			}
			span.day {
				@include montserrat;
				font-size:37px;
				letter-spacing:1px;
				line-height:27px;
				@media (max-width:$break-sm) { 
					font-size:27px;
					line-height:20px;
				}
				
			}
			@media (max-width:$break-lg) { 
	   			right:30px;
	 		}
			@media (max-width:$break-md) { 
				right:0px;
				bottom:-50px;
	 		}
	 		@media (max-width:$break-sm) {
	 			width:90px;
				height:90px;
				right:50px;
				bottom:-30px;
				padding:25px 5px 5px 5px;
	 		}
	 		@media (max-width:$break-xs) { 
	 			width:80px;
				height:80px;
				bottom:-55px;
				right:10px;
				padding:21px 5px 5px 5px;
	 		}
		}
	}
		
	
	.main-wrapper {
		background:#000;
		@media (max-width:$break-lg) {
			background:$dark;
		}
		.main-container {
			width:100%;
			max-width:1440px;
			margin:0 auto;
			padding:0 15px;
			@media (min-width:$break-lg-min) { 
				display:table;
				padding:0;
			}
			&>.row {
				@media (min-width:$break-lg-min) { 
					display:table-row;
				}
			}
			
			.text {
				text-align:center;
				background:$dark;
				padding-left:40px;
				padding-right:40px;
				@media (min-width:$break-lg-min) { 
					display:table-cell;
					vertical-align:middle;
					height:auto;
					float:none;
					overflow:hidden;
				}
				@media (max-width:$break-lg) and (min-width:$break-lg-min) { 
					padding:70px 40px 40px 40px;
				}
				@media (max-width:$break-md) { 
					background:transparent;
				}
				@media (max-width:$break-xs) { 
					padding:20px 0px;
	 			}	
	 			img.main-pointer {
	 				position:absolute;
	 				width:15px;
	 				height:auto;
	 				top:20px;
	 				right:-15px;
	 				z-index:5;
	 				@media (max-width:$break-md) { 
						display:none;
					}
	 			}			
				h2, ul, p {
					color:$lightgray;
				}
				a {
					
				}

				h2 {
					font-size:32px;
					line-height:125%;
					letter-spacing:1px;
					margin-bottom:15px;
					text-transform: capitalize;
					@media (min-width:$break-lg-min) { 
						margin-top:-50px;
					}
					@media (max-width:$break-lg) and (min-width:$break-lg-min)  { 
						font-size:21px;
	 				}
	 				@media (max-width:$break-sm) {
						margin-bottom:10px;
					}
					@media (max-width:$break-xs) {
						font-size:24px;
					}
					
				}
				.line {
					width:20px;
					margin:10px auto;
					border-top:solid 2px $dark_gray;
				}
				ul.post-taglines {
					margin-top:15px;
					margin-bottom:20px;
					@media (max-width:$break-sm) {
						margin-top:10px;
					}
					li {
						@include tagline_listing;
						margin-bottom:0px;
						letter-spacing:1px;
						font-size:16px;
						color:$gold;
						@media (max-width:$break-sm) {
							margin-bottom:0px;
							letter-spacing:0px;
						}
						&:nth-child(1), &:nth-child(2) {
							border-right:solid 1px $gold;
						}
					}
				}
				.author {
					color:#525252;
					margin:0px auto;
					padding:0px;
					span.avatar {
						vertical-align:middle;
						display:inline-block;
						text-align:center;
						background-size:cover;
		    			background-position:center center;
						width:30px;
						height:30px;
						border-radius: 50%;
						margin-right:5px;
					}
					a {
						@include montserrat;
						font-size:14px;
						letter-spacing:1px;
						&:hover {
							color:$blue_dark !important;
						}
					}
					@media (max-width:$break-md) {
						width:100%;
						text-align:center;
					}
					@media (max-width:$break-sm) {
						margin-bottom:0px;
					}
				}
				.excerpt, .excerpt p {
					display:none;
					text-align:justify;
					font-size:17px;
					line-height:150%;
					@media (max-width:$break-sm) {
						display:none;
					}
				}
				a.read-more {
					@include montserrat;
					text-transform:uppercase;
					font-size:12px;
					letter-spacing:1px;
					&:hover {
						color:$white !important;
					}
				}
				@media (max-width:$break-md) and (min-width:$break-sm-min) {
					width:70%;
					margin:0px 15%;
					padding:20px 0px;
				}
			}
			.image-link {
				@media (min-width:$break-lg-min) { 
						display:table-cell;
						float:none;
						overflow:hidden;
						padding:0px;
					}
				.image {
					width:100%;
					height:0px;
					padding-top:50%;
					background-repeat:no-repeat;
					background-size:cover;
					background-position:center center;
					@media (max-width:$break-lg) {
						padding-top:55%;
					}
					@media (max-width:$break-md) and (min-width:$break-sm-min) {
						width:50%;
						margin:0px 25%;
						padding-top:31.5%;
					}
					@media (max-width:$break-xs) {
						width:90%;
						padding-top:56.7%;
						margin:0 5%;
					}
				}
			}
			
		}
	}
	.middle-wrapper {
		position:relative;
		display:block;
		margin:0 auto 0 auto;
		@media (max-width:$break-md) {
			margin:0px auto;
		}
		.middle-container {
			max-width:1150px;
			background:white;
			border:solid 1px $lightgray;
			margin-top:-25px;
			padding:0px 50px 20px 50px;
			-webkit-border-radius: 2px; 
  			-moz-border-radius: 2px; 
  			border-radius: 2px; 
			@media (min-width:$break-lg) {
				padding:0px 40px 20px 40px;
			}
			@media (max-width:$break-xs) {
				padding:0px 15px 20px 15px;
			}
		}
		.middle-grid {
			padding:0 10px;
			&:nth-child(even) {
				
			}
			&:nth-child(odd) {
				
			}
		}
		.post-container {
			width:100%;
			height:365px;
			margin:0px;
			@media (max-width:$break-md) { 
				height:350px;
 			}
			.post-image-overlay {
				a {
					font-size:14px;
				}
			}
			.post-title {
				margin-top:0px;
				margin-bottom:0px;
				padding:10px 0;
				a {
					
				}
			}
			.line {
				border-top:solid 2px $gray;
				width:20px;
				margin:10px auto;
			}
			.post-taglines {
				@media (min-width:$break-lg-min) { 
					font-size:16px;
 				}
			}
			.author {
				font-size:14px;
				text-align:center;
				color:$darker_cream;
				a {
					@include montserrat(normal);
					font-size:14px;
				}
			}
			.post-image {
				width:100%;
				height:0px;
				padding-top:63%;
			}
			@media (max-width: $break-sm){
				height:auto;
				margin-bottom:30px;
			}
		}
		.promotional-container {
			height:365px;
			@media (max-width: $break-md) { 
				height:auto;
			}
			@media (max-width: $break-sm){ 
				width:100%;
				position:relative;
				display:block;
				float:left;
				margin:0 0 20px 0;
			}
			.promotional-box {
				background:$dark;
				height:345px;
				text-align:center;
				@media (max-width: $break-md) { 
					height:auto;
					padding-bottom:50px;
				}
				img.new-cat {
					width:210px;
					height:auto;
					margin:15px auto 5px auto;
				}
				h3 {
					@include fjalla;
					text-transform:uppercase;
					color:$white;
					font-size:55px;
					margin:0px;
					@media (max-width:$break-lg) { 
						font-size:40px;
 					}
				}
				ul.new-cat-tags {
					text-align:center;
					display:block;
					width:100%;
					list-style:none;
					li {
						padding:0 10px;
						color:$gold;
						font-style:italic;
						font-size:16px;
						letter-spacing:1px;
						&:nth-child(1), &:nth-child(2) {
							border-right: 1px solid $gold;
						}
					}
				}
				p.subtext {
					font-size:20px;
					color:$white;
					letter-spacing:1px;
					padding:0px 30px;
					margin-bottom:20px;
					@media (max-width:$break-lg) { 
						margin-top:20px;
						font-size:17px;
 					}
					span {
						font-style:italic;
					}
				}
				a {
				}
			}
		}
		.signup-box {
			position:absolute;
			top:-33px;
			text-align:center;
			margin:0 40px;
			@media (max-width: $break-lg){  
				margin:0 20px;
			}
			@media (max-width: $break-md) and (min-width: $break-md-min){ 
				top:-40px; 
			}
			@media (max-width: $break-sm) and (min-width: $break-sm-min){ 
				position:relative;
				width:70%;
				top:0px; 
				margin:0 15% 20px 15%; 
			}
			@media (max-width: $break-xs){ 
				position:relative;
				width:100%;
				top:0px; 
				margin:0 0 20px 0; 
			}
			.signup-top {
				width:100%;
				height:0px;
				padding-top:13.6%;
				margin-bottom:-3%;
				background:url('../../../../images/featured/join-bg-top2.png');
				background-size:cover;
				background-position:center bottom;
				background-repeat:no-repeat;
				z-index:-1;
			}
			.signup-bottom {
				width:100%;
				height:0px;
				padding-bottom:13.6%;
				margin-top:-3%;
				background:url('../../../../images/featured/join-bg-bottom2.png');
				background-size:cover;
				background-position:center bottom;
				background-repeat:no-repeat;
				z-index:-1;
			}
			.signup-content {
				background:$dark;
				.join-community {
					width:170px;
					height:auto;
					margin-top:10px;
				}
				.line {
					width:20px;
					margin:20px auto;
					border-top:solid 1px $gray_text;
				}
				ul.account-bullets {
					width:90%;
					display:inline-block;
					margin:25px 5% 0 5%;
					padding:20px 0 30px 0;
					border-top:solid 2px $white;
					list-style:none;
					li {
						margin-bottom:5px;
						color:$white;
						font-style:italic;
						letter-spacing:1px;
					}
				}
			}
		}
	}

}

.sectional-line {
	margin:0px 15px 40px 15px;
	border-bottom:solid 2px $dark_cream;
}

.signup-container {
	max-width: 1150px;
	.signup-bg {
		padding-top:55px;
		padding-bottom:60px;
		text-align:center;
		background-image:url('../../../../images/featured/signup-bg.jpg') !important;
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center top;
		border-bottom:solid 3px $white;
		h3, p {
			color:$white;
		}
		h3 {
			font-size:27px;
			margin:0;
			@include montserrat;
			text-transform:uppercase;
			letter-spacing:3px;
			@media (max-width: $break-sm){
				font-size:18px;
			}
		}
		p {
			margin:5px 0 20px 0;
			font-size:22px;
			letter-spacing:2px;
			color:$gold;
			@media (max-width: $break-sm){
				font-size:18px;
			}
		}
	}
}

.featured-user-container {
	background:$dark;
	padding:40px 0 50px 0;
	@media (max-width: $break-sm){
		padding:10px 0 50px 0;
	}
	.avatar-container {
			@media (max-width: $break-md){
				text-align:center;
			}
		span.avatar {
			display:block;
			width:250px;
			height:250px;
			margin-top:30px;
			border-radius: 50%;
			background-size:cover;
		    background-position:center center;
		    @media (max-width: $break-md){
				margin:0 auto;
			}
			@media (max-width: $break-sm){
				width:70px;
				height:70px;
			}
		}
	}
	.user-info {
		h4.user-name {
			color:$blue;
			margin-top:30px;
			@include montserrat;
			font-size:32px;
			letter-spacing:2px;
			padding-top:0px;
			padding-bottom:10px;
			border-bottom:solid 1px $dark_gray;
			a {
				&:hover {
					color:$blue;
				}
			}
			@media (max-width: $break-md){
				text-align:center;
			}
			@media (max-width: $break-sm){
				margin-top:10px;
				font-size:21px;
			}
		}
		.followers-container {
			width:100%;
			margin-bottom:20px;
			.featured-stats {
				display:inline-block;
				text-align: left;
				span.count{
					@include montserrat;
					font-size: 18px;
					letter-spacing:2px;
					@media (max-width:$break-sm) {
						font-size:17px;
					}
					@media (max-width:$break-sm) {
						font-size:10px;
					}
				}
				span.text{
					font-size: 12px;
					line-height:5px;
					letter-spacing:2px;
					@media (max-width:$break-sm) {
						font-size:10px;
					}
					@media (max-width:$break-sm) {
						font-size:8px;
					}
				}
				&.followers, &.following, &.post-count {
					text-transform: uppercase;
					@include montserrat();
					color:$lightgray;
					text-decoration: none;
				}
				&.followers, &.following {
					padding-right:10px;
					margin-right:10px;
					border-right:solid 2px $dark_gray;
				}
				&.following {
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
		.quote {
			display:block;
			width:100%;
			float:left;
			font-size:21px;
			letter-spacing:1px;
			line-height:160%;
			@include garamond-italic;
			color:$lightgray;
			@media (max-width:$break-sm) {
				font-size:18px;
			}
		}
	}
	.recent-container {		
		@media (max-width:$break-md) {
			margin-top:20px;
		}
		@media (max-width:$break-sm) {
			margin-left:110px;
			margin-right:110px;
		}
		@media (max-width:$break-xs) {
			margin-left:30px;
			margin-right:30px;
		}
		h5.recent-label {
			display:block;
			@include montserrat;
			text-transform:uppercase;
			font-size:12px;
			letter-spacing:2px;
			color:#525252;
		}
		.recent-post {
			
			.recent-image {
				display:block;
				width:100%;
				height:0px;
				padding-top:63%;
				background-image:url('../../../../images/cat-listing/relationships.jpg');
				background-size:cover;
		    	background-position:center center;
			}
			.recent-text {
				padding:10px;
				.recent-title, .recent-taglines {
			    	text-align: center;
			    }
			    .recent-title {
			    	margin-top:0px;
			    	margin-bottom: 3px;
			    	line-height:13px !important;
			    	margin-bottom:5px;
			    	letter-spacing:1px;
			    	@include trade;
			    	text-transform:capitalize;
			    	font-size:17px !important;
			    	color:$white;
			    }
			    .recent-taglines {
			    	li:nth-child(1), li:nth-child(2) {
			    		border-right: 1px solid $gold;
			    	}
			    	li {
			    	}
			    	@include tagline_listing;
			  	}
		  	}
		}
		.user-actions {
			padding-left:0px;
			@media (max-width:$break-md) {
				padding-top:15px;
				padding-left:15px;
			}
			@media (max-width:$break-md) {
				padding-top:0px;
				padding-left:0px;
			}
			@media (max-width:$break-sm) {
				margin-top:20px;
				padding-left:15px;
			}
			.profile-action, .follow-action {
				width:100%;
				font-size:10px;
				@media (max-width:$break-xs) {
					font-size:10px;
					text-align:center;
				}
			} 
			.profile-action {
				margin-bottom:10px;
				padding:8px 15px;
				@media (max-width:$break-md) and (min-width:$break-sm-min) {
					margin-right:3px;
				}
				
			}
			.follow-action {
				padding-left:30px;
				background-size:30px 30px;
				background-position:center left;
				&.following {
					display:none;
				}
				@media (max-width:$break-xs) {
					font-size:10px;
				}
			}
		}
	}
}

.category-wrapper {
	background:$cream;
	padding-top:30px;
	padding-bottom:50px;
	@media (max-width:$break-sm) {
		padding-top:10px;
	}

	.footer-cat-wrapper {
	}
	.footer-cat-container {
		max-width:1100px;
		padding:0px;
		@include footer-cat;
		margin-bottom:50px;
		label {
			display:none !important;
		}
	}
}

.content-wrapper {
	background:$cream;
	padding-bottom:0px;
}