.top-featured {
	width: 100%;
}


.top-featured .featured-item{
	width: 21.25%;
}

.top-featured .featured-item.w-2{
	width: 46.5%;
}

.top-featured .featured-item.w-3{
	width: 71.5%;
}

.top-featured .featured-item.h-1{
	height:326px;
	overflow:hidden;
	border-bottom:0px;
}

.top-featured .featured-item.h-2{
	height:652px;
	overflow:hidden;
}

.top-featured .featured-item .the-image {
	position: relative;
	width: 100%;
}

.top-featured .the-content {
	font-size:16px;
	margin-top:10px;
	text-align:justify !important;
	
}

.top-featured .the-content a {
	font-family:'bebas';
	letter-spacing:1px;
}

.top-featured .the-content a:hover {
	color:#40B2FF
}

/*Featured content is for height 1 situations.*/
.top-featured .featured-item .the-featured-content {
	display:none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	background-image: url('../../img/global/black.png');
	color:#ccc;
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
	font-weight:400;
	text-align:left;
	padding:5px 10px;
}

.top-featured .featured-item:hover .the-featured-content {
	display:block;
}

.top-featured .gutter-sizer { width: 5%; }

/***************************************
	Media Queries
*/
/*Tiny*/
@media (max-width: 479px) {
	.top-featured .featured-item.h-1, .top-featured .featured-item.h-2{
		height:auto;
		border-bottom:2px solid #000;
	}
}

/*Small*/
@media (min-width: 480px) and (max-width: 767px) {
	.top-featured .featured-item.h-1, .top-featured .featured-item.h-2{
		height:auto;
		border-bottom:2px solid #000;
	}
}

/*Normal*/
@media (min-width: 768px) and (max-width: 991px) {

}

/*Bigger*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*Huge*/
@media (min-width: 1200px) {

}  