.profile-top {
	border-bottom: 2px solid #000;
	padding-bottom: 10px;
}

.profile-top:after {
		
}

.profile-top h2 {
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
	font-size: 35px;
	font-weight:700;
	letter-spacing:2px;
	margin-top: 30px;
	margin-bottom: 0px;
}

.profile-top h2 a{
	color: #000;
}

.profile-top h2 a:hover{
	color:#aaa;
}

.profile-top h3 {
	margin: 0;
	font-size: 14px;
	font-family: 'EB Garamond';
}


.user {
	width:30%;
	position: relative;
	text-align: center;
	margin: 0 auto;
}

ul.profile-options {
	position: absolute;
	bottom: 10px;
	left: 0;
	list-style:none;
	margin:0;
	padding: 0;
}


ul.profile-options li {
	float:left;
	display:block;
	margin:0;
	padding: 0;
	vertical-align: middle;
}

ul.profile-options li a, 
ul.profile-options a {
	display:inline-block;
	height: 28px;
	padding-top: 5px;
	padding-left:35px;
	
	color:#000;
	text-transform:uppercase;
	font-family: 'bebas';
	font-size: 14px;
	margin-right: 20px;
	background-position: top left;
	background-repeat: no-repeat;
	cursor:pointer;
}

ul.profile-options li a:hover, 
ul.profile-options a:hover {

}

ul.profile-options li:hover a {
	background-position: bottom left;
}


ul.profile-options li a.new-post {
	background-image: url('../../img/icons/write.png');
}

ul.profile-options li a.all-notification {
	background-image: url('../../img/icons/notifications-color.png');
}

ul.profile-options li a.my-posts {
	background-image: url('../../img/icons/posts2.png');
}

ul.profile-options li a.edit-profile {
	
}

ul.profile-options li a.follow {
	background-image: url('../../img/global/follow-colored.png');
}

ul.profile-options li a.follow.unfollow {
	background-image: url('../../img/icons/unfollow.png') !important;
}

ul.profile-options li a.new-message {
	background-image: url('../../img/icons/message-colored.png');
}

.follow-container {
	position: absolute;
	right: 0;
	bottom: 10px;
	width: 200px;
	text-align: center;
}

.follow-container>div{
	display:inline-block;
	margin-left:10px;
}

.follow-container>div:hover a{
	color:#aaa;
}

.follow-container .numbers{
	display:block;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight:bold;
	line-height: 35px;
}

.follow-container .following-link {
	color:#000;
	font-family: 'EB Garamond';
}

.follow-container .followers-link {
	color:#000;
	font-family: 'EB Garamond';
}

#followbox .modal-body .profile-container {
	padding:0 0 0 25%;
}

#followbox .modal-header .modal-title {
	font-family:'bebas';
}

#followbox .modal-body .profile-container .profile-img-container {
	float:left;
	width:150px;
	height:150px;
	margin-top:20px;
	margin-right:20px;
	overflow:hidden;
	background-position: top left;
	background-repeat: no-repeat;
	background-size:cover;
}

#followbox .modal-body .profile-container h5 {
	float:left;
	font-family: 'Montserrat', sans-serif;
	font-size:24px;
	text-transform:uppercase;
	color:#000;
	letter-spacing:2px;
	
	margin-top:50px;
}
/*activity nav (filters)*/

.activity-nav a {
	display:block;
	width:100% !important;
	font-family:'bebas';
	letter-spacing:1px;
	color:#fff;
	cursor:pointer;
	
	border-radius: 0px;
}

.activity-nav li {
	list-style:none;
	float:left;
	padding:0px 20px 2px 20px;
	margin-right:2px;
	background-color:#292929;
}
.activity-nav li:hover {
	background-color:#000;
}

.activity-nav li.left {
	border-radius: 0px 0px 0px 10px;
}

.activity-nav a.myfavorites {

}

/*Mobile Header*/
.mobile-profile-options {
width:inherit;
	position:relative;
	display:block;
	margin-top:30px;
	text-align:center;
}

.mobile-profile-options .profile-options {
	position:relative;
	display:block;
	margin:0px auto;
	text-align:center;
}

.mobile-profile-options .profile-options li {
	display:inline-block;
}

.mobile-profile-options .mobile-follow-container {
	position:relative;
	margin:0px auto;
}

/*Left Sidebar*/

.sidebar-container {
	padding-left:0px;
}

.left-sidebar {
	font-family: 'EB Garamond';
}

.left-sidebar .notifications-listing a:hover {
	color:#aaa !important;
}

.left-sidebar .notifications-listing h3 {
	font-family: 'bebas';
	font-size:21px;
	text-align:left;
	letter-spacing:4px;
	color:#000;
	border-bottom:solid 1px #000;
	padding:0 0 25px 35px;
	background-image: url('../../img/icons/notifications-lg.png');
	background-position: top left;
	background-repeat: no-repeat;
}

.left-sidebar .notifications-listing li {
	list-style:none;
	font-size:14px;
	padding:15px 0px 15px 27px;
	border-bottom:solid 1px #ccc;
}

.left-sidebar .notifications-listing li a {
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
}

.left-sidebar .notifications-listing li.new a {
	color:#df3b3c;
}

/*Likes*/
.left-sidebar .recents {
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
	
}

.left-sidebar .recents ul {
	margin: 0;
	padding: 0;
	list-style:none;
}

.left-sidebar .recentslikes ul li{
	padding: 0;
	margin: 0;
}

/*Notifications custom*/
.header-wrapper .navbar li a {
	padding: 2px 0;
}

.notifications-listing li.repost {
	background-image: url('../../img/icons/repost-notifications.png');
	background-position: center left;
	background-repeat: no-repeat;
	
}

.notifications-listing li.repost a {
	color:#32B1C6;
}

.notifications-listing li.favorite {
	background-image: url('../../img/icons/favorite-notifications.png');
	background-position: center left;
	background-repeat: no-repeat;
}

.notifications-listing li.favorite a {
	color:#968B22;
}

.notifications-listing li.new {
	background-image: url('../../img/icons/post-notifications2.png');
	background-position: center left;
	background-repeat: no-repeat;
}

.notifications-listing li.new a {
	color:#DF3B3C;
}

.notifications-listing li.comment {
	background-image: url('../../img/icons/comment-notifications.png');
	background-position: center left;
	background-repeat: no-repeat;
}

.notifications-listing li.comment a {
	color:#F38630;
}

.notifications-listing li.reply {
	background-image: url('../../img/icons/reply-notifications.png');
	background-position: center left;
	background-repeat: no-repeat;
}

.notifications-listing li.reply a {
	color:#F38630;
}

.notifications-listing li.follow {
	background-image: url('../../img/icons/follow-notifications.png');
	background-position: center left;
	background-repeat: no-repeat;
}

.notifications-listing li.follow ul li {
	display:inline;
	border-bottom:0px;
	padding:0px;
}

.notifications-listing li.follow a {
	color:#A156D1;
}

.all-notifications span a {
	font-family:'bebas' !important;
	font-size:16px !important;
	letter-spacing:2px;
	color:#000;
}

.all-notifications span:hover {
	color:#888;
}

/*Profile Listing*/

.activity-container {
	border-left: 1px solid #ccc;
	padding-bottom: 40px;
	
}

.activity-container.myposts {
	border-left:0px;
}

.activity-container .add-new {
	margin-top:66px;
	height: 220px;
	background-repeat: no-repeat;
	background-color:#fff;
	background-image: url('../../img/profile/add-post2.jpg');
	background-position: top center;
	border:0px;
	overflow:hidden;
	
	cursor:pointer;
}

.activity-container .add-new:hover {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

.activity-container .add-new a {
	display:block;
	width: 100%;
	height: 300px;
}


/*Styling them favorites*/
.activity-container h3.favorite a{
	padding-left: 25px;
	background-repeat: no-repeat;
	background-image: url('../../img/icons/favorite.png');
	background-position: left top;
}

/**Full Notifications List**/
.notifications-listing.full-list {
	padding-left:20%;
	padding-right:20%;
	margin-bottom:50px;
}

.notifications-listing.full-list a {
	font-family: 'Montserrat', sans-serif;
}

.notifications-listing.full-list li {
	list-style:none;
	padding-left:30px;
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:solid 1px #ddd;
}

/**Item Options************************************************/
	
.generic-item header {
	position: relative;
}	
.activity-container ul, .activity-container li {
	margin: 0;
	padding: 0;	
}

.activity-container .user-menu {
	position: absolute;
	left: 0;
	bottom: -4px;
	list-style:none;
	text-align: left;
	text-transform: uppercase;
	font-family:'bebas';
	padding: 1px 2px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-radius: 2px;
}

.activity-container .user-menu li.options {
		
}

.activity-container .user-menu li.options a {
	font-size: 11px;
	letter-spacing:1px;
}

.activity-container .user-menu ul.menu-listing {
	min-width:42px;
	position: absolute;
	left:-1px;
	top:-1px;
	display:none;
	list-style:none;
	background: #fff;
	padding: 2px 3px;
}

.activity-container .user-menu li.options:hover ul.menu-listing {
	display:block;	
}

.activity-container .user-menu ul.menu-listing li{
	list-style:none;
}

.activity-container .user-menu ul.menu-listing li a{
	font-size:13px;
}

.activity-container .user-menu ul.menu-listing li a:hover{
	color: #428bca;
}

.activity-container.generic-listing .generic-item .the-image {
	height:175px;
}

.activity-container.generic-listing.myposts .generic-item .the-image {
	height:240px !important;
}

/*Featured Post*/

.activity-container.generic-listing.mypost .profile-featured .generic-item  h3 {
	margin-top:20px;
}

.activity-container.generic-listing .profile-featured .generic-item  .the-image {
	height:220px;
}

/*Forms*/
/*
.post-form .form-nav {
	text-align: center;
}

.post-form .form-nav ul{
	margin: 0;
	padding: 0;
	list-style:none;
}

.post-form .form-nav ul li{
	font-family: 'bebas';
	font-size: 30px;
	display:block;
	margin: 0 20px 40px 20px;
	padding: 20px 0;
	background:#fff;
	box-shadow: 0 0 5px #ccc;
	border-radius: 3px;
}

.post-form .form-nav ul li a {
	color:#333333;
}

.post-form .form-nav ul li a.active{
	color:#428bca;;
} 

.post-form input[type=text], .post-form textarea, .post-form select {
	padding: 5px;
	background: #eeece6;
	color: #333;
	border: 2px solid #9f9f9f;
	border-radius:0;
}

.post-form textarea {
	height: 470px;
	resize: none;
}

label.error {
	color: red;
}

.form-container {
	height: 600px;
	padding: 30px;
	overflow:hidden;
	background:#fff;
	box-shadow: 0 0 5px #ccc;
	border-radius: 3px;
}

.edit-form.form-container {
	height: auto;
}

.form-container .page {
	display:inline-block;
	height: 600px;
	width: 100%;
}

.post-form  .photo-system {
	width: 100%;
}

.post-form  .photo-system .photo-chosen, .post-form  .photo-system .photo-processed {
	position: relative;
	float: left;
	width: 45%;
}
.post-form .photo-system .photo-processor {
	position: relative;
	float: left;
	width: 10%;
}
.post-form .photo-system .photo-processor img, 
.post-form .photo-system .photo-processed img, 
.post-form  .photo-system .photo-chosen img{
	width: 100%;	
}


.post-form .submit {
	margin: 20px 0;
	text-align: center;
}
.post-form .submit input {
	font-family: 'bebas';
	font-size: 30px;
	
	background:#428bca;
	padding: 20px 40px;
	margin-bottom: 20px;
	border:none;
}
*/

/***************************************
	Media Queries
*/
/*Tiny*/
@media (max-width: 479px) {
	.user {
		width:100%;
	}
	
	.user h2 {
		font-size:24px;
	}
	
	.sidebar-container {
		display:none;
	}
	
	.activity-container .add-new {
		display:none;
	}
	
	.activity-nav li {
		list-style:none;
		float:none;
		margin-bottom:2px;
		margin-right:0px;
	}
	
	.activity-nav li.left {
		border-radius: 0px;
	}
	
	.activity-container.generic-listing .generic-item .the-image{
		height: 195px;
	}
	
	.activity-container.generic-listing.myposts .generic-item .the-image{
		height: 195px !important;
	}
	
	#followbox .modal-body .profile-container {
			padding:0 0 0 10%;
	}
	
	#followbox .modal-body .profile-container h5 {
		clear:both;
		margin-top:10px;
	}
	
	.notifications-listing.full-list {
		padding-left:10px;
		padding-right:10px;
		margin-bottom:50px;
	}
	
}

/*Small*/
@media (min-width: 480px) and (max-width: 767px) {
	
	.user {
		width:100%;
	}
	
	.user h2 {
		font-size:24px;
	}
	
	.sidebar-container {
		display:none;
	}
	
	.activity-container .add-new {
		display:none;
	}
	
	.activity-container.generic-listing .generic-item .the-image{
		height: 240px !important;
	}
	
	#followbox .modal-body .profile-container h5 {
	clear:both;
	margin-top:20px;
	}
}

/*Normal*/
@media (min-width: 768px) and (max-width: 991px) {
	.user {
		width:100%;
	}
	
	.user h2 {
		font-size:24px;
	}
	
	.sidebar-container {
		display:none;
	}
	
	.activity-container .add-new {
		display:none;
	}
	
	.activity-container.generic-listing .generic-item .the-image{
		height: 240px !important;
	}
}

/*Bigger*/
@media (min-width: 992px) and (max-width: 1199px) {
	ul.profile-options li a {
	margin-right:5px !important;
	}
	
	.activity-container .add-new {
		height:186px;
		overflow:hidden;
	}
	
	.activity-container.generic-listing .generic-item .the-image{
		height: 141px !important;
	}
	
	.activity-container.generic-listing.myposts .generic-item .the-image{
		height: 195px !important;
	}
}

/*Huge*/
@media (min-width: 1200px) {
	
}  
