body,html {
	background-color: #f4f4f6;
}

body,html a{
	text-decoration:none;
}

body,html a:hover{
	text-decoration:none;
}

.header-wrapper {
	float: left;
	width: 100%;
	height: auto;
	
}


.menu-wrapper {
	width: 100%;
	height: 30px;
	background:#000;
}

.menu-wrapper .navbar {height:30px;}

.menu-wrapper .navbar .container { height: 30px; }

/*Top Menu*/
.header-wrapper .menu{
	
}

/*Top Banner*/
.header-wrapper .banner {
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('../../img/global/banner.jpg');
	height: auto;
	min-height: 200px;
	max-height: 400px;
	text-align: center;
}


.header-wrapper .banner .today {
	text-align: right;
	width: 100%;
	color: #f4f4f6;
}

.header-wrapper .banner h1 {
	width: 100%;
	height: 150px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: fit;
	background-image: url('../../img/global/logo-main.png');
	/*Switch out this image with another one once we reach a breakpoint*/
}

.header-wrapper .banner h1 span{
	display:none;
}


.header-wrapper form.search input[type="submit"] {
    position: absolute;
    top: -1000px
}

/*Footer Nav*/
.footer-container {
	float: left;
	width: 100%;
	height: 30px;
	color: #fff;
	background:#000;
	text-align: center;
}

.footer-container .footer-nav ul{
	list-style:none;
}

.footer-container .footer-nav ul li {
	display:inline-block;
	padding: 6px 5px 0 5px;
	
}
.footer-container .footer-nav ul li a {
	text-transform: uppercase;
	color: #fff;
	font-size: 10px;
	 
}

/*Filters*/
.filters-container {
	background: #eeece6;
	border-bottom: 2px solid #000;
}

.filters-container ul.category-filter {
	padding: 10px 10px 0 0;
	margin: 0 0 10px 0;
	list-style:none;
	border-right: 1px solid #000;
}

.filters-container ul.category-filter li {
	display:inline-block;
}

.filters-container ul.category-filter li a {
	display:inline-block;
	color: #000;
	text-decoration:none;
	text-transform: uppercase;
	font-weight: bold;
}

.filters-container ul.category-filter li a:hover {
	color: #9f9f9f;
}

.filters-container .sort_by_filter {
	padding: 5px;
	background: #eeece6;
	color: #9f9f9f;
	border: 2px solid #9f9f9f;
}

/**Generic Listing*/
.generic-listing {
	margin-bottom: 40px;
}

.generic-listing .generic-item {
	padding: 0 15px;
	text-align: center;
	border-bottom: 2px solid #000;
}

.generic-listing .generic-item a {
	color: #000;
	
}

.generic-listing .generic-item h3{
	padding: 20px 0 0 0;
	margin: 20px 0 0 0;
	background: url('../../img/global/x-small.png') center top no-repeat;
	word-break: break-all;
}

.generic-listing .generic-item h4{
	margin: 0;
	font-size: 15px;
}

.generic-listing .generic-item h4 span{
	font-size: 12px;
}

.generic-listing .generic-item .the-image{
	height: 150px;
	overflow:hidden;
}
.generic-listing .generic-item .the-image img{
	width: 100%;
}

.generic-listing .generic-item .the-content{
	height: 40px;
}

.generic-listing .generic-item .the-tags {
	font-weight:bold;
	height: 40px;
	margin-bottom: 10px;
}

/**Single Post*/

.single-post {
	
}

.single-post hgroup {
	text-align: center;
	border-bottom: 2px solid #000;
}

.single-post hgroup a{
	color:#000;
}

.single-post hgroup h2{
	text-transform: uppercase;
}

.single-post .the-share {
	text-align: center;
}

.single-post .the-image {
	text-align: center;
	height: 200px;
	overflow:hidden;
	-webkit-transition: height 1s;
	-moz-transition: height 1s;
	-o-transition: height 1s;
	transition: height 1s;
}
/*
.single-post .the-image:hover {
	height: 100%;
}
*/
.single-post .the-image img {
	width: 100%;
}

.single-post .the-content {
	margin-bottom: 70px;
}

.single-post .the-content .row-content{
	padding: 30px 0;
	-moz-column-gap:40px; /* Firefox */
	-webkit-column-gap:40px; /* Safari and Chrome */
	column-gap:40px;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
}

.single-post .the-content #one:first-letter {
	font-size: 30px;
}

.single-post .the-content .row-divider {
	border-bottom: 2px solid #000;
}

.single-post .the-content .row-divider .page-count {
	float: right;
	text-align: right;
}


