/*Font Import*/

@font-face {
    font-family: 'bebas';
    src: url('../../fonts/bebas/BebasNeue-webfont.eot');
    src: url('../../fonts/bebas/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/bebas/BebasNeue-webfont.woff') format('woff'),
         url('../../fonts/bebas/BebasNeue-webfont.ttf') format('truetype'),
         url('../../fonts/bebas/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*Main Styles*/
body,html {
	background-color: #f4f4f6;
}

body,html a{
	text-decoration:none;
}

body,html a:hover{
	text-decoration:none;
}

body {
	font-family: 'EB Garamond', serif;
}

button.btn, .comments input[type='submit'] {
	background-color:#333 !important;
	background-image:none !important;
	border-bottom:solid 4px #000 !important;
	border-top: 0px !important;
	border-right: 0px !important;
	border-left: 0px !important;
	font-family:'bebas';
	color:#fff;
	font-weight:100;
	letter-spacing:1px;
	
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px; 
}

button.btn:hover {
	background-color:#000 !important;
	color:#eee !important;
}

.header-wrapper {
	float: left;
	width: 100%;
	height: auto;
	
}

.menu-wrapper {
	width: 100%;
	height: 30px;
	background:#000;
}

.menu-wrapper .navbar {
	height:30px;
}

.menu-wrapper .navbar.nav-conatiner{
	border:none;
}

.menu-wrapper .navbar .container { 
	height: 30px;
	font-family: 'bebas', serif;
	letter-spacing:1px;
	font-size:15px;
}


/*The normal Menu items (About, Signin profile, etc)*/
.menu-wrapper .navbar .container ul.main-nav {
	
}
.menu-wrapper .navbar .container ul.main-nav li {
	text-align: middle;
	height: 22px;
}
.menu-wrapper .navbar .container ul.main-nav li a{
	padding: 2px 0;
	margin: 0 20px 0 0 ;
}

.menu-wrapper .navbar .container ul.main-nav li.loggedin, .menu-wrapper .navbar .container ul.navbar-right li.notifications-parent {
	margin-top: 3px;
	padding-left: 25px;
	height: 22px;
	line-height: 22px;
	background-repeat: no-repeat;
	background-position: top left;
	text-align: top;
	cursor:pointer;
}

.menu-wrapper .navbar .container ul.main-nav li.loggedin:hover, .menu-wrapper .navbar .container ul.navbar-right li.notifications-parent:hover {
	background-position: bottom left;
}

.menu-wrapper .navbar .container ul.main-nav li.loggedin:hover a, .menu-wrapper .navbar .container ul.navbar-right li.notifications-parent:hover a {
	color:#fff;
}

.menu-wrapper .navbar .container ul.main-nav li.profile {
	background-image: url('../../img/icons/profile.png');
}

.menu-wrapper .navbar .container ul.main-nav li.post {
	background-image: url('../../img/icons/post-nav.png');
}
.menu-wrapper .navbar .container ul.main-nav li.message {
	background-image: url('../../img/icons/message-nav.png');
}



/******************Notifications*/

li.notifications-parent {
	margin-top: 3px;
	margin-right:11px;
	border-right:1px solid #999;
	padding: 0 10px 0 25px !important;
	height: 22px;
	line-height: 22px;
	text-align: top;
	background-repeat: no-repeat;
	background-position: top left;
	background-image: url('../../img/icons/notifications.png');
}

li.notifications-parent>a {
	padding-top: 0;
}

li.notifications-parent:hover ul.notifications {
	display:block;
}

ul.notifications {
	position: absolute;
	display:none;
	width: 300px;
	color:#fff;
	list-style:none;
	font-size: 12px;
	margin: 0 0 0 -10px;
	padding: 10px;
	background-image: url('../../img/global/black-darker.png');
	
-moz-box-shadow:    0px 3px 3px 3px #222;
  -webkit-box-shadow: 0px 3px 3px 3px #222;
  box-shadow:         0px 3px 3px 3px #222;
}

ul.notifications>li {
	margin: 0;
	padding: 5px 3px;
	border-bottom: 1px solid #555;
	
	font-size:14px;
}

ul.notifications>li a {
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
}


ul.notifications li span.show-people {
	color:#ccc;
	display:inline-block;
}

ul.notifications li .show-people:hover ul{
	display:block;
	background:#000;
	
}

ul.notifications li ul {
	position: absolute;
	display:none;
	margin: 0;
	padding: 0;
	list-style:none;
	background:#000;
}

ul.notifications li ul li {
	margin: 0;
	padding: 3px 4px;
	display:inline-block;
}

ul.notifications li ul li a{
	margin: 0;	
}



/*Top Menu*/
.header-wrapper{
	font-family: 'EB Garamond';
}

.header-wrapper form.search {
	margin-top: 1px;
}

.header-wrapper .search input {
	font-size: 11px;
	font-style:italic;
	background:none;
	padding: 2px 5px;
	height: 22px;
	border: 1px solid #9F9F9F;
	border-radius: 10px;
	color:#fff;
}

/*Top Banner*/
.header-wrapper .banner {
	color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('../../img/global/banner.jpg');
	height: auto;
	min-height: 200px;
	max-height: 400px;
	text-align: center;
}


.header-wrapper .banner .today {
	text-align: right;
	width: 100%;
	color: #9F9F9F;
	padding-bottom:5px;
	
}

.header-wrapper .banner h1 {
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: fit;
	background-image: url('../../img/global/logo-main.png');
	/*Switch out this image with another one once we reach a breakpoint*/
}

.header-wrapper .banner h1 span{
	display:none;
}

.header-wrapper form.navbar-form {
	width: 20%;
	float: right;
	padding-right: 0;
	font-family: 'Montserrat', sans-serif;
}

.header-wrapper form.navbar-form div.search {
	width: 100%;
	
}

.header-wrapper form.search input[type="text"] {
	width: 100%;
}

.header-wrapper form.search input[type="submit"] {
    position: absolute;
    top: -1000px
}

.header-wrapper form.search .result-box {
	background-image: url('../../img/global/black-darker.png');
}

.header-wrapper form.search .result-box ul {
	margin: 0;
	padding: 10px 5px 0 5px;
	list-style:none;
}

.header-wrapper form.search .result-box ul li {
	padding-bottom:10px;
	border-bottom:solid 1px #444;
	line-height:100%;
}

.header-wrapper form.search .result-box ul li a{
	font-family:'bebas';
	font-size:16px;
	color:#fff;
	letter-spacing:1px;
}

.header-wrapper form.search .result-box ul li a:hover {
	color:#40B2FF;
}

.header-wrapper .navbar {
	background:none;
}

.header-wrapper .navbar li {
	margin-top: 3px;
}

/*Notifications custom*/
.header-wrapper .navbar li a {
	padding: 2px 0;
}
.header-wrapper .navbar li.notifications-parent li a:hover {
color:#aaa !important;
}

.header-wrapper .navbar .notifications-parent ul li {
	padding: 10px 0px 10px 27px;
	line-height:100%;
	letter-spacing:0px;
	font-family: 'EB Garamond';
}

.header-wrapper .navbar li.repost {
	background-image: url('../../img/icons/repost-notifications.png');
	background-position: center left;
	background-repeat: no-repeat;
	
}

.header-wrapper .navbar li.repost a {
	color:#32B1C6 !important;
}

.header-wrapper .navbar li.favorite {
	background-image: url('../../img/icons/favorite-notifications.png');
	background-position: center left;
	background-repeat: no-repeat;
}

.header-wrapper .navbar li.favorite a {
	color:#968B22 !important;
}

.header-wrapper .navbar li.new {
	background-image: url('../../img/icons/post-notifications.png');
	background-position: center left;
	background-repeat: no-repeat;
}

.header-wrapper .navbar li.new a {
	color:#DF3B3C !important;
}

.header-wrapper .navbar li.comment {
	background-image: url('../../img/icons/comment-notifications.png');
	background-position: center left;
	background-repeat: no-repeat;
}

.header-wrapper .navbar li.comment a {
	color:#F38630 !important;
}

.header-wrapper .navbar li.reply {
	background-image: url('../../img/icons/reply-notifications.png');
	background-position: center left;
	background-repeat: no-repeat;
}

.header-wrapper .navbar li.reply a {
	color:#F38630 !important;
}

.header-wrapper .navbar li.follow {
	background-image: url('../../img/icons/follow-notifications.png');
	background-position: center left;
	background-repeat: no-repeat;
}

.header-wrapper .navbar li.follow a {
	color:#A156D1 !important;
}

.header-wrapper .navbar .notifications-parent .all-notifications a {
	font-family:'bebas';
	font-size:16px;
}

/*********Mobile Menu*********/
#mobile-header nav.mobile-menu {	
	border-bottom:1px solid #ccc;
	background-color:#fff;
}

#mobile-header nav.mobile-menu .navbar-toggle {
	position:absolute;
	top:0px;
	left:20px;
	z-index:1000;
}

/*dropdown*/
#mobile-header nav.mobile-menu #mobile-menu {
	position:absolute;
	width:100%;
	left:0px;
	top:50px;
	background-image: url('../../img/global/black-darker.png');
}

#mobile-header nav.mobile-menu #mobile-menu ul{
margin-top:20px;
	margin-left:40px;
	font-family: 'Montserrat', sans-serif !important;
	text-transform:uppercase;
	font-size:14px;
	letter-spacing:1px;
}

#mobile-header nav.mobile-menu #mobile-menu li {
	margin-top: 3px;
	margin-bottom:15px;
	padding-left: 25px;
	height: 22px;
	line-height: 22px;
	background-repeat: no-repeat;
	background-position: bottom left;
	text-align: top;
	cursor:pointer;
	
	color:#fff;
}

#mobile-header nav.mobile-menu #mobile-menu li a{
	color:#fff;
}

#mobile-header nav.mobile-menu #mobile-menu li.profile {
	background-image: url('../../img/icons/profile.png');
}

#mobile-header nav.mobile-menu #mobile-menu li.post {
	background-image: url('../../img/icons/post-nav.png');
}
#mobile-header nav.mobile-menu #mobile-menu li.message {
	background-image: url('../../img/icons/message-nav.png');
}

#mobile-header nav.mobile-menu #mobile-menu li.notifications {
	background-image: url('../../img/icons/notifications.png');
}

#mobile-header nav.mobile-menu #mobile-menu form.navbar-form {
	width:90%;
	float:left;
	margin-left:5%;
	border:0px;
	padding:0px;
}

.mobile-logo {
	width:100% !important;
	text-align:center;
	margin-top:10px;
	margin-right:40px;
}

.mobile-logo img {
	width:150px;
	margin:0px auto;
}

/*********Mobile Filters*********/
.filters-container .mobile-filters {
	padding-top:50px;
	text-align:center;
}

.filters-container .mobile-filters button.categories-button {
	float:none;
	background-color:#444;
	border-bottom:3px solid #000;
	color:#fff;
	font-family: 'bebas', sans-serif !important;
	text-transform:uppercase;
	font-size:16px;
	letter-spacing:2px;
		
}

/*Bottom Exes*/
.footer-exes {
	width: 100%;
	height: 20px;
	background-image: url('../../img/global/x-bold.png');
	background-position: top center;
	background-repeat: no-repeat;
}

/*Footer Nav*/
.footer-container {
	float: left;
	width: 100%;
	height: 30px;
	color: #fff;
	background:#000;
	text-align: center;
}

.footer-container .footer-nav ul{
	list-style:none;
	margin-bottom:0px;
}

.footer-container .footer-nav ul li {
	display:inline-block;
	padding: 6px 5px 0 5px;
	
}
.footer-container .footer-nav ul li a {
	text-transform: uppercase;
	color: #fff;
	font-size: 10px;
	 
}

/*Filters*/
.filters-container {
	background: #eeece6;
	border-bottom: 2px solid #000;
}

.filters-container ul.category-filter {
	padding: 10px 10px 0 0;
	margin: 0 0 10px 0;
	list-style:none;
	border-right: 1px solid #000;
	letter-spacing:1px;
}

.filters-container .no-bar .category-filter {
	border-right:0px;
}

.filters-container ul.category-filter li {
	display:inline-block;	
	
}

.filters-container ul.category-filter li span.ex{
	font-family: sans-serif;
	padding: 0 5px;
}

.filters-container ul.category-filter li a {
	font-family: 'bebas';
	font-size: 17px;
	display:inline-block;
	color: #000;
	text-decoration:none;
	text-transform: uppercase;
}

.filters-container ul.category-filter li a:hover {
	color: #9f9f9f;
}

.filters-container .sort_by_filter {
	padding: 5px;
	margin-top:15px;
	background-color: #fff;
	color: #9f9f9f;
	border: 2px solid #9f9f9f;
	font-family: 'EB Garamond';
}

/**Guest Signup Modal Window*/
#guestSignup .signup-container {
	border-bottom:1px solid #ccc;
}

#guestSignup h2 {
	font-family:'bebas';
}

#guestSignup .signup-container h2 {
	margin-top:0px;
}

#guestSignup h4 {
	font-family: 'bebas', sans-serif;
	text-transform:uppercase;
	letter-spacing:1px;
}

#guestSignup .login-form {
	padding-top:20px;
	padding-bottom:30px;
	border-top:solid 1px #ddd;
}

#guestSignup label {
	display:none;
}

#guestSignup input {
	font-family: 'Montserrat', sans-serif;
	padding: 1px;
	background-color: white;
	border: 0px;
	height: 40px;
	margin-bottom:5px;
	padding-left: 5px;
	border: solid 3px #ddd;
}

#guestSignup a {
	cursor:pointer;
}

#guestSignup .email-please {
	margin:5px 0px 10px 0px;
}

#guestSignup .form-actions {
	margin:10px 0px;
}

#guestSignup button.btn {
	height:40px;
	margin-bottom:6px;
}

/**Generic Listing*/
.generic-listing {
margin-top:20px;
	margin-bottom: 40px;
}

.generic-listing .generic-item {
	padding: 0;
	text-align: center;
	border-bottom: 2px solid #000;
	margin-bottom:20px;
}

.generic-listing .generic-item a {
	color: #000;
	
}

.generic-listing .generic-item h3{
	height:38px;
	padding: 17px 0 0 0;
	margin: 0;
	background: url('../../img/global/x-small.png') center top no-repeat;
	word-break: break-all;
	font-family: 'Montserrat', sans-serif;
	font-size:18px;
	font-weight:700;
	text-transform:uppercase;
	overflow:hidden;
}

.generic-listing .generic-item span.author a {
	font-family: 'bebas';
	font-size:15px;
	text-transform:uppercase;
	letter-spacing:1px;
	color: #32b1c6;
	text-decoration:overline underline;
}

.generic-listing .generic-item span.author a:hover {
color: #2c97a3;
}

.generic-listing .generic-item span.author span {
	text-transform:none;
}

.generic-listing .generic-item h4{
	margin: 0;
	font-size: 15px;
}

.generic-listing .generic-item h4 span{
	font-size: 12px;	
}

.generic-listing .generic-item .the-image{
	width:100%;
	height: 240px;
	overflow:hidden;
	margin-top: 4px;
}

.generic-listing .generic-item .the-image a{
	display:block;
	width:100%;
	height:240px;
	background-position:center center;
	background-repeat: no-repeat;
	background-size: cover;
}


.generic-listing .generic-item.w2 .the-image{
	max-height: 300px;	
}

.generic-listing .generic-item .the-tags {
	font-family:'bebas';
	font-size:18px;
	height: 25px;
	margin-top:10px;
	margin-bottom: 10px;
}

.generic-listing .generic-item .the-tags.long {
	margin-top: 0;
	height: 35px;
}


/**Single Post*/

.single-post {
	
}

.single-post hgroup {
	position:relative;
	text-align: center;
	border-bottom: 2px solid #000;
}

.single-post hgroup a{
	color:#000;
}

.single-post hgroup a:hover{
	color:#aaa;
}

.single-post hgroup h2{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
}

.single-post hgroup h4 {
	font-family: 'EB Garamond', serif;
} 

.single-post hgroup h4 a {
	font-family: 'bebas';
	font-size:21px;
	text-transform:uppercase;
	letter-spacing:2px;
	color: #32b1c6;
	text-decoration:overline underline;
}

.single-post hgroup h4 a:hover {
	color: #2c97a3;
}

.single-post hgroup>div {
	position:absolute;
	bottom:10px;
	text-align: left;
	font-family:'bebas';
}

.single-post hgroup a.action {
	height: 30px;
	padding: 5px 0 7px 35px;
	background-repeat: no-repeat;
	background-position: top left;
}

.single-post .feature-options {
	margin-bottom:5px;
}

.single-post .admin {
	background-color:#ddd;
	margin-top:15px;
}

.single-post .admin a {
	font-family:'bebas';
	padding:0px 20px;
	cursor:pointer;
}

.single-post hgroup a.follow  {
	background-image: url('../../img/global/follow-colored.png');
}

.single-post hgroup a.message  {
	background-image: url('../../img/global/message-colored.png');
}

.single-post hgroup a:hover {
	background-position: bottom left;
}

.single-post .the-share {
	text-align: center;
}

.single-post .the-share .system-share {
	position:relative;
	font-family: 'bebas';
	margin: 20px 0;
}

.single-post .the-share .share-action {
	padding-right: 20px;
}

.single-post .the-share .share-action .description{
	position:absolute;
	display:none;
	left:0px;
	font-family: 'Montserrat', sans-serif;
	font-size:10px;
	text-align:left;
	background-image: url('../../img/global/black-darker.png');
	margin-top:5px;
	padding:10px 10px;
	z-index:10;
}

.single-post .the-share .share-action .description:before{
	content: url('../../img/global/black-pointer.png');
	position:absolute;
	width:5px;
	height:5px;
	top:-9px;
}

.single-post .the-share .share-action .fav-description:before{
	left:50px;
}

.single-post .the-share .share-action .fav-description{
	left:30%;
}

.single-post .the-share .share-action .repost-description:before{
	left:120px;
}

.single-post .the-share .share-action .repost-description{
	left:35%;
}

.single-post .the-share .share-action .like-description:before{
	left:130px;
}

.single-post .the-share .share-action .like-description{
	left:45%;
}

.single-post .the-share .share-action a{
	color:#000;
	background-repeat: no-repeat;
	background-position: top left;
	padding: 2px 0 2px 35px;
	cursor:pointer;
}

.single-post .the-share .share-action a:hover{
	background-position: bottom left;
}

.single-post .the-share .share-action.done a{
	background-position: bottom left;
}

.single-post .the-share .share-action a:hover .description{
	display:block;
}

.single-post .the-share .share-action a.fav:hover{
	color:#968b22;
}
.single-post .the-share .share-action.done a.fav{
	color:#968b22;
}

.single-post .the-share .share-action a.repost:hover{
	color:#32b1c6;
}
.single-post .the-share .share-action.done a.repost{
	color:#32b1c6;
}

.single-post .the-share .share-action.done a.like{
	color:#22b274;
}
.single-post .the-share .share-action a.like:hover{
	color:#22b274;
}

.single-post .the-share .fav {
	background-image: url('../../img/icons/favorite.png');
}
.single-post .the-share .repost {
	background-image: url('../../img/icons/repost.png');
}
.single-post .the-share .like {
	background-image: url('../../img/icons/like.png');
}

.single-post .the-share .fav-container, .single-post .the-share .repost-container {
	border-right: 1px solid #000;
	margin-right: 20px;	
}


.single-post .the-image {
	text-align: center;
	height: 400px;
	overflow:hidden;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat; 
}

.single-post .the-content {
	margin-bottom: 70px;
}

.single-post .the-content .row-content{
	font-size:18px;
	line-height:150%;
	text-align:justify;
	padding: 30px 0 10px 0;
	-moz-column-gap:40px; /* Firefox */
	-webkit-column-gap:40px; /* Safari and Chrome */
	column-gap:40px;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
}

.single-post .the-content .page-content{
	padding-left:0px !important;
	padding-right:0px !important;
}

.single-post .the-content #one:first-letter {
	font-size: 30px;
}

.single-post .the-content .row-divider {
	font-family: 'bebas';
	border-bottom: 2px solid #000;
}

.single-post .the-content .row-divider .page-count {
	float: right;
	text-align: right;
}

/*Comments*/
.single-post .the-comment-container {
	font-family: 'bebas';
	letter-spacing:1px;
	margin-bottom: 30px;	
}

.single-post .the-comment-container .comment-body {
	font-family: 'EB Garamond';
}

.single-post .the-comment-container .comment-form textarea {
	font-family: 'EB Garamond';
	padding: 5px;
	background: #eeece6;
	color: #333;
	border: 2px solid #000;
	border-radius:0;
}

.single-post .the-comment-container .vote {
	display:inline-block;
	width: 25px;
	height: 25px;
	
	background-position: top left;
	background-repeat: no-repeat;
	vertical-align: top;
}

.single-post .the-comment-container .vote.up {
	
}

.single-post .the-comment-container .vote.down {
	
}

.single-post .the-comment-container .vote span{
	display:none;
}

.single-post .the-comment-container .reply, .single-post .the-comment-container .delete, .single-post .the-comment-container .mod-del-comment {
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
	font-size:11px;
	letter-spacing:0px;
	color:#999;
	padding-right:10px;
	padding-left:10px;
	border-right:1px solid #999;
}

.single-post .the-comment-container span {
	color:#999;
}

.single-post .the-comment-container .reply, .single-post .the-comment-container .mod-del-comment {
	color:#999;
	padding-left:0px !important;
}

.single-post .the-comment-container .reply:hover, .single-post .the-comment-container .mod-del-comment:hover {
	color:#000;
	cursor:pointer;
}

.single-post .the-comment-container .delete {
	color:#f94851;
}

.single-post .the-comment-container .delete:hover {
	color:#df3b3c;
	cursor:pointer;
}

.single-post .the-comment-container ul.comments-listing {
	padding-left:0px;
}

.single-post .the-comment-container ul li {
	margin: 10px 0 20px 0;
	padding: 10px 20px 10px 20px;
	border-top: 3px solid #ccc;
	background-color:#fff;
}

.single-post .the-comment-container ul{
	list-style: none;
	list-style: none;
	padding-left:0px;
}

.single-post .the-comment-container ul li ul li {
	border-top: 1px solid #ccc;
	padding-top:20px;
	padding-bottom:0px;
}


/**SIGNUP*********************************************************/
.signup-form .email-group {
	display:none;
}


/***************************************
	Media Queries
*/
/*Tiny*/
@media (max-width: 479px) {
	/***HEADER***/
	.header-wrapper .banner {
		display:none;
	}
	
	.header-wrapper .banner h1 {
		display:none;
	}
	
	.sort_by_container {
		display:block;
		text-align:center;
	}
	
	.filters-container .sort_by_filter {
		float:none !important;
		margin:0px auto 10px auto !important;
	}
	
	/***BODY***/
	.generic-listing .generic-item .the-image{
		height: 195px;
	}
	
	.single-post .the-share .share-action .fav-description:before{
		left:50px;
	}

	.single-post .the-share .share-action .fav-description{
		left:3%;
	}

	.single-post .the-share .share-action .repost-description:before{
		left:100px;
	}

	.single-post .the-share .share-action .repost-description{
		left:15%;
	}
	
	.generic-item {
		width:100% !important;
		height: 290px !important;
	}
	
	.filters-container .mobile-filters button.categories-button {
		margin-right:0px;
	}
	
	.single-post .the-content .row-content {
	padding-left:15px;
	padding-right:15px;
		-webkit-column-gap: 0px;
	column-gap: 0px;
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
	}
	
}

/*Small*/
@media (min-width: 480px) and (max-width: 767px) {
	/***HEADER***/
	.header-wrapper .banner {
		display:none;
	}
	
	.header-wrapper .banner h1 {
		display:none;
	}
	
	.single-post .the-share .share-action .fav-description:before{
		left:65px;
	}

	.single-post .the-share .share-action .fav-description{
		left:17%;
	}

	.single-post .the-share .share-action .repost-description:before{
		left:80px;
	}

	.single-post .the-share .share-action .repost-description{
		left:35%;
	}
	
	.generic-item {
		width:100% !important;
	}
	
	.filters-container .mobile-filters button.categories-button {
		margin-right:0px;
	}

}

/*Normal*/
@media (min-width: 768px) and (max-width: 991px) {
	
	.filters-container .mobile-filters {
		padding-top:0px;
	}
	
	#mobile-header nav.mobile-menu #mobile-menu li{
		margin-right:30px;
	}
	
	.single-post .the-share .share-action .fav-description:before{
		left:60px;
	}

	.single-post .the-share .share-action .fav-description{
		left:23%;
	}

}

/*Bigger*/
@media (min-width: 992px) and (max-width: 1199px) {
	.generic-listing .generic-item .the-image{
		height: 195px;
	}
}

/*Huge*/
@media (min-width: 1200px) {

}  

