@import '../base';

@include signup_login;

html, body {
	background-color:transparent !important;
}
body {
	background-image:url('../../../../images/global/blur-lights.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	background-position:center center;
	background-attachment: fixed;
}

.errors, .alert-error {
	background-color:$red !important;
	color:$white;
	ul {
		li {
			padding:0px;
			color:$white;
		}
	}
}