@import '../base';

@include signup_login;

html, body {
	background-color:transparent !important;
}
body {
	background-image:url('../../../../images/global/blur-lights.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	background-position:center center;
	background-attachment: fixed;
}

.signup-form {

	.inputs {
		width: 80%;
		@media (max-width:$break-xs) {
			width: 95%;
		}
		margin-left: auto;
		margin-right: auto;
		position: relative;
		
		input {
			&.error {
				margin-bottom:0px !important;
				background-color:#fc9595;
				&::-webkit-input-placeholder {
					color:$white;
				}

				&:-moz-placeholder { /* Firefox 18- */
					color:$white; 
				}

				&::-moz-placeholder {  /* Firefox 19+ */
					color:$white; 
				}

				&:-ms-input-placeholder {  
					color:$white;
				}
			}
		}
		label.error {
			width:100%;
			color:$red;
		}
		// Initially hidden inputs
		#password_confirmation, #captcha, .captcha-equation {
			display: none;
		}

		span.rando {
			position: absolute;
			right: 0;
			top: 0;
			height: 50px;
			padding-right: 30px;
			padding-top: 19px;
			padding-left: 16px;
			@media (max-width:$break-xs) {
				height: 40px;
				padding-right: 30px;
				padding-top: 14px;
				padding-left: 14px;
			}
			cursor: pointer;
		}
	}
}
.errors, .alert-error {
	background-color:$red !important;
	color:$white;
	ul {
		li {
			padding:0px;
			color:$white;
		}
	}
}