@import '../base';

.feed-header {
	padding-top: 40px;
	margin-bottom: 40px;

	.row {
		position: relative;

		.feed-filter {
			position: initial;

			ul {
				position: absolute;
				right: 0;
				bottom: 0;
				margin-bottom: 0;

				.filter {
					color: lightgray;
					// Hover an un-active filter
					&:hover {
						cursor: pointer;
						color: #333;
					}
					// The active filter
					&.active {
						cursor: default;
						color: #333;
					}
				}

				li:nth-child(1), li:nth-child(2) {
					border-right: 1px solid gray;					
				}
			}
		}
	}
}

@include feed_container_widths;

.feed-container {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

	.post-container {
		width: 270px;
		height: 250px;
		margin-left: 15px;
		margin-right: 15px;
		float: left;
		position: relative;

		.post-image {
			height: 170px;
			width: 270px;

			background-color: gray;
		}

		.post-image-overlay {
			position: absolute;
			width: 100%;

			.post-author-avatar {
				height: 40px;
				width: 40px;
				border-radius: 50%;
				margin: 5px;
				background-color: lightgrey;
			}

			.post-repost-container {
				position: absolute;
				top: 0; right: 0;
				text-align: center;
				background-color: lightgray;

				.post-repost-image {
					height: 30px;
					width: 30px;
				}

				.post-repost-user-dropdown {
					position: absolute;
					top: 100%;
					right: 0;
					width: 150px;
					background-color: lightblue;
				}
			}

		}

		.post-title, .post-taglines {
			text-align: center;
		}

		.post-title {
			margin-bottom: 0;
			font-size: 1.5em;
		}

		.post-taglines {
			li:nth-child(1), li:nth-child(2) {
				border-right: 1px solid gray;
			}
		}
	}
}