@import '../base';

.feed-header {
	padding-top: 40px;
	margin-bottom: 40px;

	.row {
		position: relative;

		h1.feed-title {
			margin-bottom: 0;
		}

		.feed-filter {
			position: initial;

			ul {
				position: absolute;
				right: 0;
				bottom: 4px;  // Brought up a little to match the base of the title
				margin-bottom: 0;

				li {
					padding-left: 15px;
					padding-right: 15px;
				
					span.filter {
						color: lightgray;
						// Hover an un-active filter
						&:hover {
							cursor: pointer;
							color: #333;
						}
						// The active filter
						&.active {
							cursor: default;
							color: #333;
						}
					}
				}

				li:nth-child(1), li:nth-child(2) {
					border-right: 1px solid gray;					
				}

			}
		}
	}
}

@include feed_container_widths;

.feed-container {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

	.post-container {
		width: 270px;
		height: 250px;
		margin-left: 15px;
		margin-right: 15px;
		float: left;
		position: relative;
		display: block;

		.post-image {
			height: 170px;
			width: 270px;

			background-color: gray;
		}

		.post-image-overlay {
			position: absolute;
			width: 100%;

			.post-author-avatar {
				height: 40px;
				width: 40px;
				border-radius: 50%;
				margin: 5px;
				background-color: lightgrey;
			}

			.post-repost-container {
				position: absolute;
				top: 0; right: 0;
				padding: 3px;
				text-align: center;
				background-color: lightgray;


				.post-repost-count-container, .post-repost-image {
					display: block;
				}

				&:hover > ul.post-repost-user-dropdown {
					visibility: visible;
					opacity: 1;
					// No delay on hover
					-webkit-transition-delay: 0s;
				    -moz-transition-delay: 0s;
				    -ms-transition-delay: 0s;
				    -o-transition-delay: 0s;
				    -transition-delay: 0s;
				}

				.post-repost-image {
					height: 30px;
					width: 30px;
					// Center the repost image when the repost count expands the container.
					margin-left: auto;
					margin-right: auto;
				}

				.post-repost-count-container {
					font-size: 10px;
					.post-repost-count {
						font-size: 14px;
					}
				}

				ul.post-repost-user-dropdown {
					// Added small delay when un-hovering, seems a little smoother
					-webkit-transition: all 500ms ease-out 200ms;
				    -moz-transition: all 500ms ease-out 200ms;
				    -o-transition: all 500ms ease-out 200ms;
				    transition: all 500ms ease-out 200ms;
					visibility: hidden;
					opacity: 0;
					position: absolute;
					top: 100%;
					right: 0;
					width: 190px;
					background-color: white;

					li {
						padding: 5px;
					}
				}


			}

		}

		.post-title, .post-taglines {
			text-align: center;
		}

		.post-title {
			margin-bottom: 0;
			font-size: 1.5em;
		}

		.post-taglines {
			li:nth-child(1), li:nth-child(2) {
				border-right: 1px solid gray;
			}
		}
	}
}