@import '../base';

a:focus {
	outline: none;
}

//Profile Page headers.
.profile-header-wrapper {
	.profile-header-container {
		margin-top:20px;
		.header-left {
			h2 {
				margin-bottom:40px;
				background-position: left center;
				background-repeat: no-repeat;
				@include montserrat(bold);
				font-size:40px;
				vertical-align: middle;
				a {	
					cursor:pointer;
					span.avatar-image {
						display:inline-block;
						vertical-align: middle;
						width: 40px;
						height: 40px;
						@include border-radius(20px);
						background-position: center center;
						background-size: cover;
						background-repeat: no-repeat;
						@media (max-width:$break-xs) {
							display:block;
							clear:both;
							margin-bottom:5px;
						}
					}
				}
				@media (max-width:$break-sm) {
					font-size:21px;
					margin-top:0px;
					margin-bottom:0px;
				}
			}
		}
		.header-right {
			padding-top: 25px;
			@media (max-width:$break-sm) {
				padding-top:5px;
			}
			.follow {
				text-align: right;
				.follow-btn-container {
					margin-top:5px;
				}
				a {
					display:inline-block;
					text-align: center;
					span.count{
						@include montserrat(bold);
						display:block;
						font-size: 30px;
						@media (max-width:$break-sm) {
							font-size:17px;
						}
					}
					span.text{
						display:block;
						font-size: 13px;
						line-height:5px;
						@media (max-width:$break-sm) {
							font-size:10px;
						}
					}
					&.followers, &.following {
						text-transform: uppercase;
						@include montserrat();
						color:#000;
						text-decoration: none;
					}
					&.followers {
						margin-right: 10px;
					}
					&.following {
					}
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		.settings {
			text-align:right;
			@media (max-width:$break-xs) {
				margin-top:-10px;
			}
			a#settings {
				font-size: 10px;
				background-image:url('../../../../images/global/settings.png');
				@media (max-width:$break-xs) {
					width:30px;
					height:20px;
					border:0px;
					padding:0px;
					font-size:0px;
				}
				&:focus {
					text-decoration: none;
					color: inherit;
				}
			}
		}
		.section-selectors {
			a {
				margin-right: 20px;
				@include montserrat(bold);
				font-size: 14px;
				color: $gray;
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing:1px;
				@media (max-width:$break-xs) {
					font-size: 11px;
				}
				&:hover {
					color:$dark;
				}

				&.active {
					color:$dark;
				}
			}
			@media (max-width:$break-sm) {
				margin-top:20px;
			}
		}
		
		.border {
			.border-box {
				border-bottom: 3px solid $dark;
				padding-bottom: 7px;
			}
		}
	}
}

.profile-content-wrapper {
	.profile-content-container {

		//This one contains all of the actual content.  
		//Note: Handlebars handles all the internal templating.
		#profile-content {

			//Collection
			.collection-container {
				float: left;
				width: 74%;
				margin-right:2%;
				//Note to MAX, We will have to deal with the container widths when we do some mobile work.
				@media (max-width:$break-md) {
					width: 100%;
				}
				#collection-content {
					margin-left: auto;
  					margin-right: auto;
  					@media (max-width:$break-sm) {
						margin-left: 15px;
  						margin-right: 15px;
					}
  				
  					//Post
					@include post_listing(0);

					.post-container {
						@media (max-width:$break-lg) and (min-width:$break-lg-min) {
							width:328px;
						}
						@media (min-width:$break-lg) {
								margin-right:0px;
						}
						@media (max-width:$break-md) and (min-width:$break-md-min) {
							width:345px;
						}
						@media (max-width:$break-sm) and (min-width:$break-sm-min) {
							width:48%;
						}
						&:nth-child(even) {
							@media (max-width:$break-sm) and (min-width:$break-sm-min) {
								margin-right:2%;
								margin-left:0px;
							}
						}
						&:nth-child(odd) {
							@media (max-width:$break-sm) and (min-width:$break-sm-min) {
								margin-left:2%;
								margin-right:0px;
							}
						}
						@media (max-width:$break-xs) {
							width:100%;
							margin-left:0%;
							margin-right:0%;
						}
						.post-image {
							width:100% !important;

							@media (max-width:$break-lg) and (min-width:$break-lg-min) {
								height:206px;
							}
							@media (max-width:$break-md) and (min-width:$break-md-min) {
								height:217px;
							}
							@media (max-width:$break-sm) and (min-width:$break-sm-min) {

							}
							@media (max-width:$break-xs) {

							}
						}
					}

					.feature-item {
						margin-left:15px;
						margin-right:15px;
						margin-bottom:30px;
						@media (min-width:$break-lg) {
							margin-right:10px;
						}
						@media (max-width:$break-sm) {
							margin-left:0px;
							margin-right:0px;
						}
						.text, .image {
							height:350px; // featured post height
							@media (max-width:$break-lg) and (min-width:$break-lg-min) {
								height:310px;
							}
						}
						.text {
							background:$white;
							text-align:center;
							padding:0 40px;
							border:solid 1px $lightgray;
							@media (max-width:$break-sm) {
								height:auto;
								padding-bottom:30px;
							}
							h2 {
								@include title_listing;
								font-size:20px;
								line-height:21px;
								padding-top:40px;
								@media (max-width:$break-lg) {
									padding-top:20px;
									font-size:17px;
								}
								a {
									color:$dark;
								}
							}
							.line {
								width:20px;
								border-top:solid 1px $dark;
								margin:0px auto;
								padding:10px 0 0 0;
							}
							p.tagline {
								@include tagline_listing;
								font-size:15px;
								@media (max-width:$break-lg) {
									font-size:12px;
								}
							}
							p.excerpt {
								text-align:justify;
								font-size:14px;
								line-height:150%;
							}
						}
						.image {
							display:block;
							background-size:cover;
							background-repeat:no-repeat;
							background-position:center center;
							@media (max-width:$break-sm) {
								width: 100%;
								height:300px;
							}
						}
						.read-more {
							@include montserrat(bold);
							text-transform:uppercase;
							text-align:left;
							font-size:10px;
							letter-spacing:1px;
						}
					}

				}
			}

			.comment-container {
				float: left;
				width: 24%;
				@media screen and (max-width:$break-md) {
					display:none;
				}
				.comment-border {
					border-top: 17px solid $dark;
					margin-right: 14px;//gotta change this value on the break. somehow its a pixel off.
				}
				#comment-content {
					margin-right: 15px;
					margin-bottom: 100px;
					padding: 10px 0px 30px 18px;
					border-left: 1px solid $dark_cream;
					h3 {
						margin: 0;
						font-size: 14px;
						text-transform: uppercase;
						@include montserrat(bold);
						letter-spacing: 1px;
					}
					.comment-box {
						position: relative;
						padding: 13px 25px;
						margin: 20px 0;
						background:#fff;
						border:solid 1px $lightgray;
						@include word-break(break-all);
						span.date {
							color: $gray;
							@include montserrat;
							font-size:10px;
						}
						.inner-content {
							.where {
								color:$gray;
								padding-bottom: 14px;
								margin-bottom: 10px;
								border-bottom: 1px solid $gray;
								font-size:12px;
								a {
									text-decoration: none;
									color: $blue;
									@include montserrat(bold);
								}
							}
							.comment {
								margin-bottom: 10px;
								.readmore {
									display:block;
									margin-top: 5px;
									color:$blue;
									font-size: 10px;
									text-transform: uppercase;
									@include montserrat(bold);
								}
							}
						}
						&::before {
							position: absolute;
							content: url(../../../../images/profile/profile-comment-arrow.png);
							top: -13px;
							left:10px;
						}
					}
				}
			}

			//Generic Controls
			.generic-controls {
				padding-top: 7px;
				padding-bottom: 10px;
				margin-bottom: 23px;
				color:$gray;
				@include montserrat();
				font-size: 14px;
				letter-spacing:1px;
				a {
					text-transform: lowercase;
					text-decoration: none;
					color:$gray;
					cursor: pointer;
					&:hover {
						color:$dark;
					}
					&.active {
						color:$dark;
					}
				}
				@media (max-width:$break-xs) {
					font-size: 11px;
				}
			}

			//All other content containers
			.default-container {

				#default-content {
					&.feed {
						@include post_listing(1);
					}
					&.saves .image, &.drafts .image  {
						width:150px;
						height:103px;
						background-size:cover;
						background-position:center center;
					}
					&.saves {
						.saves-box {
							border-bottom:solid 1px $dark;
							padding:5px 0;
							.image {
								display:block;
								width:150px;
								height:103px;
							}
							.text {
								h3 {
									@include title_listing;
								}
								p {
									@include tagline_listing;
								}
							}
							.controls {
								a.remove-save {
									display:inline-block;
									float:right;
									margin-top:30px;
									background-image:url('../../../../images/global/remove.png');
								}
							}
						}
					}

					&.drafts {
						.drafts-box {
							border-bottom:solid 1px $dark;
							padding:5px 0;
							.date {
								span {
									@include montserrat;
									font-size:12px;
									color:$dark;
								}
							}
							.image {
								display:block;
								width:150px;
								height:103px;
							}
							.text {
								h3 {
									@include title_listing;
								}
								p {
									@include tagline_listing;
								}
							}
							.controls {
								text-align:right;
								a {
									display:inline-block;
								}
								.edit-draft {
									@media (max-width:$break-xs) {
										font-size:10px;
										background-size:25px 25px;
										background-position:3px center;
									}
								}
								.publish-draft {

								}
								.delete-draft {
									float:right;
									text-align:right;
									background-image:url('../../../../images/global/remove.png');
								}
							}
						}
					}

					&.following, &.followers {
						a.follow {
							position:relative;
							display:block;
							float: left;
							width: 270px;
							margin: 10px 10px;
							height: 170px;
							background-position: center center;
							background-repeat: no-repeat;
							background-size: cover;
							background-color:#ccc;//DELETE
							.follow-name {
							position:absolute;
							width:100%;
							min-height:99px;
							top:0px;
							left:0px;
							padding:5px 10px;
							color:$white;
							background-image:url('../../../../images/categories/post-image-overlay.png');
        					background-position:top;
        					background-repeat:repeat-x;
								span {
									@include montserrat;
									letter-spacing:1px;
									font-size:18px;
									@include word-break(break-all);
								}
							}
						}
					}

				}
			}


		}
	}
}

#photoModal {
	@include photo_selection;
}
