/* line 3, ../../../../../sass/v2/myprofile/feed.scss */
.feed-container {
  padding-top: 40px;
  margin-bottom: 40px;
}
/* line 7, ../../../../../sass/v2/myprofile/feed.scss */
.feed-container .row {
  position: relative;
}
/* line 10, ../../../../../sass/v2/myprofile/feed.scss */
.feed-container .row .feed-filter {
  position: initial;
}
/* line 13, ../../../../../sass/v2/myprofile/feed.scss */
.feed-container .row .feed-filter ul {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
}
/* line 19, ../../../../../sass/v2/myprofile/feed.scss */
.feed-container .row .feed-filter ul li:nth-child(1), .feed-container .row .feed-filter ul li:nth-child(2) {
  border-right: 1px solid gray;
}

@media screen and (min-width: 1230px) {
  /* line 29, ../../../../../sass/v2/myprofile/feed.scss */
  .isotope-container {
    width: 1170px;
  }
  /* line 31, ../../../../../sass/v2/myprofile/feed.scss */
  .isotope-container .post-container:nth-child(4n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 1229px) {
  /* line 38, ../../../../../sass/v2/myprofile/feed.scss */
  .isotope-container {
    width: 870px;
  }
  /* line 40, ../../../../../sass/v2/myprofile/feed.scss */
  .isotope-container .post-container:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 930px) {
  /* line 48, ../../../../../sass/v2/myprofile/feed.scss */
  .isotope-container {
    width: 570px;
  }
  /* line 50, ../../../../../sass/v2/myprofile/feed.scss */
  .isotope-container .post-container:nth-child(even) {
    margin-right: 0;
  }
}
@media screen and (max-width: 630px) {
  /* line 57, ../../../../../sass/v2/myprofile/feed.scss */
  .isotope-container {
    width: 270px;
  }
  /* line 59, ../../../../../sass/v2/myprofile/feed.scss */
  .isotope-container .post-container {
    margin-right: 0;
  }
}
/* line 65, ../../../../../sass/v2/myprofile/feed.scss */
.isotope-container {
  margin-left: auto;
  margin-right: auto;
}
/* line 71, ../../../../../sass/v2/myprofile/feed.scss */
.isotope-container .post-container {
  width: 270px;
  position: relative;
  margin-right: 30px;
}
/* line 76, ../../../../../sass/v2/myprofile/feed.scss */
.isotope-container .post-container .post-image {
  height: 170px;
  width: 270px;
  background-color: gray;
}
/* line 83, ../../../../../sass/v2/myprofile/feed.scss */
.isotope-container .post-container .post-image-overlay {
  position: absolute;
  width: 100%;
}
/* line 87, ../../../../../sass/v2/myprofile/feed.scss */
.isotope-container .post-container .post-image-overlay .post-author-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 5px;
  background-color: lightgrey;
}
/* line 95, ../../../../../sass/v2/myprofile/feed.scss */
.isotope-container .post-container .post-image-overlay .post-repost-container {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  background-color: lightgray;
}
/* line 101, ../../../../../sass/v2/myprofile/feed.scss */
.isotope-container .post-container .post-image-overlay .post-repost-container .post-repost-image {
  height: 30px;
  width: 30px;
}
/* line 106, ../../../../../sass/v2/myprofile/feed.scss */
.isotope-container .post-container .post-image-overlay .post-repost-container .post-repost-user-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 150px;
  background-color: lightblue;
}
/* line 117, ../../../../../sass/v2/myprofile/feed.scss */
.isotope-container .post-container .post-title, .isotope-container .post-container .post-taglines {
  text-align: center;
}
/* line 121, ../../../../../sass/v2/myprofile/feed.scss */
.isotope-container .post-container .post-title {
  margin-bottom: 0;
  font-size: 1.5em;
}
/* line 127, ../../../../../sass/v2/myprofile/feed.scss */
.isotope-container .post-container .post-taglines li:nth-child(1), .isotope-container .post-container .post-taglines li:nth-child(2) {
  border-right: 1px solid gray;
}
