@import '../base';//Must import this everywhere.

$border_color: #eee;

@include photo_selection;
#image-error {
	display:none !important;//are we trying to do something with this?
}

@mixin draftPublishButtons() {
	text-align: right;
	a {
		text-align: center;
		display:inline-block;
		width: 130px;
		padding: 12px 0;
		background: $blue;

		@include montserrat(normal);
		text-transform: uppercase;
		font-size: 11px;
		color:#fff;
		@media (max-width:$break-md) {
			width:auto;
			padding: 12px 15px;
		}
		@media (max-width:$break-xs) {
			padding: 5px 5px;
			font-size: 10px;
		}
		&.save-draft {
			background: #a4a4a4;
			@media (max-width:$break-sm) {
				margin-right: 1px;
			}
		}
	}
}

@mixin categoriesLink() {
	display:inline-block;
	// width: 192px;
	text-align:left;
	margin-top: 5px;
	padding: 5px 15px 3px 0px;
	color:$lightgray;

	cursor: pointer;
    @include montserrat(normal);
    text-transform:uppercase;
    font-size:13px;
    background-image:url('../../../../images/posts/cat-arrow-white.png');
    background-position:right center;
    background-repeat:no-repeat;
    background-size:10px 7px;
    @media (max-width:$break-xs) {
    	margin-top:0px;
		font-size: 8px;
		padding: 5px 15px 3px 0px;
	}
}

//Top Controls Fixed (Post Type, Category, Drafe, Publish)
.controls-wrapper {
	position: fixed;
	z-index: 4;
	top: $navbar_height;
	//height: 41px;//height of the Controls bar.
	width: 100%;
	height:41px;
	background-image:url('../../../../images/posts/black-90.png');
		@media (max-width:$break-xs) {
			height:35px;
		}	
	.controls-container {
		padding:3px 15px;
		//button reset.
		a {
			border:none;
			background:none;
			cursor: pointer;
			@include appearance(none);		
		}
		.post-category {
			text-align: center;
			a.categorization {
				@include categoriesLink();
				margin-top:3px;
			}
		}
		.draft-publish {
			@include draftPublishButtons();
			a {
				font-size:11px;
				padding:9px 15px;
				@media (max-width:$break-xs) {
					font-size:8px;
					padding:9px 10%;
				}	
			}
		}
		@media (max-width:$break-xs) {
			padding:2px 3px;
		}

		.preview {//until we finalize this feature
			.preview-button, .article-link {
				display:none;
			}
		}
	}
}

.bottom-controls-container {
	padding-bottom: 100px;
	text-align:center;
	.info {
		text-align:center;
		position:relative;
		margin-bottom:50px;
		label {
			@include label;
			position:absolute;
			bottom:-30px;
			right:40%;
			margin-top: 8px;
			margin-right: 1px;
			&:after {
				@include label_arrow_top();
				top:-13px;
			}
		}
		a.categorization {
			@include categoriesLink();
			color: $white;
			background:$dark;
			border:solid 2px $dark;
			font-size:12px;
			padding:10px 15px !important;
			margin-right:10px;
		}	
	}
	.draft-publish {
		display:block;
		padding-top:10px;
		border-top:1px solid $dark;
		@include draftPublishButtons();
		a {
			cursor: pointer;
		}
	}

}


.category-wrapper {	
	z-index: 3;
	position:fixed;
	width: 100%;
	background-image:url('../../../../images/posts/black-90.png');
	display:none;
	padding-top: 30px;
	padding-bottom: 50px;
	@media (max-width:$break-xs) {
		top:77px;
		padding-top:20px;
	}
	.category-container {
		label {
			color:#eee;
		}
		label.control-label {
			text-transform:uppercase;
			font-size:12px;
			letter-spacing:2px;
			@include montserrat(normal);
		}
		.story-type-box {
			position:relative;
			select.form-control {
				@media (max-width:$break-md) and (min-width:$break-sm-min) {
					width:33%;
				}
			}
			label.error {
				font-size:11px;
				color:$red;
				@include montserrat;
				@media (max-width:$break-xs) {
					position:absolute;
					left:15px;
					top:-15px;
				}
			}				

		}
		.category-box {
			color:$lightgray;
			ul {
				position:relative;
				display:inline-block;
				list-style: none;
				margin: 0;
				padding: 15px 0px 15px 15px;
				border:solid 1px  #525252;
				@media (max-width:$break-xs) {
					padding: 10px 0px 10px 10px;
				}
				li {
					margin: 0;
					padding: 0;
					input {

					}
					label {
						font-size:16px;
						letter-spacing:1px;
						@include garamond-italic;
						@media (max-width:$break-xs) {
							font-size:12px;
						}
					}
					label.error {
						display:none;
					}
					label.error {
						position:absolute;
						width:100%;
						display:block;
						top:-50px;
						left:300px;
						font-size:11px;
						color:$red;
						letter-spacing:0px;
						@include montserrat;
						line-height:50px;
						@media (max-width:$break-lg) {
							left:250px;
						}
						@media (max-width:$break-md) {
							left:300px;
						}
						@media (max-width:$break-xs) {
							left:-15px;
							top:-65px;
						}

					}
				}
			}
			@media (max-width:$break-md) {
				margin-top:20px;
			}
		}
		.close-category {
			border-top: solid 1px $lightgray;
			margin-top:30px;
			padding-top:30px;
			text-align:center;
			@media (max-width:$break-xs) {
				margin-bottom:150px;
			}
			a {
				background:none;
				&:hover {
					color:$blue;
					border: solid 2px $blue;
				}
			}
			@media (max-width:$break-sm) {
				margin:0px;
				padding:0px;
				border-top: 0px;
			}
		}
	}
}

.top-submit-wrapper {
	background:$lightgray;
	border-bottom:solid 1px $lightgray;
	@media (max-width:$break-md) {
		background:$white;
	}
	.top-submit-container {
		position: relative;
		margin-top: 41px;
		@media (min-width: $break-lg-min) {
			width: 100%;
			padding-left:0px;
			padding-right:0px;
		}
		@media (max-width:$break-xs) {
			margin-top: 31px;
		}
		@media screen and (min-width: 992px) {
			display: table;
			-moz-box-sizing: border-box;
		    box-sizing: border-box;
		    .row {
		    	height: 100%;
				display: table-row;
				.form-heading, .image-system {
					display: table-cell;
					height: auto;
					float: none;
				}
		    }
		}
		//Shared error styling
		.error {
			background:$white;
			color:$red;
			text-transform:none;
			margin-bottom: 8px;
			&:after {
				content:none !important;
			}
		}

		label {
			@include label;
		}

		input[type="text"] {
			@include border-radius(0);
			background: none;
			border-color: $border_color;
		}

		.form-heading {
			position:relative;
			background-color: #fff;
			@media (min-width: $break-lg-min) {
				vertical-align:middle;
			}
			.title, .tags {
				margin-left:15px;
				margin-right:15px;
			}
			.title {
				position:relative;
				@include post_page_title;
				@media (min-width: $break-lg-min) {
					margin-top:-100px;
				}
				label {
					margin-bottom: 8px;
					&:after {
						@include label_arrow_bottom();
					}
					@media (min-width: $break-lg-min) {
						position:absolute;
						top:-30px;
					}
				}
				textarea {
					text-align: center;
					height: 150px;
					@include border-radius(0);
					background: none;
					border-color: $border_color;
					font-size: 45px;
					@include montserrat(bold);
					text-transform:uppercase;
					color:$dark;
					line-height:49.5px;
					margin-left:0px;
					@media (max-width: $break-lg) and (min-width: $break-lg-min) {
						font-size:32px
					}
					@media (max-width: $break-xs) {
						font-size:24px;
					}
				}
			}

			.tags {
				margin-top: 20px;
				.tag {
					float:left;
					width: 33.33%;
					font-size: 0;
					display:inline-block;
					input {
						width: 100%;
						@include post_page_tagline;
					}
				}
				label {
					margin-top: 8px;
					margin-right: 1px;
					font-size: 12px;
					&:after {
						@include label_arrow_top();
						left: -45px;
					}
				}
				a.tags-tooltip {
					display:none;
					font-size:12px;
					border:solid 2px $blue;
					padding:2px 6px 1px 6px;
				}
			}
			@media (max-width: $break-sm) {
				padding-top:0px;
			}
		}
		.image-system {
			position:relative;
			height:0px;
			padding-top:42%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			@media (max-width:$break-md) {
	        	width: 100%;
	        	height:0px;
	        	padding-top:63%;
	        	margin:5px auto 0 auto;
	        }

			.image-select {
				position:absolute;
				left:0px;
				top:35%;
				text-align: center;
				
				margin: 0px 0;//This determines the height of the image.

				width: 100%;
				label {
					position:absolute;
					top:-40px;
					right:40%;
					margin-top: 8px;
					margin-right: 1px;
					font-size: 12px;
					&:after {
						@include label_arrow_bottom();
						left: -45px;
					}
					@media (max-width:$break-md) and (min-width:$break-sm-min) {
						right:40%;
					}
					@media (max-width:$break-xs) {
						right:30%;
					}

				}
				a {
					img {
						width:10%;
						margin-bottom: 2%;
					}
					span {
						@include montserrat(normal);
						color:#525252;
						font-size: 16px;
						text-transform: uppercase;
						letter-spacing:2px;
					}
				}
			}

			.image-edit {
				display:none;//this is displayed once you select the image.
				position: absolute;
				bottom: 20px;
				right: 20px;
				a {
					&:hover {
						color:#000;
					}
					@media (max-width:$break-sm) {
	          			font-size:11px;
	        		}
				}
			}
		}
		
	}
}

.body-submit-wrapper {
	top: -10px;
	.body-submit-container {
		margin-top: 55px;
		margin-bottom: 8px;
		.story {
			position:relative;
			label {
				@include label;
				float: right;
				margin-top: -33px;
				&:after {
					@include label_arrow_bottom();
				}
			}
			label.error {
				position:absolute;
				background:none;
				top:-5px;
				left:0px;
				font-size:11px;
				color:$red;
				text-transform:none;
				@include montserrat;
				line-height:50px;
				&:after {
					content:none;
				}
			}
			textarea {
				display:none;
				min-height: 300px;
				border: 1px solid $border_color;
				@include border-radius(0);
			}
			.text-input {
				min-height: 600px;
				border: 1px solid $border_color;
				background:#fff;
				font-size:16px;
				line-height:150%;
				text-align:left;
				padding: 25px;
				outline: none;
				
				&:after {
					padding: 25px;
				}
			}
		}
	}
}
