@import '../base';//Must import this everywhere.

$border_color: #eee;

@include photo_selection;

//Top Controls Fixed (Post Type, Category, Drafe, Publish)
.controls-wrapper {
	position: fixed;
	z-index: 4;
	top: $navbar_height;
	//height: 50px;//height of the Controls bar.
	width: 100%;
	background-image:url('../../../../images/posts/black-90.png');
	.controls-container {
		padding:15px 15px;
		//button reset.
		a {
			border:none;
			background:none;
			cursor: pointer;
			@include appearance(none);			
		}
		.post-category {
			text-align: center;
			a.categorization {
				display:inline-block;
				// width: 192px;
				text-align:left;
				margin-top: 5px;
				padding: 5px 15px 3px 0px;
				color:$lightgray;

				cursor: pointer;
		        @include montserrat(normal);
		        text-transform:uppercase;
		        font-size:13px;
		        background-image:url('../../../../images/posts/cat-arrow-white.png');
		        background-position:right center;
		        background-repeat:no-repeat;
		        background-size:10px 7px;
			}
		}
		.draft-publish {
			text-align: right;
			a {
				text-align: center;
				display:inline-block;
				width: 130px;
				padding: 12px 0;
				background: $blue;

				@include montserrat(normal);
				text-transform: uppercase;
				font-size: 11px;
				color:#fff;
				
				&.save-draft {
					margin-right: 7px;
					background: #a4a4a4;
				}
			}
		}
	}
}

.category-wrapper {	
	z-index: 3;
	position:fixed;
	width: 100%;
	background-image:url('../../../../images/posts/black-90.png');
	display:none;
	padding-top: 30px;
	padding-bottom: 50px;
	.category-container {
		label {
			color:#eee;
		}
		label.control-label {
			text-transform:uppercase;
			font-size:12px;
			letter-spacing:2px;
			@include montserrat(normal);
		}
		.story-type-box {

		}
		.category-box {
			color:$lightgray;
			ul {
				display:inline-block;
				list-style: none;
				margin: 0;
				padding: 15px 0px 15px 15px;
				border:solid 1px  #525252;
				li {
					margin: 0;
					padding: 0;
					input {

					}
					label {
						font-size:16px;
						letter-spacing:1px;
						@include garamond-italic;
					}
					label.error {
						width:100%;
					}
				}
			}
		}
		.close-category {
			border-top: solid 1px $lightgray;
			margin-top:30px;
			padding-top:30px;
			text-align:center;
			a {
				background:none;
				&:hover {
					color:$blue;
					border: solid 2px $blue;
				}
			}
		}
	}
}

.top-submit-wrapper {
	background:$lightgray;
	border-bottom:solid 1px $lightgray;
	.top-submit-container {
		position: relative;
		width: 100%;
		max-width: 1400px;		
		margin-top: 69px;
		padding-left:0px;
		padding-right:0px;
		height: 500px;//Change Min-height value based on the window.
		@media screen and (min-width: 992px) {
			display: table;
			-moz-box-sizing: border-box;
		    box-sizing: border-box;
		    .row {
		    	height: 100%;
				display: table-row;
				.form-heading, .image-system {
					display: table-cell;
					height: auto;
					float: none;
				}
		    }
		}
		//Shared error styling
		.error {
			background:$white;
			color:$red;
			padding:5px 5px !important;
			margin-bottom: 8px;
			&:after {
				content:none !important;
			}
		}

		label {
			@include label;
		}

		input[type="text"] {
			@include border-radius(0);
			background: none;
			border-color: $border_color;
		}

		.form-heading {
			position:relative;
			background-color: #fff;
			padding-top: 30px;

			.title, .tags {
				margin-left:15px;
				margin-right:15px;
			}

			.title {
				@include post_page_title;
				label {
					margin-bottom: 8px;
					&:after {
						@include label_arrow_bottom();
					}
				}
				textarea {
					text-align: center;
					height: 150px;
					@include border-radius(0);
					background: none;
					border-color: $border_color;
					font-size: 45px;
					@include montserrat(bold);
					text-transform:uppercase;
					color:$dark;
					line-height:49.5px;
					margin-left:0px;
				}
			}

			.tags {
				margin-top: 20px;
				.tag {
					float:left;
					width: 33.33%;
					font-size: 0;
					display:inline-block;
					input {
						width: 100%;
						@include post_page_tagline;
					}
				}
				label {
					margin-top: 8px;
					margin-right: 1px;
					font-size: 12px;
					&:after {
						@include label_arrow_top();
						left: -45px;
					}
				}
				a.tags-tooltip {
					font-size:12px;
					border:solid 2px $blue;
					padding:2px 6px 1px 6px;
				}
			}
		}
		.image-system {
			position:relative;
			height: 500px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;

			.image-select {
				position:absolute;
				left:0px;
				top:170px;
				text-align: center;
				
				margin: 0px 0;//This determines the height of the image.

				width: 100%;
				a {
					img {
						margin-bottom: 20px;
					}
					span {
						@include montserrat(normal);
						color:#525252;
						font-size: 16px;
						text-transform: uppercase;
						letter-spacing:2px;
					}
				}
			}

			.image-edit {
				display:none;//this is displayed once you select the image.
				position: absolute;
				bottom: 20px;
				right: 20px;
				a {
					&:hover {
						color:#000;
					}
				}
			}
		}
		
	}
}

.body-submit-wrapper {
	top: -10px;
	.body-submit-container {
		padding-top: 55px;
		padding-bottom: 55px;
		.story {
			label {
				@include label;
				float: right;
				margin-top: -33px;
				&:after {
					@include label_arrow_bottom();
				}
			}
			textarea {
				display:none;
				min-height: 300px;
				border: 1px solid $border_color;
				@include border-radius(0);
			}
			.text-input {
				min-height: 600px;
				border: 1px solid $border_color;
				background:#fff;
				font-size:16px;
				line-height:150%;
				text-align:left;
				padding: 25px;
				outline: none;
				
				&:after {
					padding: 25px;
				}
			}
		}
	}
}
