@import '../base';//Must import this everywhere.

$border_color: #a9a9a9;

//Top Controls Fixed (Post Type, Category, Drafe, Publish)
.controls-wrapper {
	position: fixed;
	top: $navbar_height;
	//height: 50px;//height of the Controls bar.
	width: 100%;
	background: #3c3c3c;
	.controls-container {
		padding: 5px inherit;
		//button reset.
		button {
			border:none;
			background:none;
			@include appearance(none);			
		}
		.post-category {
			text-align: center;
			button {
				background:#fff;
				color:#000;
			}
		}
		.draft-publish {
			text-align: right;
			button {
				display:inline-block;
				width: 130px;
				padding: 12px 0;
				background: $blue;

				@include montserrat(normal);
				text-transform: uppercase;
				font-size: 11px;
				color:#fff;
				
				&.save-draft {
					margin-right: 7px;
					background: #a4a4a4;
				}
			}
		}
	}
}

.top-submit-wrapper {
	background:#fff;
	.top-submit-container {
		padding-top: 100px;
		min-height: 600px;
		background-size: cover;
		background-repeat: no-repeat;

		//Change Min-height value based on the window.

		//Shared error styling
		.error {

		}

		label {
			@include label;
		}

		input[type="text"] {
			@include border-radius(0);
			background: none;
			border-color: $border_color;		}

		.title {
			input {
				font-size: 40px;

			}
		}

		.tldr {
			input {
				border-top: 0;
			}
			label,a {
				float: right;
			}
		}

		.image-select {
			text-align: center;
			
			margin: 50px 0;//This determines the height of the image.

			width: 100%;
			a {
				img {

				}
				span {
					@include fjalla;
					color:#343638;
					font-size: 22px;
					text-transform: uppercase;
				}
			}
		}
	}
}

.body-submit-wrapper {
	top: -10px;
	.body-submit-container {
		padding-top: 55px;
		.story {
			label {
				@include label;
				float: right;
				margin-top: -33px;
				&:after {
					content: ''
				}
			}
			textarea {
				display:none;
				@include border-radius(0);
			}
			.text-input {
				border: 1px solid $border_color;
			
				font-size:12px;
				line-height:150%;
				text-align:justify;
				padding: 25px;
				outline: none;
				
				//Not until we figure out a better js library.
				//	@include column-gap(40px);
				//	@include column-count(2);
				&:after {
					padding: 25px;
				}
			}
		}
	}
}