@import '../_base';

.post-action-bar-wrapper {
	height: $post_actionbar_height;

	.post-action-bar {
		position: fixed;
		width: 100%;
		height: $post_actionbar_height;
		z-index: 999;
		background-image:url('../../../../images/posts/black-90.png');
		padding: 15px;
		.actions-container, .comment-container {
			margin-top:5px;
		}
		.utility-container {
			padding-top:7px;
			padding-bottom:10px;
			border-right:solid 1px #525252;
			a.read {
				@include post_actions_label;
				background-image:url('../../../../images/posts/mark-read.png');
				cursor:pointer;
				margin-right:20px;
			}
			a.flag {
				@include post_actions_label;
				background-image:url('../../../../images/posts/flag.png');
				cursor:pointer;
				&:hover {
					color:$red;
				}
			}
		}
		.actions-container {
			ul {
				display:inline-block;
				list-style:none;
				text-align:right;
				li {
					float:left;
					@include post_actions;
					
					a.active {
						color: $blue;
					}
				}
			}
		}
		.comment-container {
			.comment-button {
				@include post_actions_label;
				background-image:url('../../../../images/global/comment.png');
			}
		}
		.follow-container {
			float:right;
			.follow {
				float:right;
			}
		}
	}
}

.post-heading-wrapper {
	background-color: $lightgray;
	border-bottom:solid 1px $lightgray;

	.post-heading-container {
		position: relative;
		width: 100%;
		max-width: 1400px;
		padding-left:0px;
		padding-right:0px;
		@media screen and (min-width: 992px) {
			display: table;
			-moz-box-sizing: border-box;
		    box-sizing: border-box;
		    .row {
		    	height: 100%;
				display: table-row;
				.post-heading, .post-image {
					display: table-cell;
					height: auto;
					float: none;
				}
		    }
		}

		.row {
			.post-heading {
				position:relative;
				text-align: center;
				background-color: #fff;
				padding-left:25px;
				padding-right:25px;
				h2 {
					@include post_page_title;
					padding-top:75px;
					@media screen and (max-width: 992px) {
						margin-top: 0px;
					}
				}
				.line {
					display: inline-block;
					width: 50px;
					margin-bottom: 10px;
					border-bottom: 1px solid $dark;
					margin-left: auto;
					margin-right: auto;
				}

				ul.post-taglines {
					@include post_page_tagline;
					margin-bottom: 25px;
					li {
						line-height: 12px;
					}
					li:nth-child(1), li:nth-child(2) {
						border-right: 1px solid $dark;
					}
				}

				.author {
					letter-spacing:1px;
					.author-name {
						@include montserrat(bold);
						letter-spacing:1px;			
					}
				}

				ul.post-categories {
					position: absolute;
					width:100%;
					bottom:10px;
					left:0px;
					margin-top: 100px;
					margin-bottom: 0px;
					padding-bottom: 25px;
					font-size:15px;
					letter-spacing:2px;
					@include fjalla;
					@media screen and (max-width: 992px) {
						position: relative;
						bottom:0px;
					}
					li {
						padding: 0;
						a {
							color: $dark;
						}
					}
				}
			}
			.post-image {
				height: 500px;
				background-color:#000;//temporary DELETE
				-webkit-background-size: cover;
		        -moz-background-size: cover;
		        -o-background-size: cover;
		        background-size: cover;
		        background-position: center;
			}	
		}
	}
}

.post-content-wrapper {
	background-color: $beige;

	.post-content-container {
		padding-bottom: 30px;

		.post-content-page-wrapper {
			padding-left: 0px !important;
			padding-right: 0px !important;

			.post-content-page {
				font-size:20px;
				line-height:175%;
				text-align:justify;
				padding: 50px 0 10px 0;
				-moz-column-gap:40px; /* Firefox */
				-webkit-column-gap:40px; /* Safari and Chrome */
				column-gap:40px;
				-moz-column-count:2; /* Firefox */
				-webkit-column-count:2; /* Safari and Chrome */
				column-count:2;
			}
		}

		.row-divider {
			border-bottom: 3px solid $dark;

			.page-count {
				@include montserrat(bold);
				float: right;
			}
		}
	}
}

.post-comment-wrapper {
	background-color: $beige;

	.post-comment-container {
		padding-bottom:200px;
		.comments {
			textarea, .comment-body {
				font-size:16px;
				color: $dark;
			}
			span.deleted {
				color:$gray;
			}
			.form-group {
				margin-top:0px;
				margin-left: 0;
				margin-right: 0;
				label {
					@include montserrat;
					text-transform:uppercase;
					padding-bottom:5px;
				}
			}

			div.comments-listing {

				background-color: white;
				
				div.comment {
					
					border-top: 2px solid $lightgray;
					padding: 10px 20px 5px 10px;
				
					// Styles only applied to PUBLISHED comments
					&.published {
						.flag-comment, .like-comment {
							cursor: pointer;
						}
						.flag-comment {
							&:hover {
								color: $red;
							}
							&.active {
								color: $red;
							}
						}
						.like-comment {
							&:hover {
								color: $blue;
							}
							&.active {
								color: $blue;
							}
						}
					}
					// Styles only applied to DELETED comments
					&.deleted {
						color: $gray;

						div.right-col {
							.reply-links {
								a.reply {
									color: $gray;
									&:hover {
										cursor: default;
									}
								}
							}
						}
					}


					&.thread-parent {
						position:relative;
						border-top: 3px solid $gray;
						&::before {
							position:absolute;
							content:url(../../../../images/posts/comment-arrow.png);
							top:-15px;
						}
					}

					p {
						margin-top: 15px;
						margin-bottom: 15px;
					}

					div.left-col {
						float: left;
						overflow: hidden;
						margin-top:27px;
						margin-right: 10px;
						text-align: center;
						min-width: 40px;

						.flag-comment, .like-comment {
							display: inline-block;
							margin: 0px 0px 5px 0px;
							font-size: 16px;
							width: 100%;
						}
						.flag-comment {
							text-align:right;
							color:$gray;
						}
						.like-comment {
							display:inline-block;
							width:50%;
							text-align:right;
							color:$gray;
						}
						.like-comment-count {
							display:inline-block;
							margin-bottom: -15px;
							width:40%;
							color:$gray;
						}
					}

					div.right-col {
						overflow: hidden;
						.comment-body {
							margin:5px 0 10px 0;
						}
						.user {
							a {
								@include montserrat;
								cursor:pointer;
								font-size:12px;
							}
						}
						.reply-links {
							a {
								opacity: .75;
								padding:0 10px;
								@include montserrat;
								text-transform: uppercase;
								cursor:pointer;
								&:hover {
									opacity: 1;
								}
								&.reply {
									color:$dark;
									font-size:11px;
									padding-left:0;
									border-right:solid 1px $gray;
								}
								&.delete {
									color:$red;
									font-size:10px;
								}
							}
						}
					}

				}

				div.thread-parent-divider {
					background-color: $beige;
					height: 20px;
				}				
			}
		}
	}
}