@import '../_base';

@include post_styles;

.post-action-bar-wrapper {
	height: $post_actionbar_height;

	@media (max-width:$break-sm) {
		height:35px;
	}

	.post-action-bar {
		position: fixed;
		width: 100%;
		height: $post_actionbar_height;
		z-index: 999;
		background-image:url('../../../../images/posts/black-90.png');
		padding: 3px 15px;

		@media (max-width:$break-sm) {
			height:35px;
			padding: 0px 15px;
		}
		.post-action-container {
			width:100%;
			max-width:1200px;
			margin:0px auto;
		}
		.view-count-container {
			display:none;//delete when ready
        	width:auto;
        	float:left;
            margin:0px;
            margin-top:3px;
            padding: 5px;
            background: $blue;
			-webkit-border-radius: 5px; 
			-moz-border-radius: 5px; 
			border-radius: 5px; 
            @include montserrat;
            color:$cream;
            img {
            	margin-right:1px;
            	margin-bottom:3px;
            }
            @media (max-width:$break-sm) {
            	margin-top:5px;
            	padding: 3px;
				
			}
      	}
		.actions-container, .comment-container {
			padding-top:3px;
			@media (max-width:$break-sm) {
				padding-top:5px;
			}
		}
		.actions-container {
			float:right;
			ul {
				display:inline-block;
				list-style:none;
				text-align:right;
				margin-bottom:0px;
				padding-left:0px;
				li {
					float:left;
					@include post_actions;
					a.active {
						color: $blue;
					}
					&.like {
						&>a.like-button {
			    			background-image:url('../../../../images/global/like.png');
			   		 	}
					}
					&.repost {
						&>a.repost-button {
			     			background-image:url('../../../../images/global/repost.png');
			    		}
					}
					&.save {
						&>a.save-button {
			     			background-image:url('../../../../images/global/save.png');
			    		}
					}
			     
				}
				@media (max-width: $break-xs) {
					padding-left:0px;
				}
			}
			//actions when user's looking at their own post
			ul.author {
				li {
					position:relative;
					&.like {
						&:hover ul.liker-list {
			    			display:block;
			   		 	}
					}
					&.repost {
						&:hover ul.reposter-list {
			    			display:block;
			   		 	}
					}
					cursor:default;
					&:hover {
    					background-position:left 0px;
  					}
					ul.liker-list, ul.reposter-list {
						display:none;
						position:absolute;
						left:0px;
						margin:0;
						background:url('../../../../images/global/black-80.png');
						li {
							margin:0;
							padding-left:5px;
							padding-right:5px;
							&:first-child {
								padding-top:5px;
							}
							&:last-child {
								padding-bottom:5px;
							}
							a {
								margin:0px;
								padding:5px 10px;
								@include montserrat;
								font-size:12px;
								color:$blue;
								letter-spacing:1px;
								&:hover {
									color:$blue_dark;
								}
							}
						}
					}
				}
				@media (max-width: $break-xs) {
					padding-left:0px;
				}
			}
		}
		.comment-container {
			float:right;
			margin-right:10px;
			 @media (max-width: $break-xs) {
			 	margin-right:0px;
			 }
			.comment-button {
				@include post_actions_label;
				background-image:url('../../../../images/global/comment.png');
				@media (max-width: $break-xs) {
					font-size:9px;
			    	background-size:15px 35px;
			    	height:17px;
			        padding-left:19px;
			        background-position:left 0px;
			        &:hover {
			          background-position:left -18px;
			        }
			        @media (max-width: $break-xs) {
      					font-size:7px;
      					float:right;
      					padding-right:0px;
    				}
			      }
			}
			@media (max-width: $break-xs) {
				padding-right:0px;
			}
		}
		.follow-container {
			float:left;
			.follow {
				float:right;
				font-size:11px;

				&.active {
					margin-top:2px;
					background-image: none;
					background: none;
					border: 0;
					color: #666;
					cursor: default;
				}
			}
		}
	}
}

.author-container {
	.author-content {
		background-color:$white;
		margin-bottom:20px;
		padding:10px 20px;
		border:solid 1px $lightgray;
		@media (max-width:$break-xs) {
			padding:10px 10px;
		}
		.author-info {
			width:50%;
			position:relative;
			display:block;
			float:left;
			span.post-author-avatar {
				position:relative;
				display:block;
				float:left;
				width:70px;
				height:70px;
				@include border-radius(35px);
				margin-right:10px;
				background-size:cover;
				background-position:center center;
				background-repeat:no-repeat;
				@media (max-width:$break-xs) {
					width:40px;
					height:40px;
					@include border-radius(20px);
				}
			}
			.author-text {
				position:relative;
				display:block;
				float:left;
				a.author-name {
					@include montserrat;
					font-size:18px;
				}
			}
			@media (max-width:$break-sm) {
				width:100%;
			}
		}
		.author-actions {
			width:50%;
			text-align:right;
			position:relative;
			display:block;
			float:left;
			a.read-more {
				display:inline-block;
				font-size:9px;
				padding:5px 10px;
				@include montserrat;
				text-transform:uppercase;
				letter-spacing:1px;
				background-color:$dark_gray;
				color:$white;
				@media (max-width:$break-xs) {
					padding:5px 5px;
					font-size:7px;
					letter-spacing:1px;
				}
			}

			a.follow-button {
				font-size:9px;
				padding:4px 10px 4px 30px;
				border:solid 1px $blue;
				@include montserrat;
				text-transform:uppercase;
				letter-spacing:1px;
				color:$white;
				background-size: 20px 20px;
				@media (min-width:$break-sm-min)  {
					margin-top:3px;
				}
				@media (max-width:$break-xs) {
					margin-top:3px;
					padding:4px 5px 4px 20px;
					font-size:7px;
					letter-spacing:1px;
					background-position:center left;
				}
				&.active {
					color:$white;
					border:solid 1px $gray;
					background-color:$gray;
					background-image:url("../../../../images/global/following.png");
				}
			}

			@media (max-width:$break-sm) {
				text-align:center;
				width:100%;
				margin-top:5px;
			}
		}
	}
}

.footer-cat-container {
	.footer-cat {
    	padding-left:0px;
    	padding-right:0px;
	}
	@include footer-cat;
}

.post-comment-wrapper {
	background-color: $beige;
	.post-comment-container {
		.comments {
			margin-top:20px;
			textarea, .comment-body {
				@include garamond;
				font-size:16px;
				color: $dark;
			}
			span.deleted {
				color:$gray;
			}
			.form-group {
				margin-top:0px;
				margin-left: 0;
				margin-right: 0;
				label {
					@include montserrat;
					text-transform:uppercase;
					padding-bottom:5px;
				}
				&.pull-right {
					margin-bottom: 0 !important;
					input {
						@media (max-width:$break-xs) {
							font-size:10px;
							padding:5px 10px;
						}
					}
				}
			}

			div.comments-listing {

				background-color: white;
				
				div.comment {
					
					border-top: 2px solid $lightgray;
					padding: 10px 20px 5px 10px;
					@include transition (background-color, 3s, linear, 0s);
				
					// Styles only applied to PUBLISHED comments
					&.published {
						.flag-comment, .like-comment {
							cursor: pointer;
						}
						.flag-comment {
							float:right;
							color:$gray;
							&:hover {
								color: $red;
							}
							&.active {
								color: $red;
							}
						}
						.like-comment {
							&:hover {
								color: $blue;
							}
							&.active {
								color: $blue;
							}
						}
					}
					// Styles only applied to DELETED comments
					&.deleted {
						color: $gray;

						div.right-col {
							.reply-links {
								a.reply, a.edit {
									color: $gray;
									&:hover {
										cursor: default;
									}
								}
							}
						}
					}

					&.target-comment {
						
						background:$blue;
					}


					&.thread-parent {
						position:relative;
						border-top: 3px solid $gray;
						&::before {
							position:absolute;
							content:url(../../../../images/posts/comment-arrow.png);
							top:-15px;
						}
					}

					p {
						margin-top: 15px;
						margin-bottom: 15px;
					}

					div.left-col {
						float: left;
						overflow: hidden;
						margin-top:27px;
						margin-right: 10px;
						text-align: center;
						min-width: 40px;

						.like-comment {
							display: inline-block;
							margin: 0px 0px 5px 0px;
							font-size: 16px;
							width: 100%;
						}
						.like-comment {
							display:inline-block;
							width:50%;
							text-align:right;
							color:$gray;
						}
						.like-comment-count {
							display:inline-block;
							margin-bottom: -15px;
							width:40%;
							color:$gray;
						}
					}

					div.right-col {
						overflow: hidden;
						.comment-body {
							margin:5px 0 10px 0;
						}
						.user {
							a {
								@include montserrat;
								cursor:pointer;
								font-size:12px;
							}
							//temporarily not displaying dates
							span.published-date {
								display:none;
							}
							span.edited-date {
								display:none;
								float: right;
								color: lightgray;
							}
						}
						.reply-links {
							a {
								opacity: .75;
								padding:0 10px;
								@include montserrat;
								text-transform: uppercase;
								cursor:pointer;
								&:hover {
									opacity: 1;
								}
								&.reply, &.edit {
									color:$dark;
									font-size:11px;
									border-right:solid 1px $gray;
								}
								&.reply {
									padding-left:0;
								}
								&.delete {
									color:$red;
									font-size:10px;
								}
							}

							form.comment-reply, form.comment-edit {
								textarea {
									border-radius: 0;	
								}
								input {
									border: 0;
								}
								span.error {
									color: $red;
									font-size: 15px;
									text-align: center;
								}
							}
						}
					}

				}

				div.thread-parent-divider {
					background-color: $beige;
					height: 20px;
				}				
			}

			div.comment-loading-container {
				text-align: center;
				height: 100px;
				img {
					height: 100%;
				}
			}
		}
	}
}
//padding for footer when not signed in
.content-wrapper.guest {

}