@import '../base';

#offcanvas-admin-sidebar {
	position: fixed;
	display: none;
	top: 0;
	right: -$offcanvas_sidebar_width;
	height: 100%;
	width: $offcanvas_sidebar_width;
	z-index: 10001;
	overflow-y: auto;

	background-color: $dark;

	.post-title, ul, .post-categories-title {
		color: white !important;
	}
}

#offcanvas-admin-placeholder {
	position: fixed;
	top: 0; right: 0;
	width: 22px;
	height: 100%;
	background-color: $dark;
	z-index: 10000;

	&.sidebar-open {
		right: inherit;
	}

	.toggle-admin-sidebar {
		position: absolute;
		width: 100%;
		top: 50%;
		margin-top: -50%;
		cursor: pointer;
		color: white;
		text-align: center;
	}
}