@import '../base';

#offcanvas-admin-sidebar {
	@include offcanvas-sidebar( right, $offcanvas_sidebar_width );

	.post-title, ul, .post-categories-title {
		color: white !important;
	}
	.post-title {
		text-align: center;
	}
	a.flagged-comment, a.flagged-post-title {
		width: 100%;

		&:hover {
			color: gray;
		}

		.flagged-comment-body {
			word-wrap: break-word;
		}
	}
	button.mod-remove-flagged-post, button.mod-remove-flagged-comment {
		margin-left: 15px;
	}

	.admin-post-featured-controls {
		overflow: hidden;
		&>* {
			width: 50%;
			height: 35px;
			display: inline-block;
			border-radius: 0;
			border: 0;
			float: left;
		}
		.admin-unset-featured {
			float: right;
		}
	}

	.mod-post-controls {
		.mod-post-delete, .mod-post-undelete, .admin-edit-post, .admin-edit-post-submit {
			width: 50%;
			height: 35px;
			margin-left: 25%;
		}
	}

	.mod-user-controls {
		p {
			text-align: center;
			color: white;
		}
		button {
			width: 50%;
			height: 35px;
		}
	}

	hr {
		clear: both;
	}
}

#offcanvas-admin-placeholder {
	position: fixed;
	top: 50%; 
	right: 0;
	width: 22px;
	height: 100px;
	background-color: $gray;
	z-index: 5;

	&.sidebar-open {
		right: inherit;
	}

	.toggle-admin-sidebar {
		@include fjalla;
		font-size:12px;
		position: relative;
		width: 100%;
		padding-top: 5px;
		cursor: pointer;
		color: white;
		text-align: center;
	}
}

.category-description {

	input {
		width: 70%;
		text-align: center;
	}
}