/* line 5, ../../../../../sass/v2/_base.scss */
input, textarea, select {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  outline: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 12, ../../../../../sass/v2/_base.scss */
textarea {
  resize: none;
}

/* line 6, ../../../../../sass/v2/posts/post_form.scss */
.controls-wrapper {
  position: fixed;
  top: 30px;
  height: 50px;
  width: 100%;
  background: #000;
}
/* line 14, ../../../../../sass/v2/posts/post_form.scss */
.controls-wrapper .controls-container button {
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 19, ../../../../../sass/v2/posts/post_form.scss */
.controls-wrapper .controls-container .post-category {
  text-align: center;
}
/* line 21, ../../../../../sass/v2/posts/post_form.scss */
.controls-wrapper .controls-container .post-category button {
  background: #fff;
  color: #000;
}
/* line 26, ../../../../../sass/v2/posts/post_form.scss */
.controls-wrapper .controls-container .draft-publish {
  text-align: right;
}
/* line 28, ../../../../../sass/v2/posts/post_form.scss */
.controls-wrapper .controls-container .draft-publish button {
  width: 100px;
  background: blue;
  color: #fff;
}

/* line 37, ../../../../../sass/v2/posts/post_form.scss */
.top-submit-wrapper {
  padding-top: 100px;
  background: #000;
}
/* line 46, ../../../../../sass/v2/posts/post_form.scss */
.top-submit-wrapper .top-submit-container label {
  display: inline-block;
  padding: 3px 5px;
  margin: 3px 0;
  background: red;
  color: #fff;
  text-transform: uppercase;
  font-size: 8px;
  font-family: sans-serif;
}
/* line 50, ../../../../../sass/v2/posts/post_form.scss */
.top-submit-wrapper .top-submit-container input[type="text"] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: none;
}
/* line 56, ../../../../../sass/v2/posts/post_form.scss */
.top-submit-wrapper .top-submit-container .title input {
  font-size: 40px;
}
/* line 63, ../../../../../sass/v2/posts/post_form.scss */
.top-submit-wrapper .top-submit-container .tldr input {
  border-top: 0;
}
/* line 66, ../../../../../sass/v2/posts/post_form.scss */
.top-submit-wrapper .top-submit-container .tldr label {
  float: right;
}
/* line 71, ../../../../../sass/v2/posts/post_form.scss */
.top-submit-wrapper .top-submit-container .image-select {
  text-align: center;
  margin: 30px 0;
  width: 100%;
}
/* line 81, ../../../../../sass/v2/posts/post_form.scss */
.top-submit-wrapper .top-submit-container .image-select a span {
  color: #eee;
  font-size: 26px;
  text-transform: uppercase;
  font-family: sans-serif;
}

/* line 92, ../../../../../sass/v2/posts/post_form.scss */
.body-submit-wrapper {
  top: -10px;
}
/* line 96, ../../../../../sass/v2/posts/post_form.scss */
.body-submit-wrapper .body-submit-container .story label {
  display: inline-block;
  padding: 3px 5px;
  margin: 3px 0;
  background: red;
  color: #fff;
  text-transform: uppercase;
  font-size: 8px;
  font-family: sans-serif;
  float: right;
}
/* line 100, ../../../../../sass/v2/posts/post_form.scss */
.body-submit-wrapper .body-submit-container .story textarea {
  display: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 104, ../../../../../sass/v2/posts/post_form.scss */
.body-submit-wrapper .body-submit-container .story .text-inputs {
  border: 1px solid darkgrey;
}
/* line 107, ../../../../../sass/v2/posts/post_form.scss */
.body-submit-wrapper .body-submit-container .story .row-content {
  font-size: 12px;
  line-height: 150%;
  text-align: justify;
  padding: 30px 10px 10px 10px;
  outline: none;
}
/* line 113, ../../../../../sass/v2/posts/post_form.scss */
.body-submit-wrapper .body-submit-container .story .row-content.two-col {
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  -ms-column-gap: 40px;
  -o-column-gap: 40px;
  column-gap: 40px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
}
