/* line 24, ../../../../../sass/v2/_base.scss */
input, textarea, select {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  outline: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 31, ../../../../../sass/v2/_base.scss */
textarea {
  resize: none;
}

/* line 53, ../../../../../sass/v2/_base.scss */
.modal-backdrop.in {
  opacity: 0.95 !important;
}

/* line 56, ../../../../../sass/v2/_base.scss */
.modal-dialog {
  width: 80%;
  margin: 30px 10% 30px 10%;
}

@media (max-width: 479px) {
  /* line 60, ../../../../../sass/v2/_base.scss */
  .modal-dialog {
    width: 90%;
    margin: 10px 5% 30px 5%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 64, ../../../../../sass/v2/_base.scss */
  .modal-dialog {
    width: 90%;
    margin: 10px 5% 30px 5%;
  }
}
/* line 67, ../../../../../sass/v2/_base.scss */
.modal-dialog button.close {
  font-size: 50px;
  z-index: 100;
}

/* line 70, ../../../../../sass/v2/_base.scss */
.modal-dialog .modal-content {
  background: none;
  box-shadow: none;
  border: none;
  border-radius: none;
}

/* line 75, ../../../../../sass/v2/_base.scss */
.modal-dialog .modal-content .modal-header {
  border: none;
}

@media (max-width: 479px) {
  /* line 78, ../../../../../sass/v2/_base.scss */
  .modal-dialog .modal-content .modal-body {
    margin-top: 0 !important;
  }
}
/* line 6, ../../../../../sass/v2/posts/post_form.scss */
.controls-wrapper {
  position: fixed;
  top: 30px;
  width: 100%;
  background: #3c3c3c;
}
/* line 12, ../../../../../sass/v2/posts/post_form.scss */
.controls-wrapper .controls-container {
  padding: 5px inherit;
}
/* line 15, ../../../../../sass/v2/posts/post_form.scss */
.controls-wrapper .controls-container button {
  border: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 20, ../../../../../sass/v2/posts/post_form.scss */
.controls-wrapper .controls-container .post-category {
  text-align: center;
}
/* line 22, ../../../../../sass/v2/posts/post_form.scss */
.controls-wrapper .controls-container .post-category button {
  background: #fff;
  color: #000;
}
/* line 27, ../../../../../sass/v2/posts/post_form.scss */
.controls-wrapper .controls-container .draft-publish {
  text-align: right;
}
/* line 29, ../../../../../sass/v2/posts/post_form.scss */
.controls-wrapper .controls-container .draft-publish button {
  display: inline-block;
  width: 130px;
  padding: 12px 0;
  background: #32b1c6;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 11px;
  color: #fff;
}
/* line 40, ../../../../../sass/v2/posts/post_form.scss */
.controls-wrapper .controls-container .draft-publish button.save-draft {
  margin-right: 7px;
  background: #a4a4a4;
}

/* line 49, ../../../../../sass/v2/posts/post_form.scss */
.top-submit-wrapper {
  background: #fff;
}
/* line 51, ../../../../../sass/v2/posts/post_form.scss */
.top-submit-wrapper .top-submit-container {
  padding-top: 100px;
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 64, ../../../../../sass/v2/posts/post_form.scss */
.top-submit-wrapper .top-submit-container label {
  display: inline-block;
  padding: 3px 5px;
  margin: 3px 0;
  background: #32b1c6;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
/* line 68, ../../../../../sass/v2/posts/post_form.scss */
.top-submit-wrapper .top-submit-container input[type="text"] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: none;
  border-color: darkgrey;
}
/* line 74, ../../../../../sass/v2/posts/post_form.scss */
.top-submit-wrapper .top-submit-container .title input {
  font-size: 40px;
}
/* line 81, ../../../../../sass/v2/posts/post_form.scss */
.top-submit-wrapper .top-submit-container .tldr input {
  border-top: 0;
}
/* line 84, ../../../../../sass/v2/posts/post_form.scss */
.top-submit-wrapper .top-submit-container .tldr label, .top-submit-wrapper .top-submit-container .tldr a {
  float: right;
}
/* line 89, ../../../../../sass/v2/posts/post_form.scss */
.top-submit-wrapper .top-submit-container .image-select {
  text-align: center;
  margin: 50px 0;
  width: 100%;
}
/* line 99, ../../../../../sass/v2/posts/post_form.scss */
.top-submit-wrapper .top-submit-container .image-select a span {
  font-family: 'Fjalla One';
  color: #343638;
  font-size: 22px;
  text-transform: uppercase;
}

/* line 110, ../../../../../sass/v2/posts/post_form.scss */
.body-submit-wrapper {
  top: -10px;
}
/* line 112, ../../../../../sass/v2/posts/post_form.scss */
.body-submit-wrapper .body-submit-container {
  padding-top: 55px;
}
/* line 115, ../../../../../sass/v2/posts/post_form.scss */
.body-submit-wrapper .body-submit-container .story label {
  display: inline-block;
  padding: 3px 5px;
  margin: 3px 0;
  background: #32b1c6;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  float: right;
  margin-top: -33px;
}
/* line 119, ../../../../../sass/v2/posts/post_form.scss */
.body-submit-wrapper .body-submit-container .story label:after {
  content: "";
}
/* line 123, ../../../../../sass/v2/posts/post_form.scss */
.body-submit-wrapper .body-submit-container .story textarea {
  display: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 127, ../../../../../sass/v2/posts/post_form.scss */
.body-submit-wrapper .body-submit-container .story .text-input {
  border: 1px solid darkgrey;
  font-size: 12px;
  line-height: 150%;
  text-align: justify;
  padding: 25px;
  outline: none;
}
/* line 139, ../../../../../sass/v2/posts/post_form.scss */
.body-submit-wrapper .body-submit-container .story .text-input:after {
  padding: 25px;
}
