.post-title {
	word-break:normal !important;
	a {
		word-break:normal !important;
	}
}

.post-taglines {
	li {
		word-break:normal !important;
	}
}

.post-heading h2 {
	word-break: normal !important;
}

.featured-item h2, .featured-item ul, .featured-item p  {
	word-break: normal !important;
}

.profile-content-wrapper .feature-item h2, .profile-content-wrapper p.tagline, .profile-content-wrapper p.excerpt {
	word-break: normal !important;
}