//import the compass library
@import "compass";

//Colors
$blue: #32b1c6;
$blue_dark:#2c9ca8;
$red: #f74141;
$dark_gray: #333;
$gray: #ccc;
$lightgray: #eee;
$gray_text:#bbb;//for text over a dark background
$beige: #fff9f0;
$cream: #fff8ee;
$dark_cream: #dbd3ca;
$darker_cream: #cebfaf;
$dark: #181919;//color that's not black, but looks like black.
$black: #000;
$white: #fff;
$white_hover: #f9f9f9;

//Media Queries
$break-lg: 1199px;
$break-md: 991px;
$break-sm: 767px;
$break-xs: 479px;
//'min-width:' values
$break-lg-min: 992px;
$break-md-min: 768px;
$break-sm-min: 480px;



//Navbar*****
$navbar_height: 46px;
$offcanvas_sidebar_width: 250px;
$navbar_dropdown_menu_min_width: 250px;
$navbar_dropdown_menu_max_width: 350px;


// Post action bar height
$post_actionbar_height: 41px;

//==================Typography==================
@mixin garamond{
  font-family: 'Garamond', serif;
}
@mixin garamond-italic {
  font-family: 'Garamond Italic', Georgia, serif;
}
@mixin garamond-bold {
  font-family: 'Garamond DemiBold', Georgia, serif;
}

@mixin montserrat($weight: normal) {
	font-family: 'Montserrat', sans-serif;
	@if $weight == 'normal' {
		font-weight: 400;
	} @else if $weight == 'bold' {
		font-weight: 700;
	}
}

@mixin fjalla() {
  font-family: 'Fjalla One';
  text-transform:uppercase;
  font-weight: 400;
}

//Title and tagline typography
@mixin title_listing {
  @include montserrat(bold);
  text-transform:uppercase;
  font-size:17px;
  color:$dark;
  line-height:20px;
  @include word-break(break-all);
}

@mixin tagline_listing {
  @include garamond-italic;
  text-transform:lowercase;
  font-size:14px;
  @include word-break(break-all);
}

//TTT Defaults:
input,textarea, select {
	outline: none;
	@include border-radius(0);
  @include montserrat;
  padding:5px;
  border:solid 1px $gray;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 2px 2px 0px inset;
  background:#fdfdfd;
}

textarea {
    resize: none;
}

@mixin transition ($property, $duration, $easing, $delay) {
  -webkit-transition: $property $duration $easing $delay;
  -moz-transition: $property $duration $easing $delay;
  -o-transition: $property $duration $easing $delay;
  transition: $property $duration $easing $delay;
}

@mixin label() {
	display:inline-block;
	padding: 2px 10px 2px 15px;
	margin: 3px 0;
	
	background: $blue;//setup this color later

	color:#fff;
	text-transform: uppercase;
	font-size: 11px;
	@include montserrat();
}


//===Nav sidebar===
@mixin offcanvas-sidebar ( $side, $width ) {
  position: fixed;
  display: none;
  top: 0;
  @if $side == left {
    left: -$width;  
  }
  @if $side == right {
    right: -$width;
  }
  height: 100%;
  width: $width;
  z-index: 10001;
  overflow-y: auto;

  background-color: $dark;

  ul.sidebar-options {
    color: $white;

    li.sidebar-option, li.admin-sidebar-option {
      border-bottom:solid 1px $dark_gray;
      &.disabled {
        a {
          color: #525252;
        }
      }

      &>a {
        color: $blue;
        text-decoration: none;
      }

      // These are the actual links to toggle the sidebar options
      & > a {
        display: block;
        width: 100%;
        padding: 20px;
        color:$lightgray;
        @include montserrat(normal);
        font-size:12px;
        letter-spacing:2px;
      }

      &:nth-child(odd) {
              background-color: $black;
          }

          ul {
            padding:0px 20px 20px 20px;
          }

    }
  }
}


//==========Signup/Login==========
@mixin signup_login {
  .login-container, .signup-container, .search-container {
    background-color:$white;
    margin-top:15px;
    margin-bottom:15px;
    padding-top:30px;
    padding-bottom:50px;
    border:solid 1px $lightgray;
    @media (max-width:$break-xs) {
      padding:10px 10px 30px 10px;
    }
    .login-form, .signup-form {
      text-align:center;
      h2 {
        margin-top:10px;
        @media (max-width:$break-xs) {
          font-size:21px !important;
        }
      }
      form {
        margin-top:20px;
        @media (max-width:$break-xs) {
          margin-top:15px;
        }
        input {
          width:40%;
          height:50px;
          margin-bottom:10px;
          padding-left:20px;
          font-size:16px;
          @media (max-width:$break-sm) and (min-width:$break-sm-min) {
            width:70%;
          }

          @media (max-width:$break-xs) {
            width:47%;
            height:40px;
            margin-bottom:5px;
            padding-left:5px;
            font-size:12px;
            letter-spacing:0px;
          }
        }
        .form-actions {
          margin-top:10px;
          margin-bottom:10px;
        }
        .forgot-pw {
         
        }
        .email-subtext {
          @media (max-width:$break-xs) {
            font-size:10px;
            line-height:14px;
          }
        }
      }
      .login-disclaimer, .terms-agree {
          margin-top:30px;
          padding-top:20px;
          border-top:solid 1px $lightgray;
          font-size:12px;
          @media (max-width:$break-xs) {
            font-size:8px;
          }
        }
    }
    .signup-form {
      input {
        width:90% !important;
      }
      .email-subtext {
        margin-bottom:10px;
      }
      .captcha-numbers {
        width:90%;
        margin:0 5%;
        background:$lightgray;
        @include montserrat;
        padding:10px;
      }
    }
  }
  .redirect-other {
      a {
        @include montserrat(bold);
        font-size:12px;
      }
    }
}




//==========POST ACTIONS==========
//like,save,repost
@mixin post_actions {
  a {
      display: inline-block;
      height:25px;
      color:#fff;
      margin-left:20px;
      padding-left:25px;
      background-repeat: no-repeat;
      background-position:left 0px;
      background-size:23px 51px;
      &:hover {
        background-position:left -26px;
      }
      &.active {
        background-position:left -26px;
      }
      @media (max-width: $break-xs) {
         background-size:15px 35px;
         height:17px;
         padding-left:17px;
        &:hover {
          background-position:left -18px;
        }
        &.active {
          background-position:left -18px;
        }
      }
  }
  span {
      display: inline-block;
      height:25px;
      @include montserrat;
      font-size:10px;
      letter-spacing:1px;
      text-transform:uppercase;
      line-height:45px;
      &:hover {
        background-position:left -26px;
      }
      @media (max-width: $break-xs) {
        margin-top:-5px;
      }
  }
  .like-button {
    background-image:url('../../../../images/global/like.png');
  }
  .save-button {
    background-image:url('../../../../images/global/save.png');
  }
  .repost-button {
    background-image:url('../../../../images/global/repost.png');
  }
}
//post actions with label next to icon (see comment and read) just add bg-image
@mixin post_actions_label {
    display: inline-block;
    height:25px;
    color:$lightgray;
    padding-left:27px;
    background-repeat: no-repeat;
    background-position:left 0px;
    background-size:23px 51px;

    @include montserrat;
    font-size:10px;
    letter-spacing:1px;
    text-transform:uppercase;
    line-height:27px;
    &:hover {
      background-position:left -26px;
      color:$blue;
    }
}

@mixin extra_actions_label {
    display: inline-block;
    height:25px;
    color:$dark;
    padding-left:27px;
    background-repeat: no-repeat;
    background-position:left 0px;
    background-size:23px 51px;

    @include montserrat;
    font-size:10px;
    letter-spacing:1px;
    text-transform:uppercase;
    line-height:27px;
    &:hover {
      background-position:left -26px;
      color:$blue;
    }
    @media (max-width:$break-xs) {
      height:11px;
      font-size:7px;
      line-height:10px;
      padding-left:15px;
      background-size:10px 22px;
        &:hover {
          background-position:left -11px;
          color:$blue;
        }
    }
}

//==========POST Page Content==========

@mixin post_page_title {
  @include montserrat(bold);
  font-size: 40px;
  text-transform:uppercase;
  color:$dark;
  @include word-break(break-all);
}

@mixin post_page_tagline {
  @include garamond-italic;
  font-size:17px;
  text-transform:lowercase;
  color:$dark;
  @include word-break(break-all);
}

//shadow for nav elements
@mixin drop_shadow() {
-moz-box-shadow:    0px 1px 2px 0px #525252;
  -webkit-box-shadow: 0px 1px 2px 0px #525252;
  box-shadow:         0px 1px 2px 0px #525252;
}
//shadow for secondary dropdowns
@mixin secondary_drop_shadow() {
-moz-box-shadow:    0px 1px 1px 0px #999;
  -webkit-box-shadow: 0px 1px 1px 0px #999;
  box-shadow:         0px 1px 1px 0px #999;
}

@mixin notifications_arrow_top() {
  content: url('/images/global/notifications-arrow.png');
  position: absolute;
  top: -14px;
  left: 10px;
  width: 16px;
  height: 10px;
}

@mixin label_arrow_top() {
  content: url('/images/posts/up-pointer.png');
  position: relative;
  top: -15px;
  width: 6px;
  height: 6px;
}

@mixin label_arrow_bottom() {
  content: url('/images/posts/down-pointer.png');
  position: relative;
  top: 12px;
  width: 6px;
  height: 6px;
}

@mixin post_styles() {
  .post-heading-wrapper {
    background-color: $lightgray;
    border-bottom:solid 1px $lightgray;
    @media (max-width:$break-md) {
      background-color: $white;
      padding-bottom:20px;  
    }

    .post-heading-container {
      position: relative;

      img.no-show-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        @include opacity(0);
      }
      
      @media (min-width: $break-lg-min) {
        width: 100%;
        padding-left:0px;
        padding-right:0px;
        display: table;
        -moz-box-sizing: border-box;
          box-sizing: border-box;
          .row {
          display: table-row;
          .post-heading, .post-image {
            display: table-cell;
            height: auto;
            float: none;
            overflow: hidden;         
          }
          }
      }

      .row {
        .post-heading {
          vertical-align:middle;
          text-align: center;
          background-color: #fff;
          padding-left:25px;
          padding-right:25px;
          h2 {
            @include post_page_title;
            margin-top:-100px;
            font-size:32px;
            @media (max-width: $break-md) and (min-width: $break-sm-min) {
              margin-top:50px;
            }
            @media (max-width: $break-xs) {
              margin-top: 25px;
              margin-bottom: 0px;
              font-size:24px;
            }
          }
          .line {
            display: inline-block;
            width: 50px;
            margin-bottom: 10px;
            border-bottom: 1px solid $dark;
            margin-left: auto;
            margin-right: auto;
            @media (max-width: $break-xs) {
              width: 20px;
              margin-bottom: 5px;
            }
          }

          ul.post-taglines {
            @include post_page_tagline;
            margin-bottom: 20px;
            li {
              line-height: 12px;
            }
            li:nth-child(1), li:nth-child(2) {
              border-right: 1px solid $dark;
            }
            @media (max-width: $break-lg) and (min-width: $break-lg-min) {
              font-size:14px;
              margin-bottom: 10px;
            }
            @media (max-width: $break-xs) {
              margin-bottom: 20px;
              font-size:14px;
            }
          }

          .author {
            letter-spacing:1px;
            @include word-break(break-all);
            .author-name {
              @include montserrat(bold);
              letter-spacing:1px;     
            }
          }

          ul.post-categories {
            position: absolute;
            width:100%;
            bottom:5px;
            left:0px;
            margin-top: 100px;
            margin-bottom: 0px;
            padding-bottom: 25px;
            font-size:15px;
            letter-spacing:2px;
            @include fjalla;
            li {
              padding: 0;
              a {
                color: $dark;
              }
            }
            @media (max-width:$break-md) {
              position: relative;
              margin-top:20px;
              bottom:0px;
            }
            @media (max-width: $break-xs) {
              margin-top:10px;
              padding-bottom:10px;
              font-size:12px;
            }
          }
        }
        .post-image {
          height: 0;
          padding-top:42%;
          background-color:#000;//temporary DELETE
          -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
              background-position: center;

              @media (max-width:$break-md) {
                width: 75%;
                height:0px;
                padding-top:47.25%;
                margin:0px auto;
              }
        } 
      }
    }
  }

  .post-content-wrapper {
    background-color: $beige;

    .post-content-container {
      @media (max-width:$break-xs) {
        margin:0px 15px;
      }

      .post-content-page-wrapper {
        padding-left: 0px !important;
        padding-right: 0px !important;

        .post-content-page {
          font-size:20px;
          line-height:175%;
          text-align:justify;
          padding: 50px 0 10px 0;
          -moz-column-gap:40px; /* Firefox */
          -webkit-column-gap:40px; /* Safari and Chrome */
          column-gap:40px;
          -moz-column-count:2; /* Firefox */
          -webkit-column-count:2; /* Safari and Chrome */
          column-count:2;
          overflow: visible;

          &#one {
            &::first-letter {
              float:left;
              font-size: 70px;
              text-transform: uppercase;
              margin:.2em .15em .1em 0;
              @media (max-width:$break-lg) and (min-width:$break-md-min) {
                margin: .3em .15em .1em 0;
              }
            }
            &::first-line {

            }
          }
          @media (max-width:$break-lg) and (min-width:$break-md-min) {
            font-size:18px;
            line-height:150%;
          }
          @media (max-width:$break-md) and (min-width:$break-md-min) {
            padding-left:20px;
            padding-right:20px;
          }
          @media (max-width:$break-sm) {
            text-align:left;
            line-height:150%;
            -moz-column-gap:0px; /* Firefox */
            -webkit-column-gap:0px; /* Safari and Chrome */
            column-gap:0px;
            -moz-column-count:1 !important; /* Firefox */
            -webkit-column-count:1 !important; /* Safari and Chrome */
            column-count:1 !important;
            padding: 50px 20px 10px 20px;
          }
          @media (max-width:$break-xs) {
            font-size:18px;
            padding: 20px 0px 10px 0px;
          }
        }
      }

      .row-divider {
        border-bottom: 3px solid $dark;

        .page-count {
          @include montserrat(bold);
          float: right;
        }
      }
      

      .extra-actions {
        background-color:$white;
        padding:0 20px;
        border-left:solid 1px $lightgray;
        border-right:solid 1px $lightgray;
        @media (max-width:$break-xs) {
          padding:0 10px;
        }
        .banner-mid {
          padding:0px;
          background:$white;
          img {
            width:100%;
            height:auto;
            &.banner-mid-desktop {
              @media (max-width:$break-sm) {
                display:none;
              }
            }
            &.banner-mid-mobile {
              @media (min-width:$break-md-min) {
                display:none;
              }
              @media (max-width:$break-md-min) and (min-width:$break-xs) {
                width:70%;
                margin:0px 15%;
              }
            }
          }
        }

        .banner-bottom {
          @media (max-width:700px) and (min-width:450px) {
            background:$white;
          }
          img {
            width:100%;
            height:auto;
            &.banner-bottom-desktop {
              @media (max-width:699px) {
                display:none;
              }
            }
            &.banner-bottom-mobile {
              @media (min-width:700px) {
                display:none;
              }
              @media (max-width:700px) and (min-width:450px) {
                width:70%;
                margin:0px 15%;
              }
            }
          }
        }

        .sharing {
          padding-top:10px;
          padding-bottom:10px;
        }
        .utility-container {
          float:right;
          text-align:right;
          padding:10px 0 10px 0;
          @media (max-width:$break-sm) {
                    padding:0 0 20px 0;
                  }
          a.read {
            @include extra_actions_label;
            background-image:url('../../../../images/posts/mark-read.png');
            cursor:pointer;
            margin-right:20px;
            &.active {
              background-position: left 0 top -26px;
              color: $blue;
              cursor: default;
            }
          }
          a.flag {
            @include extra_actions_label;
            background-image:url('../../../../images/posts/flag.png');
            cursor:pointer;
            &:hover {
              color:$red;
            }
            &.active {
              background-position: left 0 top -26px;
              color:$red;
              cursor: default;
            }
          }
        }
      }
    }
  }
}
@mixin navbar_container_widths() {
  @media screen and (min-width: 768px) and (max-width: 996px) {
    width: 100%;
  }
}
//  Media queries to calculate the width of the feed (so that we can center it).
//  Based of the assumption that posts in the feed have a width of 270px and gutter
//  of 30px.
@mixin feed_container_widths() {
  margin-left: auto;
  margin-right: auto;
  // 4 items per row
  @media screen and (min-width: 1230px){  
    width: 1200px;
  }
  // 3 items per row
  @media screen and (max-width: 1229px){  
    width: 900px;   
  }
  // 2 items per row
  @media screen and (max-width: 930px){  
    width: 600px;   
  }
  // 1 item per row
  @media screen and (max-width: 630px){  
    width: 300px; 
  }
}

//category listing for footer
@mixin footer-cat {
  .footer-cat-listing {
    width:100%;
    float:left;
    overflow:hidden;
    position:relative;
    label {
      position:relative;
      display:block;
      width:100%;
      margin-bottom:5px;
      @include montserrat(bold);
      text-transform:uppercase;
      letter-spacing:2px;
      font-size:14px;
      color:$darker_cream;
      @media (max-width:$break-sm) {
        text-align:center;
      }
      @media (max-width:$break-xs) {
        font-size:12px;
      }
    }
    ul {
      position:relative;
      display:block;
      width:100%;
      list-style:none;
      margin:0;
      padding:0;
      text-align:center;
      li {
        position:relative;
        width:16.65%;
        display:block;
        float:left;
        list-style:none;
        margin:0;
        padding:0;
        @media (max-width:$break-sm) and (min-width:$break-sm-min)  {
          width:25%;
        }
        @media (max-width:$break-xs) {
          width:33.33%;
        }
        a {
          position:relative;
          display:block;
          width:100%;
          h4 {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height: 45px;
            margin:0px;
            padding-top:7px;
            text-align:center;

            @include montserrat;
            text-align:center;
            text-transform:uppercase;
            color:$white;
            letter-spacing:2px;
            font-size:9px;

            z-index:1;
            background-image: url("../../../../images/categories/post-image-overlay2.png");
            background-position: top;
            background-repeat: repeat-x;
            background-size: 2px 45px;
            @media (max-width:$break-xs) {
              font-size:8px;
            }
          }
          .cat-img {
              height:0px;
              padding:67% 0 0 0;
              background-size:cover;
              background-position:center center;
            &.adversity {
              background-image:url('../../../../images/cat-listing/adversity.jpg');
            }
            &.childhood {
              background-image:url('../../../../images/cat-listing/childhood.jpg');
            }
            &.confession {
              background-image:url('../../../../images/cat-listing/confession.jpg');
            }
            &.horror {
              background-image:url('../../../../images/cat-listing/horror.jpg');
            }
            &.intoxicated {
              background-image:url('../../../../images/cat-listing/intoxicated.jpg');
            }
            &.perspective {
              background-image:url('../../../../images/cat-listing/perspective.jpg');
            }
            &.potpourri {
              background-image:url('../../../../images/cat-listing/potpourri.jpg');
            }
            &.reality {
              background-image:url('../../../../images/cat-listing/reality.jpg');
            }
            &.relationships {
              background-image:url('../../../../images/cat-listing/relationships.jpg');
            }
            &.roaming {
              background-image:url('../../../../images/cat-listing/roaming.jpg');
            }
            &.sex {
              background-image:url('../../../../images/cat-listing/sex.jpg');
            }
             &.new {
              background-image:url('../../../../images/cat-listing/new.jpg');
            }
          }
        }        
      }
    }
  }
}

//Styling for category and sortby dropdowns
@mixin catfilter {
  .category-filter-container {
    min-width:150px;
    display: inline-block;
    position: relative;

    .category-filter-title {
      cursor: pointer;
      padding: 5px 15px 5px 5px;
      border-bottom: 5px solid $dark;
      @include montserrat(normal);
      text-transform:uppercase;
      font-size:13px;
      background-image:url('../../../../images/categories/filter-arrow.png');
      background-position:right center;
      background-repeat:no-repeat;
    }

    ul.filter-dropdown {
      position: absolute;
      top: 100%;
      width: 100%;
      display: none;
      overflow: hidden;
      z-index: 999;
      background-color: $dark;

      li {
        cursor: pointer;
        position: relative;
        border-top:solid 1px $dark_gray;
        &:nth-child(odd) {
           background-color: $black;
        }
        &:hover {
          background-color: #fff;
        }

        a {
          display: inline-block;
          height: 100%;
          width: 100%;
          padding:7px 10px;
          @include montserrat(normal);
          font-size:11px;
          color:#fff;
          letter-spacing: 1px;
           &:hover {
            color:$dark;
          }
        }
      }
    }
  }
}

//dropdowns for reposts and post options
@mixin profile-dropdowns {
  position:absolute;
  right:0px;
  display:none;
  min-width:120px;
  margin-top:7px;
  text-align:right;
  background: url('../../../../images/global/white-95.png');
  padding:5px 10px;
  border:solid 1px $lightgray;
  z-index: 5;
  @include secondary_drop_shadow();
  &::before {
    content: url('../../../../images/profile/repost-arrow.png');
    position: absolute;
    top: -14px;
    right: 10px;
    width: 7px;
    height: 10px;
  }
}

// Styling for the post (and repost) listings. $isFeed just tells whether or not to
// include the css for reposts (only used in profile feed).
@mixin post_listing( $isFeed ) {
  .post-container {
    position: relative;
    float: left;
    display: inline-block;
    width: 270px;
    height: 302px;
    margin-left: 15px;
    margin-right: 15px;
    .image-container {
      position: relative;
      width: 100%;
      height:auto;
      a.image-link2 {
        position:absolute;
        display:block;
        width:100%;
        height:100%;
       }
    }
    a.image-link {
      display:block;
      width:100%;
      height:auto;
      .top-fade {
        position:absolute;
        width: 100%;
        height:99px;
        background-image:url('../../../../images/categories/post-image-overlay.png');
        background-position:top;
        background-repeat:repeat-x;
        z-index:1;
      }
      .post-image {
        height: 170px;
        width: 270px;
        background-size:cover;
        background-position:center center;
        background-repeat:no-repeat;
      }
    }

    .post-image-overlay {
      position: absolute;
      color:#fff;
      @include garamond;
      font-size:12px;
      letter-spacing:1px;
      z-index:2;

      a {
         @include montserrat(normal);
         font-size:11px;
         letter-spacing:1px;
        .post-author-avatar {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          margin: 5px;
          background-color: lightgrey;
        }
      }

      @if $isFeed {
        .post-repost-container {
          position: absolute;
          top: 0; right: 0;
          padding: 3px;
          text-align: center;
          background-color: lightgray;


          .post-repost-count-container, .post-repost-image {
            display: block;
          }

          &:hover > ul.post-repost-user-dropdown {
            visibility: visible;
            opacity: 1;
            // No delay on hover
            -webkit-transition-delay: 0s;
              -moz-transition-delay: 0s;
              -ms-transition-delay: 0s;
              -o-transition-delay: 0s;
              -transition-delay: 0s;
          }

          .post-repost-image {
            height: 30px;
            width: 30px;
            // Center the repost image when the repost count expands the container.
            margin-left: auto;
            margin-right: auto;
          }

          .post-repost-count-container {
            font-size: 10px;
            .post-repost-count {
              font-size: 14px;
            }
          }

          ul.post-repost-user-dropdown {
            // Added small delay when un-hovering, seems a little smoother
            -webkit-transition: all 500ms ease-out 200ms;
              -moz-transition: all 500ms ease-out 200ms;
              -o-transition: all 500ms ease-out 200ms;
              transition: all 500ms ease-out 200ms;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 100%;
            right: 0;
            width: 190px;
            background-color: white;

            li {
              padding: 5px;
            }
          }
        }
      }//End of isFeed

    }

    .post-title, .post-taglines {
      text-align: center;
    }

    .post-title {
      margin-top:10px;
      margin-bottom: 3px;
      @include word-break(break-all);
      a {
        @include title_listing;
      }
    }

    .post-taglines {
      li:nth-child(1), li:nth-child(2) {
        border-right: 1px solid gray;
      }
      li {
        @include word-break(break-all);
      }
      @include tagline_listing;
    }
  }
}

@mixin notifications_style {
  .notification-container {

    a {
      display:inline-block;
      width:100%;
      padding:15px 15px 15px 30px; 
      background:$white;
      border-bottom:solid 1px $lightgray;
      border-left:solid 1px $lightgray;
      border-right:solid 1px $lightgray;
      color:$dark;
      background-position:center left;
      background-repeat:no-repeat;
      background-size:30px 19px;
      @include word-break(break-all);
      &.post {
        background-image:url('../../../../images/notifications/post-notifications.png');
      }
       &.repost {
        background-image:url('../../../../images/notifications/repost-notifications.png');
      }
      &.comment {
        background-image:url('../../../../images/notifications/comment-notifications.png');
      }
       &.reply {
        background-image:url('../../../../images/notifications/comment-notifications.png');
      }
       &.like {
        background-image:url('../../../../images/notifications/like-notifications.png');
      }
      &.follow {
        background-image:url('../../../../images/notifications/follower-notifications.png');
      }
      span {
        @include montserrat (normal);
        color:$blue;
        &.notification-post-title {
          text-transform:uppercase;
        }
      }
      &:hover {
        background-color:$white_hover;
      }
    }
  }
}

// Styling for the follow/follower and user search listings
@mixin user_listing {
  position:relative;
  display:inline-block;
  float: left;
  width: 180px;
  height: 170px;
  margin: 10px 10px;
  text-align:center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .user-avatar {
    width:120px;
    height:120px;
    margin: 0 auto;
    overflow:hidden;
    @include border-radius(60px);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width:$break-sm) and (min-width:$break-sm-min)  {
      width:90px;
      height:90px;
      @include border-radius(45px);
    }
    @media (max-width:$break-xs) {
      width:60px;
      height:60px;
      @include border-radius(30px);
    }
  }
  .user-name {
    position:relative;
    margin:0px;
    width:100%;
    padding:5px 10px;
    color:$blue;
    text-transform:none;
    @include montserrat;
    font-size:14px;
    @include word-break(break-all);
    @media (max-width:$break-sm) and (min-width:$break-sm-min)  {
      font-size:11px;
    }
    @media (max-width:$break-xs) {
      font-size:10px;
    }
  }
  @media (max-width:$break-sm) and (min-width:$break-sm-min)  {
    width:100px;
    height:100px;
  }
  @media (max-width:$break-xs) {
    width:83px;
    height:75px;
  }
}

//Photo Selection
@mixin photo_selection {
  .modal-dialog {
    @media (max-width:$break-xs) {
      padding:5px 5px;
      width: 100%;
      margin: 10px 0% 30px 0%;
    }
  }
  .photos {
    .photo-system {
      .input-append {
        input.search-query {
          width:100%;
          max-width:300px;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 1.428571429;
          color: #555;
          vertical-align: middle;
          background-color: #fff;
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
          box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
          -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
          @media (max-width:$break-sm) {
            width:74%;
            max-width:700px;
            margin-right:1%;
            float:left;
          }
        }
        .activate-search {
          padding:15px 15px;
          @media (max-width:$break-sm) {
            width:25%;
            float:left;
          }
          @media (max-width:$break-xs) {
            padding:6px 5px;
            font-size: 10px;
          }
        }
        .reset-search {
          padding:15px 15px;
          @media (max-width:$break-sm) {
            width:25%;
            float:right;
            margin-top:2px;
          }
          @media (max-width:$break-xs) {
            padding:5px 5px;
            font-size: 10px;
          }
        }
      }
      .chosen {
        margin-top:30px;
        @media (min-width:$break-md-min) {
          width:70%;
          margin:30px 15% 0 15%;
        }
        @media (max-width:$break-sm) {
          padding:5px 5px;
          font-size: 10px;
        }
      }

      .photo-results {
        margin-top:20px;
        img {

        }
         a.pager{
          display:inline-block;
          vertical-align:top;
          margin: 10px 5px;
          padding:10px 15px;
          cursor:pointer;

          @include montserrat;
          font-size:12px;
          text-transform:uppercase;
          letter-spacing:1px;
          background-color:$dark;
          color:#fff;
        }
        // a.pager.previous{
        //   border-right:1px solid #ddd;
        // }
        // a.pager.more{
        //   border-left:1px solid #ddd;
        // }
      }

      .chosen {
        .processor-container {
          .photo-processor {
            background:$dark;
            border-top:solid 1px $lightgray;
            margin-top:10px;
            h4 {
              margin-top:20px;
              margin-bottom:20px;
              @include montserrat();
              text-transform:uppercase;
              font-size:21px;
              letter-spacing:2px;
              color:$lightgray;
               @media (max-width:$break-sm) {
                font-size:14px;
                margin-top:5px;
                margin-bottom:5px;
               }
            }
            img {
              float:left;
              display:inline;
              width: 14.28%;
              opacity: 0.5;
              cursor: pointer;
              &:hover, &.active {
                opacity: 1;
              }
              &.active {
                cursor: default;
              }
            }
          }
        }
        .photo-chosen {
          width:100%;
          height:0px;
          padding-top:63%;
          overflow: hidden;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          position: relative;
          img {
            width:100%;
          }
          .loading-container {
            display: none;
            position: absolute;
            top: 10%;
            z-index: -1;
            text-align: center;
            width: 100%;
            img {
              width: 200px; 
              left: 50%;
              // margin-left: -100px;
            }
          }
        }
      }

    }
  }
}

// Loading container for loading gif seen on the featured, categories, comments, and myprofile pages
.loading-container {
  height: 200px;
  text-align: center;
  img {
    height: 100%;
  }
}


//Modal Mods
//below is straight off from the landing page.  Modify if need be.
.modal-backdrop.in {
	opacity: .98;
}

.modal-backdrop.in.half {
  opacity: 0.7;
  background-color: #000;
}

.modal-dialog {
  width: 80%;
  margin: 30px 10% 30px 10%; }
  @media (max-width: 479px) {
    .modal-dialog {
      width: 98%;
      margin: 10px 1% 30px 1%; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .modal-dialog {
      width: 90%;
      margin: 10px 5% 30px 5%; } }
  .modal-dialog button.close {
    font-size: 50px;
    z-index: 100; }
  .modal-dialog .modal-content {
    background: none;
    box-shadow: none;
    border: none;
    border-radius: none; }
    .modal-dialog .modal-content .modal-header {
      border: none; }
    @media (max-width: 479px) {
      .modal-dialog .modal-content .modal-body {
        margin-top: 0 !important; } }