//import the compass library
@import "compass";

//Colors
$blue: #32b1c6;
$red: #f74141;
$dark_gray: #383838;
$gray: #a3a3a3;
$lightgray: #eee;
$beige: #fff9f0;
$cream: #fff8ee;
$dark: #222;//color that's not black, but looks like black.



//Navbar*****
$navbar_height: 50px;
$offcanvas_sidebar_width: 300px;
$navbar_dropdown_menu_width: 350px;

// Post action bar height
$post_actionbar_height: 69px;

//Fonts
@font-face {
  font-family: 'Garamond';
  src: url('/../../fonts/garamond/garamondoldstylefs_regular_macroman/GaramondOldstyle-Regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('/../../fonts/garamond/garamondoldstylefs_regular_macroman/GaramondOldstyle-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/../../fonts/garamond/garamondoldstylefs_regular_macroman/GaramondOldstyle-Regular-webfont.woff') format('woff'), /* Modern Browsers */
       url('/../../fonts/garamond/garamondoldstylefs_regular_macroman/GaramondOldstyle-Regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/../../fonts/garamond/garamondoldstylefs_regular_macroman/GaramondOldstyle-Regular-webfont.svg#svgGaramondOldstyle-Regular-webfont') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Garamond Italic';
  src: url('/../../fonts/garamond/garamondoldstylefs_italic_macroman/GaramondOldstyle-Italic-webfont.eot'); /* IE9 Compat Modes */
  src: url('/../../fonts/garamond/garamondoldstylefs_italic_macroman/GaramondOldstyle-Italic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/../../fonts/garamond/garamondoldstylefs_italic_macroman/GaramondOldstyle-Italic-webfont.woff') format('woff'), /* Modern Browsers */
       url('/../../fonts/garamond/garamondoldstylefs_italic_macroman/GaramondOldstyle-Italic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/../../fonts/garamond/garamondoldstylefs_italic_macroman/GaramondOldstyle-Italic-webfont.svg#svgGaramondOldstyle-Italic-webfont') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Garamond DemiBold';
  src: url('/../../fonts/garamond/garamondoldstylefs_demibold_macroman/GaramondOldstyle-DemiBold-webfont.eot'); /* IE9 Compat Modes */
  src: url('/../../fonts/garamond/garamondoldstylefs_demibold_macroman/GaramondOldstyle-DemiBold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/../../fonts/garamond/garamondoldstylefs_demibold_macroman/GaramondOldstyle-DemiBold-webfont.woff') format('woff'), /* Modern Browsers */
       url('/../../fonts/garamond/garamondoldstylefs_demibold_macroman/GaramondOldstyle-DemiBold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/../../fonts/garamond/garamondoldstylefs_demibold_macroman/GaramondOldstyle-DemiBold-webfont.svg#svgGaramondOldstyle-DemiBold-webfont') format('svg'); /* Legacy iOS */
}

@mixin garamond{
  font-family: 'Garamond', serif;
}
@mixin garamond-italic {
  font-family: 'Garamond Italic', Georgia, serif;
}
@mixin garamond-bold {
  font-family: 'Garamond DemiBold', Georgia, serif;
}

@mixin montserrat($weight: normal) {
	font-family: 'Montserrat', sans-serif;
	@if $weight == 'normal' {
		font-weight: 400;
	} @else if $weight == 'bold' {
		font-weight: 700;
	}
}

@mixin fjalla() {
  font-family: 'Fjalla One';
  text-transform:uppercase;
}


//TTT Defaults:
input,textarea, select {
	outline: none;
	@include border-radius(0);
}

textarea {
    resize: none;
}

@mixin transition ($property, $duration, $easing, $delay) {
  -webkit-transition: $property $duration $easing $delay;
  -moz-transition: $property $duration $easing $delay;
  -o-transition: $property $duration $easing $delay;
  transition: $property $duration $easing $delay;
}

@mixin label() {
	display:inline-block;
	padding: 2px 10px 2px 15px;
	margin: 3px 0;
	
	background: $blue;//setup this color later

	color:#fff;
	text-transform: uppercase;
	font-size: 11px;
	@include montserrat();
}

@mixin label_arrow_top() {
  content: url('../../../../images/posts/up-pointer.png');
  position: relative;
  top: -15px;
  width: 6px;
  height: 6px;
  
}

@mixin label_arrow_bottom() {
  content: url('../../../../images/posts/down-pointer.png');
  position: relative;
  top: 12px;
  width: 6px;
  height: 6px;
}


@mixin navbar_container_widths() {
  @media screen and (min-width: 768px) and (max-width: 996px) {
    width: 100%;
  }
}
//  Media queries to calculate the width of the feed (so that we can center it).
//  Based of the assumption that posts in the feed have a width of 270px and gutter
//  of 30px.
@mixin feed_container_widths() {
  margin-left: auto;
  margin-right: auto;
  // 4 items per row
  @media screen and (min-width: 1230px){  
    width: 1200px;
  }
  // 3 items per row
  @media screen and (max-width: 1229px){  
    width: 900px;   
  }
  // 2 items per row
  @media screen and (max-width: 930px){  
    width: 600px;   
  }
  // 1 item per row
  @media screen and (max-width: 630px){  
    width: 300px; 
  }
}
//Styling for category and sortby dropdowns
@mixin catfilter {
  .category-filter-container {
    width: 150px;
    display: inline-block;
    margin: 10px;
    margin-left: 15px;
    position: relative;

    .category-filter-title {
      cursor: pointer;
      padding: 5px 15px 5px 5px;
      border-bottom: 5px solid $dark;
      @include montserrat(normal);
      text-transform:uppercase;
      font-size:13px;
      background-image:url('/../../images/categories/filter-arrow.png');
      background-position:right center;
      background-repeat:no-repeat;

    }

    ul.filter-dropdown {
      position: absolute;
      top: 100%;
      width: 100%;
      display: none;
      overflow: hidden;
      z-index: 999;
      background-color: $dark;

      li {
        cursor: pointer;
        position: relative;
        border-top:solid 1px $dark_gray;
        &:nth-child(odd) {
           background-color: #000;
        }
        &:hover {
          background-color: #fff;
        }

        a {
          display: inline-block;
          height: 100%;
          width: 100%;
          padding:7px 10px;
          @include montserrat(normal);
          font-size:11px;
          color:#fff;
          letter-spacing: 1px;
           &:hover {
            color:$dark;
          }
        }
      }
    }
  }
}
// Styling for the post (and repost) listings. $isFeed just tells whether or not to
// include the css for reposts (only used in profile feed).
@mixin post_listing( $isFeed ) {
  .post-container {
    position: relative;
    float: left;
    display: inline-block;
    width: 270px;
    height: 302px;
    margin-left: 15px;
    margin-right: 15px;
    
    .image-container {
      position: relative;
      width: 100%;
      height:auto;
      a.image-link2 {
        position:absolute;
        display:block;
        width:100%;
        height:100%;
       }
    }
    a.image-link {
      display:block;
      width:100%;
      height:auto;
      .top-fade {
        position:absolute;
        width: 100%;
        height:99px;
        background-image:url('/../../images/categories/post-image-overlay.png');
        background-position:top;
        background-repeat:repeat-x;
        z-index:1;
      }
      .post-image {
        height: 170px;
        width: 270px;
        background-color: gray;
      }
    }

    .post-image-overlay {
      position: absolute;
      color:#fff;
      @include garamond;
      font-size:12px;
      letter-spacing:1px;
      z-index:2;

      a {
         @include montserrat(normal);
         font-size:11px;
         letter-spacing:1px;
        .post-author-avatar {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          margin: 5px;
          background-color: lightgrey;
        }
      }

      @if $isFeed {
        .post-repost-container {
          position: absolute;
          top: 0; right: 0;
          padding: 3px;
          text-align: center;
          background-color: lightgray;


          .post-repost-count-container, .post-repost-image {
            display: block;
          }

          &:hover > ul.post-repost-user-dropdown {
            visibility: visible;
            opacity: 1;
            // No delay on hover
            -webkit-transition-delay: 0s;
              -moz-transition-delay: 0s;
              -ms-transition-delay: 0s;
              -o-transition-delay: 0s;
              -transition-delay: 0s;
          }

          .post-repost-image {
            height: 30px;
            width: 30px;
            // Center the repost image when the repost count expands the container.
            margin-left: auto;
            margin-right: auto;
          }

          .post-repost-count-container {
            font-size: 10px;
            .post-repost-count {
              font-size: 14px;
            }
          }

          ul.post-repost-user-dropdown {
            // Added small delay when un-hovering, seems a little smoother
            -webkit-transition: all 500ms ease-out 200ms;
              -moz-transition: all 500ms ease-out 200ms;
              -o-transition: all 500ms ease-out 200ms;
              transition: all 500ms ease-out 200ms;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 100%;
            right: 0;
            width: 190px;
            background-color: white;

            li {
              padding: 5px;
            }
          }
        }
      }//End of isFeed

    }

    .post-title, .post-taglines {
      text-align: center;
    }

    .post-title {
      margin-top:10px;
      margin-bottom: 3px;
      a {
        color:$dark;
        font-size: 17px;
        @include montserrat(bold);
        text-transform:uppercase;
        line-height: 20px;
      }
    }

    .post-taglines {
      li:nth-child(1), li:nth-child(2) {
        border-right: 1px solid gray;
      }
      @include garamond-italic;
      font-size:14px;
    }
  }
}


//Modal Mods
//below is straight off from the landing page.  Modify if need be.
.modal-backdrop.in {
	opacity: 0.95 !important;
}
.modal-dialog {
  width: 80%;
  margin: 30px 10% 30px 10%; }
  @media (max-width: 479px) {
    .modal-dialog {
      width: 90%;
      margin: 10px 5% 30px 5%; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .modal-dialog {
      width: 90%;
      margin: 10px 5% 30px 5%; } }
  .modal-dialog button.close {
    font-size: 50px;
    z-index: 100; }
  .modal-dialog .modal-content {
    background: none;
    box-shadow: none;
    border: none;
    border-radius: none; }
    .modal-dialog .modal-content .modal-header {
      border: none; }
    @media (max-width: 479px) {
      .modal-dialog .modal-content .modal-body {
        margin-top: 0 !important; } }