// Modals
// -------------------------
$modal-inner-padding:         20px !default;

$modal-title-padding:         15px !default;
$modal-title-line-height:     1.428571429 !default;

$modal-content-bg:                             none !default;
$modal-content-border-color:                   rgba(0,0,0,.2) !default;
$modal-content-fallback-border-color:          #999 !default;

$modal-backdrop-bg:           #fff !default;
$modal-header-border-color:   none !default;
$modal-footer-border-color:   none !default;