@import 'base';

.info-container {
	margin-top:20px;
	margin-bottom:50px;
	padding:10px 70px 30px 70px;
	background:$white;
	border:solid 1px $lightgray;
	border-radius: 10px;
	@media (max-width:$break-xs) {
		padding:10px 20px 30px 20px;
		margin-left:15px;
		margin-right:15px;
	}
}
h1 {
	@include montserrat();
	letter-spacing:3px;
	text-transform:uppercase;
	margin-top:30px;
	margin-bottom:20px;
	text-align:center;
	@media (max-width:$break-xs) {
		font-size:24px;
		letter-spacing:1px;
	}
}
h2 {
	@include fjalla;
	letter-spacing:3px;
	text-transform:uppercase;
}
h3 {
	text-transform: uppercase;
	@include montserrat;
	margin-top:30px;
	padding-bottom:10px;
	border-bottom:solid 1px $dark;
	@media (max-width:$break-xs) {
		font-size:18px;
		letter-spacing:1px;
		text-align:center;
	}
}
h4 {
	@include montserrat(bold);
	font-size:14px;
}
p {
	text-align:justify !important;
	strong {
		text-transform: uppercase;
		@include montserrat;
	}
}