@import 'base';
html, body {
	background-color:transparent !important;
}
body {
	background-image:url('../../../images/global/blur-lights.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	background-position:center center;
	background-attachment: fixed;
}
.info-container {
	margin-top:20px;
	margin-bottom:50px;
	padding:10px 70px 30px 70px;
	background:$white;
	border:solid 1px $lightgray;
	@media (max-width:$break-sm) {
		padding:10px 20px 30px 20px;
		margin-left:15px;
		margin-right:15px;
	}
}
.undelete-container {
	padding-top:40px;
	padding-bottom:70px;
	text-align:center;
	.line {
		width:20px;
		margin:10px auto;
		padding:0;
		border-top:solid 1px $dark;
	}
	p {
		text-align:center;
	}
	a {
		@include montserrat;
	}
}
h1 {
	@include montserrat();
	letter-spacing:3px;
	text-transform:uppercase;
	margin-top:30px;
	margin-bottom:20px;
	text-align:center;
	@media (max-width:$break-xs) {
		font-size:24px;
		letter-spacing:1px;
	}
}
h2 {
	@include fjalla;
	letter-spacing:3px;
	text-transform:uppercase;
}
h3 {
	@include montserrat;
	text-transform: capitalize;
	margin-top:30px;
	padding-bottom:10px;
	border-bottom:solid 1px $dark;
	@media (max-width:$break-xs) {
		font-size:18px;
		letter-spacing:1px;
		text-align:center;
	}
}
h4 {
	@include montserrat();
	font-size:14px;
}
p {
	text-align:justify;
	strong {
		text-transform: uppercase;
		@include montserrat;
	}
}

.contact {
	padding:20px 70px 80px 70px;
	h1 {
		@include montserrat(bold);
	}
	p {
		font-size:16px;
		text-align:center;
	}
	.emails {
		margin-top:20px;
		padding-top:20px;
		border-top:solid 1px $lightgray;
		p {
			@include montserrat;
			text-transform:uppercase;
			font-size:12px;
			letter-spacing:1px;
			a {
				@include montserrat;
				color:$blue;
				text-transform:none;
				font-size:14px;
			}
		}
	}
}

