@import 'base';
//This file stores the shared styling elements for the system.

//Garamond Typeface
@font-face {
  font-family: 'Garamond';
  src: url('../../../fonts/garamond/garamondoldstylefs_regular_macroman/GaramondOldstyle-Regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../../../fonts/garamond/garamondoldstylefs_regular_macroman/GaramondOldstyle-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../fonts/garamond/garamondoldstylefs_regular_macroman/GaramondOldstyle-Regular-webfont.woff') format('woff'), /* Modern Browsers */
       url('../../../fonts/garamond/garamondoldstylefs_regular_macroman/GaramondOldstyle-Regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../../fonts/garamond/garamondoldstylefs_regular_macroman/GaramondOldstyle-Regular-webfont.svg#svgGaramondOldstyle-Regular-webfont') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Garamond Italic';
  src: url('../../../fonts/garamond/garamondoldstylefs_italic_macroman/GaramondOldstyle-Italic-webfont.eot'); /* IE9 Compat Modes */
  src: url('../../../fonts/garamond/garamondoldstylefs_italic_macroman/GaramondOldstyle-Italic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../fonts/garamond/garamondoldstylefs_italic_macroman/GaramondOldstyle-Italic-webfont.woff') format('woff'), /* Modern Browsers */
       url('../../../fonts/garamond/garamondoldstylefs_italic_macroman/GaramondOldstyle-Italic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../../fonts/garamond/garamondoldstylefs_italic_macroman/GaramondOldstyle-Italic-webfont.svg#svgGaramondOldstyle-Italic-webfont') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Garamond DemiBold';
  src: url('../../../fonts/garamond/garamondoldstylefs_demibold_macroman/GaramondOldstyle-DemiBold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../../../fonts/garamond/garamondoldstylefs_demibold_macroman/GaramondOldstyle-DemiBold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../fonts/garamond/garamondoldstylefs_demibold_macroman/GaramondOldstyle-DemiBold-webfont.woff') format('woff'), /* Modern Browsers */
       url('../../../fonts/garamond/garamondoldstylefs_demibold_macroman/GaramondOldstyle-DemiBold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../../fonts/garamond/garamondoldstylefs_demibold_macroman/GaramondOldstyle-DemiBold-webfont.svg#svgGaramondOldstyle-DemiBold-webfont') format('svg'); /* Legacy iOS */
}

html, body {
	height: 100%;
	background-color: $cream;
	position: relative;
}

//bootstrap overwrite
.container {
	@media (min-width: 1200px) {
		width:1200px !important;
	}
}

a {
	color:$blue;
	&:hover {
		text-decoration:none;
		color:$blue_darker;
	}
}

h1, h2, h3 {
	@include trade;
}

h1, h2, h3, h4, p {
	color:$dark;
}

strong, b {
	@include garamond-bold;
}
em, i {
	@include garamond-italic;
}

body {
	@include garamond;
}

.btn {
	border-radius:0px !important;
}

//delete blue selector outline
input, textarea, button:focus {outline: none !important;}

// ================= HEADER ========================
.what-button {
	position:fixed;
	bottom:80px;
	left:0px;
	cursor: pointer;
	display: inline-block;
	background:$gold;
	padding:5px;
	line-height:14px;
	letter-spacing:1px;
	@include trade;
	text-transform:uppercase;
	color:$dark;
	font-size:14px;

	-moz-box-shadow:    1px 1px 1px 0px #999;
	-webkit-box-shadow: 1px 1px 1px 0px #999;
	box-shadow:         1px 1px 1px 0px #999;

	z-index:9999;
	@media (max-width:$break-sm) {
		display:none;
	}
	&:hover, &:visited {
		color:$dark;
	}
}

.header-wrapper {
	height: $navbar_height;
	.header-inner-wrapper {
		width: 100%;
		height: $navbar_height;
		position: fixed;
		z-index: 9999;
		background-color: white;
		-moz-box-shadow:    1px 1px 1px 0px #999;
  		-webkit-box-shadow: 1px 1px 1px 0px #999;
  		box-shadow:         1px 1px 1px 0px #999;
		.header-container {
			height: $navbar_height;
			.col-left {
				margin-top: 0px;
				button.read-button {
					@media (max-width:$break-sm) {
						background:none;
						color:$dark;
						border:0px;
						font-size:15px;
						padding:12px 14px;
					}
					span.text {
						@media (max-width:$break-sm) {
							display:none;
						}
					}
				}
				.post-btn {
					@media (max-width:$break-sm) {
						display:none;
					}
				}
			}

			.col-middle {
				.header-logo {
					margin-top: 5px;
					text-align: center;
					a {
						font-size: 21px;
						@include fjalla;
						letter-spacing:2px;
						color:$dark;
						@media (max-width:$break-sm) and (min-width:$break-sm-min)  {
							font-size: 16px;
							letter-spacing:1px;
						}
						@media (max-width:$break-xs) {
							font-size: 15px;
							letter-spacing:1px;
						}
						img {
							width:120px;
							height:auto;
						}
					}
					@media (max-width:$break-sm) and (min-width:$break-sm-min) {
						margin-top: 10px;
					}
					@media (max-width:$break-xs) {
						margin-top: 11px;
					}
				}
			}

			.col-right {
				margin-top: 2px;
				padding-right:25px;
				padding-left:0px;
				&>*, &>form>* {
					float: right;
				}
				@media (max-width:$break-xs) {
					padding-left:0px !important;
					margin-top:0px;
					padding-right:15px;
				}
				.signup {
					padding:10px 10px;
					margin-top:0px;
					@media (max-width:$break-xs) {
						width:54px;
						font-size:11px;
						padding:0 3px;
						margin:0;
					}
				}
				.login {
				}
				.action {
					height: 40px;
					width: 40px;
					margin-top: 0px;
					margin-left: 10px;
					position: relative;
					text-align: center;
					@media (max-width:$break-sm) {
						height: 27px;
						width: 27px;
						margin-top: 7px;
					}
					.navbar-dropdown-toggle {
						height: 100%;
						width: 100%;
						display: block;
						background-position: center center;
						background-size: cover;
						background-repeat: no-repeat;
						cursor: pointer;
						&.glyphicon-cog {
							font-size: 20px;
							margin-top: 4px;
						}
						&.avatar {
							border-radius: 50%;
						}
					}
				}
				label.glyphicon-search {
					margin-top: 10px;
					margin-right: 3px;
					font-size: 18px;
					cursor:pointer;
				}
				input.search-input {
					background-color: transparent !important;
					margin-top:7px;
					border-style: solid;
					border-width: 0px 0px 2px 0px;
					border-color: black;
					width: 0px;
					padding:0px;
					@include montserrat;
					font-size:12px;

					@include transition( width, 500ms, ease-out, 0);

					&:focus {
						width: 65%;
					}
				}
				.navbar-dropdown {
					position: absolute;
					top: $navbar_height;
					right: 25px;
					margin-top:-3px;
					min-width: $navbar_dropdown_menu_min_width;
					max-width: $navbar_dropdown_menu_max_width;
					background-color: $white;
					display: none;
					padding-bottom:10px;
					@include secondary_drop_shadow();
					border:solid 1px $lightgray;
					&:before {
						content: url("../../../../images/profile/repost-arrow.png");
						position: absolute;
						top: -14px;
						right: 12px;
						width: 14px;
						height: 20px;
					}
					.dropdown-wrapper {
						&>*, ul.notifications > li {
						}
						.guest-actions a {
							display: block;
							margin-top: 10px;
						}
						.user, .notifications-title {
							border-bottom: 1px solid $lightgray;
						}
						.user {
							a {
								padding: 20px 20px;
								display:block;
								width:100%;
								@include montserrat;
								font-size:14px;
								.avatar {
									height: 25px;
									width: 25px;
									display: inline-block;
									background-position: center center;
									background-size: cover;
									background-repeat: no-repeat;
									border-radius: 50%;
									vertical-align: bottom;
								}
								&:hover {
									background-color:$lightgray;
									color:$blue;
									@include trans_fade;
								}
							}
						}
						.notifications-title {
							padding: 10px;
							@include montserrat;
							font-size:10px;
							border-bottom:1px solid $lightgray;
							@media (max-width:$break-sm) {
								padding: 5px;
								font-size:8px;
							}
						}
						ul.notifications {
							max-height: 250px;
							overflow-y: auto;
							padding: 0;
							border-bottom: 1px solid $lightgray;
							@media (max-width:$break-sm) {
								max-height: 175px;
								margin-bottom:5px;
							}
							li {
								background-color: #f7f7f7;
								border-bottom: 1px solid $gray;
								a {
									display: block;
									padding: 10px;
									color: gray;
									@media (max-width:$break-sm) {
										font-size: 12px;
									}
									span {
										color: $dark;
										font-size: 12px;
										@include montserrat;
										@media (max-width:$break-sm) {
											font-size: 10px;
										}
										&.post-title {
										}
									}
								}
								&.no-notifications {
									padding: 10px;
									text-align: center;
									border-bottom: 0px;
								}
							}
						}
						.view-all {
							text-align: right;
							a {
								font-size: 10px;
								padding: 5px 10px;
								margin-right:10px;
								@media (max-width:$break-sm) {
									font-size: 8px;
									padding: 3px 10px;
								}
							}
						}
						.additional-user-actions {
							padding:0px 20px;
							a {
								@include montserrat;
								font-size:10px;
								letter-spacing:1px;
							}
						}
						.additional-actions {
							margin-top: 20px;
							padding:5px 20px 0px 20px;
							border-top:solid 1px $lightgray;
							float:right;
							line-height:11px;
							color:$lightgray !important;
							a {
								@include garamond;
								font-size:12px;
								letter-spacing:0px;
								color:$gray;
								&:hover {
									color:$dark;
								}
							}
						}
					}
				}	

				.notification-label {
					position: relative;
					background:$red;
					color:$white;
					margin-top:5px;
					padding:5px 10px;
					@include trade;
					@include drop_shadow;
					&::before {
						@include notifications_arrow_top;
					}
				}
			}
		}
	}
}
#offcanvas-admin-placeholder { //Temporary DELETE!!!

}

#offcanvas-sidebar {
	@include offcanvas-sidebar( left, $offcanvas_sidebar_width );
		border-right:solid 10px #222;
		@media (max-width:$break-md) {
			border-right:solid 10px #222;
		}
		ul#accordion.sidebar-options {
			li input.search-input {
				width:98%;
				height:30px;
				padding:0px 10px;
				margin:10px 0 10px 2%;
				@include border-radius(60px);
				@include montserrat(normal);
				font-size:12px;
			}
			li.sidebar-option {
				&>a {
					@include trade;
					font-size:17px;
					text-transform:uppercase;
				}
				&.feed {

				}
				&.categories {
				ul {
	        		li {
	      				&.category-all {
	      					padding-bottom:10px;
	      				}
	        			a {	
	        				display: block;
							width: 100%;
	        				padding: 5px 0px;
	        				color:$lightgray;
							@include montserrat(normal);
							font-size:12px;
							letter-spacing:2px;

							&:hover {
								color:$blue;
							}
	        			}
	        		}
	        	}

				}
				&.saves {
					ul {
						li {
							margin-bottom:20px;
						}
					}
					p {
						color:$cream;
					}
					.post-image-anchor {
						.post-image {
							display: inline-block;
							width: 90px;
							height: 57px;
							margin-left: 0;
							background-size: cover;
							background-position: center center;
						}
					}
					.post-info {
						display: inline-block;
						width: 100%;
						vertical-align: top;

						.post-title {
							display: block;
							padding:0px;
							color:$lightgray;
							@include montserrat(normal);
							font-size:11px;
							text-transform:uppercase;
							letter-spacing:1px;
						}
						span {
							font-size:10px;
						}
						.post-author {
							@include montserrat(normal);
							font-size:12px;
						}
						// This is the 'by: ' text
						span {

						}

					}
				}
				&.post-btn-mobile {
					a {
						color:$dark;
						padding-left: 35px;
						background-color:$gold;
						background-image:url('../../../images/notifications/post-notifications.png');
						background-repeat: no-repeat;
						background-position:left center;
						background-size:40px 25px;
					}
				}
				&.signup-mobile, &.login-mobile {
					a {
						color:$blue;
						font-size:11px;
						pointer:cursor;
					}
				}
			}
		}

}

#offcanvas-placeholder {
	display:none;
	position: fixed;
	top: 0; left: 0;
	width: 15px;
	height: 100%;
	background-color: $black;
	border-right:solid 1px #2a2a2a;
	z-index: 10000;
	cursor: pointer;
	@media (max-width:$break-sm) {
		display:none !important;
	}

	&.sidebar-open {
		left: inherit;
	}

	.toggle-sidebar {
		position: absolute;
		top: 50%;
		margin-top: -50%;
		.circle {
			height: 6px;
			width: 6px;
			background-color: white;
			border-radius: 50%;
			margin: 8px 5px;
		}
	}
}

.btn-flat-gold {
	display:inline-block;
	@include montserrat(normal);
	color: white;
	font-size: 12px;
	background: $gold;
	padding: 10px 15px;
	text-decoration: none;
	text-transform:uppercase;
	border: 2px solid $gold;
	cursor: pointer;

	@include border-radius(2px);
	&:hover {
		// background-color: $dark_gray;
		color: white;
		text-decoration: none;
	}
}

.btn-outline-gold {
	display:inline-block;
	@include montserrat(normal);
	color: $gold;
	font-size: 12px;
	background: transparent;
	padding: 10px 15px;
	text-decoration: none;
	text-transform:uppercase;
	border: 2px solid $gold;
	cursor: pointer;
	&:hover {
		// background-color: $dark_gray;
		border: 2px solid $white;
		color:$white;
		@include trans_fade;
	}
}

.btn-flat-gray {
	display:inline-block;
	@include montserrat(normal);
	color: white;
	font-size: 12px;
	background: $dark;
	padding: 10px 15px;
	text-decoration: none;
	text-transform:uppercase;
	border: 2px solid $dark;
	cursor: pointer;
	&:hover {
		// background-color: $dark_gray;
		background:$dark_gray;
		border: 2px solid $dark_gray;
		color: white;
		text-decoration: none;	
		@include trans_fade;
	}
}

.btn-flat-dark-gray {
	display:inline-block;
	@include montserrat(normal);
	color: white;
	font-size: 12px;
	background: $dark;
	padding: 10px 15px;
	text-decoration: none;
	text-transform:uppercase;
	border: 2px solid $white;
	cursor: pointer;
	&:hover {
		// background-color: $gray;
		// border-color: $dark_gray;
		color: $white;
		text-decoration: none;
		background: $dark;
		border: 2px solid $white;
		@include trans_fade;
	}
}

.btn-flat-light-gray {
	display:inline-block;
	@include montserrat(normal);
	color: white;
	font-size: 12px;
	background: $gray;
	padding: 10px 15px;
	text-decoration: none;
	text-transform:uppercase;
	border: 2px solid $gray;
	cursor: pointer;
	&:hover {
		// background-color: $gray;
		// border-color: $dark_gray;
		color: $white;
		text-decoration: none;
	}
}

.btn-flat-white {
	display:inline-block;
	@include montserrat(normal);
	color: $dark;
	font-size: 12px;
	background: $white;
	padding: 10px 15px;
	text-decoration: none;
	text-transform:uppercase;
	border: 2px solid $dark;
	cursor: pointer;
	&:hover {
		// background-color: $gray;
		// border-color: $gray;
		color: $dark;
		text-decoration: none;	
	}
}

.btn-flat-white-borderless {
	display:inline-block;
	@include montserrat(normal);
	color: $dark;
	font-size: 12px;
	background: $white;
	padding: 10px 15px;
	text-decoration: none;
	text-transform:uppercase;
	border: 2px solid $white;
	cursor: pointer;
	&:hover {
		// background-color: $gray;
		// border-color: $gray;
		color: $dark;
		text-decoration: none;	
	}
}

.btn-flat-blue {
	display:inline-block;
	@include montserrat(normal);
	color: white;
	font-size: 12px;
	background: $blue;
	padding: 10px 15px;
	text-decoration: none;
	text-transform:uppercase;
	border: 2px solid $blue;
	cursor: pointer;
	@include border-radius(2px);
	&:hover {
		// background-color: $gray;
		color: white;
		text-decoration: none;	
		background: $blue_dark;
		border: 2px solid $blue_dark;
		@include trans_fade;
	}
}

.btn-flat-red {
	display:inline-block;
	@include montserrat(normal);
	color: white;
	font-size: 12px;
	background: $red;
	padding: 10px 15px;
	text-decoration: none;
	text-transform:uppercase;
	border: 2px solid $red;
	cursor: pointer;
	&:hover {
		// background-color: $gray;
		color: white;
		text-decoration: none;	
	}
}

.btn-outline-blue {
	display:inline-block;
	@include montserrat(normal);
	color: $blue;
	font-size: 12px;
	padding: 10px 15px;
	text-decoration: none;
	text-transform:uppercase;
	border: 2px solid $blue;
	cursor: pointer;
	&:hover {
		// background-color: $gray;
		color: $dark;
		border: 2px solid $dark;
		text-decoration: none;	
		@include trans_fade;
	}
}

.follow-button {
	display:inline-block;
	@include montserrat(normal);
	text-transform:uppercase;
	color: $white;
	font-size: 12px;
	letter-spacing:1px;
	background: $blue;
	padding: 8px 15px 8px 50px;
	text-decoration: none;
	border: 2px solid $blue;
	cursor: pointer;
	background-image:url('../../../images/global/follow.png');
	background-repeat: no-repeat;
	background-position:left center;
	background-size:40px 40px;
	@include border-radius(2px);
	&:hover {
		// background-color: $gray;
		color: $white;
		background-color:#525252;
		border: 2px solid #525252;
		background-repeat: no-repeat;
		background-position:left center;
		background-size:40px 40px;
		text-decoration: none;	
		@include trans_fade;
	}
	@media (max-width:$break-xs) {
		font-size:10px;
		background-size:25px 25px;
		background-position:3px 2px;
	}
}

.follow-button-white {
	display:inline-block;
	@include montserrat(normal);
	text-transform:uppercase;
	color: $white;
	font-size: 12px;
	letter-spacing:1px;
	background: transparent;
	padding: 9px 15px 9px 50px;
	text-decoration: none;
	border: 1px solid $white;
	cursor: pointer;
	background-image:url('../../../images/global/follow-hover.png');
	background-repeat: no-repeat;
	background-position:left -4px;
	background-size:40px 81px;
	&:hover {
		// background-color: $gray;
		color: $blue;
		border: 1px solid $blue;
		text-decoration: none;	
		background-position:left -45px;
		@include trans_fade;
	}
	@media (max-width:$break-xs) {
		font-size:10px;
		background-size:25px 25px;
		background-position:3px center;
	}
}

.following-button {
	display:inline-block;
	@include montserrat(normal);
	text-transform:uppercase;
	color: $white;
	font-size: 12px;
	letter-spacing:1px;
	background: #525252;
	padding: 10px 15px 10px 50px;
	text-decoration: none;
	border: 1px solid #525252;
	cursor: pointer;
	background-image:url('../../../images/global/following.png');
	background-repeat: no-repeat;
	background-position:left center;
	background-size:40px 40px;
	@include border-radius(2px);
	&:hover {
		// background-color: $gray;
		color: white;
		text-decoration: none;	
	}
	@media (max-width:$break-xs) {
		font-size:10px;
		background-size:25px 25px;
		background-position:3px center;
	}
}

.read-button {
	display:inline-block;
	float:left;
	@include montserrat(normal);
	text-transform:uppercase;
	color: $white;
	font-size: 21px;
	letter-spacing:2px;
	background: $dark;
	padding: 6px 15px;
	text-decoration: none;
	border-top: 2px solid $dark;
	border-right: 0;
	border-left: 0;
	border-bottom:solid 3px $dark;
	cursor: pointer;
	&:hover {
		// background-color: $gray;
		border-top: 2px solid $dark;
		border-bottom:solid 3px $dark;
		background-color: $dark;
	}

}
.post-button {
	display:inline-block;
	@include montserrat(normal);
	float:left;
	color: $dark;
	font-size: 12px;

	text-decoration: none;
	text-transform:uppercase;
	border-top:0;
	border-right: 0;
	border-left: 0;
	border-bottom:0;
	cursor: pointer;
	padding: 14px 20px 14px 35px;
	background-color: transparent;
	background-image:url('../../../images/notifications/post-notifications.png');
	background-repeat: no-repeat;
	background-position:left center;
	background-size:40px 25px;
	&:hover {
		background-color: $lightgray;
		color:$dark;
		text-decoration: none;
		@include trans_fade;
	}
}

.login-btn {
	display:inline-block;
	@include montserrat(normal);
	color: $dark;
	font-size: 12px;
	background: white;
	margin-top:5px;
	margin-left:10px;
	padding: 5px 10px;
	text-decoration: none;
	border-top: 2px solid $white;
	border-right: 2px solid $white;
	border-bottom: 2px solid $white;
	border-left: 1px solid $lightgray;
	cursor: pointer;
	&:hover {
		// background-color: $gray;
		// border-color: $gray;
		color: $dark;
		text-decoration: none;	
	}
}

//generic button with icon to the left. just add a bg image
.icon-button {
	display:inline-block;
	@include montserrat(normal);
	text-transform:uppercase;
	color: $dark;
	font-size: 12px;
	letter-spacing:2px;
	background: none;
	padding: 10px 15px 10px 50px;
	text-decoration: none;
	border: 2px solid $dark;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position:left center;
	background-size:38px 38px;
	&:hover {
		// background-color: $gray;
		background-color: $lightgray;
		@include trans_fade;
	}
}

//generic link with icon to the left (no border). just add a bg image
.icon-link {
	display:inline-block;
	@include montserrat(normal);
	text-transform:uppercase;
	color: $dark;
	font-size: 12px;
	letter-spacing:2px;
	background: none;
	padding: 10px 0px 10px 30px;
	text-decoration: none;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position:left center;
	background-size:38px 38px;
	&:hover {
		// background-color: $gray;
		background-color: $lightgray;
		@include trans_fade;
	}
}

//generic modal styling
.modal {
	text-align:center;
	.modal-content {
		max-width:900px;
		margin:0px auto;
		h4 {
			margin-top:70px;
			text-align:center;
			@include trade;
			font-size:32px;
			letter-spacing:1px;
	        @media (max-width:$break-xs) {
	          	font-size:16px;
	        }
		}
		.modal-header {
			position:relative;
			h4.modal-title {
            	@media (max-width:$break-sm) {
           			font-size:16px;
           		}
            }
			button.close {
				position:absolute;
				top:0px;
				right:-5px;
				font-size:100px;
				color:$dark;
				@media (max-width:$break-xs) {
	          		top:-40px;
	          		font-size:50px;
	        	}
			}
			@media (max-width:$break-xs) {
	          	padding:0 15px;
	        }
		}
		.modal-body {
			input {
				@include montserrat();
				font-size:16px;
				height:50px;
				@media (max-width:$break-xs) {
	          		height:30px;
	        	}
			}
		@media (max-width:$break-xs) {
          	padding:5px 15px;
        }
		}
		.modal-footer {
			border-top:solid 1px $lightgray;
			text-align:center;
		}
	}
}

//signup-login modal styling
#guestSignup.modal {
	text-align:left;
	.modal-header {
		.modal-title {
			display:none;
		}
	}
	.modal-body {
		position:relative;
		display:block;
		h4 {
			margin-top:0px;
			margin-bottom:20px;
		}
		.signup-form, .login-form {
			position:relative;
			display:inline-block;
			width:45%;
			margin:0 2%;
			float:left;

			fieldset {
				input {
					width:100%;
					margin-bottom:5px;
					padding:5px 20px;
				}
				.forgot-pw {
					margin-top:10px;
					text-align:center;
					a {
						font-size:16px;
					}
				}
				.form-actions {
					margin-top:20px;
					text-align:center;
					button {
						letter-spacing:2px;
					}
				}
				.email-please, .terms-agree, .login-disclaimer {
					margin-top:10px;
					margin-bottom:7px;
				}
				.terms-agree, .login-disclaimer {
					text-align:center;
				}
			}
			@media (max-width:$break-sm) {
				width:90%;
				margin:30px 5% 0 5%;
			}
			@media (max-width:$break-xs) {
				width:100%;
				margin:30px 0;
			}
		}

		.signup-form {
			padding-right:4%;
			border-right:solid 1px $gray;
			@media (max-width: $break-sm) {
				border-right:0px;
				padding-right:0%;
				margin-bottom:0px;
			}
			.captcha-numbers {
				background: $lightgray;
				@include montserrat(normal);
				text-align:center;
				padding:10px 10px;
				margin-top:10px;
				margin-bottom:0px;
			}
		}
		.login-form {
			form {
				margin-bottom:10px;
			}
			@media (max-width:$break-sm) {
				padding-top:30px;
				border-top:solid 2px $dark;
			}
		}
	}
}
//signupmodal
#signupModal.modal {
	.modal-dialog {
		max-width:600px;
		margin:50px auto 0px auto;
		@media (max-width:$break-sm) {
			margin-top:40px;
		}
	}
	.modal-content {
		background:#fff;
		padding:20px 20px 5px 20px;
		border:solid 1px $lightgray;
			@media (max-width:$break-sm) {
				padding:5px 5px 5px 5px;
			}
		.modal-header {
			padding:0px;
			button.close {
				position:absolute;
				top:0px;
				right:0px;
				font-size:40px;
				line-height:24px;
			}
			h3 {
				margin-top:10px;
				margin-bottom:0px;
				padding-top:20px;
				font-size:21px;
				@media (max-width:$break-sm) {
					padding-left:20px;
					padding-right:20px;
					font-size:18px;
				}
			}
			h4 {
				margin-top:0px;
				margin-bottom:10px;
				font-size:18px;
				letter-spacing:0px;
				line-height:150%;
				@include garamond;
				text-transform:none;
				@media (max-width:$break-sm) {
					font-size:12px;
					line-height:125%;
					margin:5px 10px 10px 10px;
				}
				span {
					@include fjalla;
					font-size:16px;
					letter-spacing:1px;
				}
			}
		}
		.modal-body {
			padding-bottom:0px;
			form {
				.inputs {
					width: 50%;
					@media (max-width: $break-xs) {
						width: 90%;
					}
					margin-left: auto;
					margin-right: auto;
					position: relative;

					input {
						height:40px;
						font-size:12px;
						border:solid 1px #ddd;
						&#username, &#email, &#password, &#password_confirmation, &#captcha {
							width:100%;
							float:left;
							@media (max-width:$break-sm) {
								width:100%;
							}
						}

						&#captcha {
							margin-top:10px;
							@media (max-width:$break-sm) {
								margin-top:0px;
							}
						}
						&.error {
							width:100% !important;
							margin-top:5px;
							margin-bottom:5px;
							background-color:#fc9595;
							&::-webkit-input-placeholder {
								color:$white;
							}

							&:-moz-placeholder { /* Firefox 18- */
								color:$white; 
							}

							&::-moz-placeholder {  /* Firefox 19+ */
								color:$white; 
							}

							&:-ms-input-placeholder {  
								color:$white;
							}
						}
					}

					// Initially hidden inputs
					#password_confirmation, #captcha, .captcha-equation {
						display: none;
					}

					span.rando {
						position: absolute;
						right: 0;
						top: 0;
						height: 40px;
						padding-right: 30px;
						padding-top: 14px;
						padding-left: 14px;
						cursor: pointer;
					}
				}

				label.error {
						width:100%;
						color:$red;
					}
				.captcha-equation {
					width:50%;
					float:left;
					clear:left;
					margin-top:10px;
					@media (max-width:$break-sm) {
						width:100%;
						margin-top:0px;
					}
					img {
						float:right;
						@media (max-width:$break-sm) {
							float:left;
						}
					}
				}
				.errors {
					float:left;
				}
				.email-subtext {
					display:none;
				}
				.form-actions {
					width:100%;
					float:left;
					button[type="submit"] {
						margin-top:20px;
						background:$blue !important;
						border:solid 3px $blue;
					}
				}
				.redirect-other {
					width:100%;
					float:left;
					margin-top:20px;
					color:$gray;
					a {
						@include montserrat;
					}
				}
			}
			.optional {
				color:$gray;
			}
		}
		.modal-body-mobile {
			a.no-thanks {
				display:block;
				margin-top:10px;
				color:#aaa;
			}
			.redirect-other {
					margin-top:10px;
					padding-top:3px;
					border-top:solid 1px $lightgray;
					color:$gray;
					a {
						@include montserrat;
						font-size:12px;
					}
				}
		}
		.modal-footer {
			padding:5px 10px;
			.terms-agree {
				font-size:11px;
				color:$gray;
				@media (max-width:$break-sm) {
					font-size:9px;
				}
			}
		}
	}
}

//What's Sondry Modal
#sondryModal.modal {
	text-align:left;
	h3 {
		text-align:center;
		font-size:40px;
		text-transform:uppercase;
		@media (max-width:$break-sm) {
			margin-top:70px;
			margin-bottom:20px;
			font-size:32px;
		}
	}
	img.sign-logo {
		@media (max-width:$break-xs) {
			width:120px;
			height:auto;
		}
	}
	img.ttt-icon {
		float:right;
		margin-top:-30px;
		@media (max-width:$break-xs) {
			width:70px;
			height:auto;
		}
	}
	.modal-body {
		padding:0px 75px;
		@media (max-width:$break-md) {
			padding:0px 10px;
		}
		p {
			font-size:20px;
			line-height:165%;
			margin-bottom:20px;
			@media (max-width:$break-sm) {
				font-size:18px;
			}
			&.dear {
				font-size:27px;
				@media (max-width:$break-xs) {
					font-size:21px;
					margin-bottom:10px;
				}
			}
			&.bold {
				@include trade;
			}
			&.signoff {
				margin-top:50px;
				margin-bottom:0px;
			}
		}
	}
}



//Places footer at bottom of page
.content-wrapper {
	padding:0 0 50px 0;
	margin:0;
	min-height:100%;
	position:relative;
}
//Footer
.footer-container {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	background:$dark;
	padding:10px 0;
	.footer-nav {
		float:left;
		width:100%;
		overflow:hidden;
		position:relative;
		ul {
			clear:left;
			float:left;
			list-style:none;
			margin:0;
			padding:0;
			position:relative;
			left:50%;
			text-align:center;
			li {
				display:block;
   				float:left;
   				list-style:none;
   				margin:0;
   				padding:0;
   				position:relative;
   				right:50%;
   				color:$dark_gray;
				a {
					display:block;
   					margin:0 0 0 1px;
   					padding:3px 10px;
					color:$gold;
					@include montserrat;
					text-transform:uppercase;
					font-size:8px;
					letter-spacing:2px;
					@media (max-width:$break-sm) {
        				padding:3px 5px;
        				font-size:6px;
      				}
				}
			}
		}
	}
}

// Signup/Sign In Errors
fieldset .errors, fieldset .alert-error  {
	background-color: lightcoral;
	
	ul {

		li {
			padding: 10px;
		}
	}
}

//fixed signup banner
.join-banner {
	width:100%;
	position:fixed;
	display:none;
	bottom:0;
	left:0;
	background-image:url('../../../images/global/white-95.png');
	z-index:100;
	-moz-box-shadow:    0px 1px 2px 1px #333;
  	-webkit-box-shadow: 0px 1px 2px 1px #333;
  	box-shadow:         0px 1px 2px 1px #333;
  	@media (max-width:$break-sm) {
		display:none !important;
	}
	.join-text {
		padding-right:0px;
		h4 {
			@include trade;
			margin-bottom:0px;
			letter-spacing:1px;
			font-size:18px;
			@media (max-width:$break-lg) {
				font-size:16px;
			}
			@media (max-width:$break-sm) {
				font-size:14px;
			}
			@media (max-width:$break-xs) {
				font-size:14px;
			}
		}
		p {
			@include garamond-italic;
			font-size:18px;
			line-height:125%;
			@media (max-width:$break-md) {
				font-size:14px;
			}
			@media (max-width:$break-xs) {
				font-size:10px;
			}
		}
	}
	.join-button {
		margin-top:10px;
		text-align:right;
		button {
			@media (max-width:$break-md) {
				font-size:10px;
			}
			@media (max-width:$break-xs) {
				font-size:8px;
				letter-spacing:1px;
				padding:5px;
			}
		}
		@media (max-width:$break-xs) {
			text-align:center;
			margin-bottom:10px;
		}
	}
}

//Fuck the IE
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   .post-title {
		word-break:normal !important;
		a {
			word-break:normal !important;
		}
	}

	.post-taglines {
		li {
			word-break:normal !important;
		}
	}

	.post-heading h2 {
		word-break: normal !important;
	}

	.featured-item h2, .featured-item ul, .featured-item p  {
		word-break: normal !important;
	}

	.profile-content-wrapper .feature-item h2, .profile-content-wrapper p.tagline, .profile-content-wrapper p.excerpt {
		word-break: normal !important;
	}
}