@import '../base';

.category-header {
	position: relative;
	width:100%;
	max-width:1200px;
	margin-top: 0px;
	margin-left:auto;
	margin-right:auto;
	padding: 10px 10px 0px 10px;
	text-align: center;
	@media (max-width:$break-sm) {
		margin-top: 0px;
	}
	img.corner-icon {
		position: absolute;
		display:none;//decide on whether to delete or keep this
		right:0px;
		top:-10px;
		width:50px;
		height:auto;
	}
	h1.category-title {
		@include fjalla();
		font-size:50px;
		letter-spacing:2px;
		margin-bottom:0px;
		text-transform:uppercase;
		@media (max-width:$break-sm) {
			font-size:32px;
		}
	}
	p {
		@include garamond-italic;
		font-size:17px;
	}
}

.filters {
	@include feed_container_widths;
	@include catfilter;
	margin-bottom:20px;
	.filters-container {
		margin:0 15px;
		.category-filter-container {
			@media (max-width:$break-sm) {
				width:48%;
				min-width:0px;
				float:left;
				margin:0 0 10px 0;
			}
			.category-filter-title {
				@media (max-width:$break-xs) {
					font-size:12px;
				}
			}
			&.cat-container {
				@media (max-width:$break-md) {
					margin-right:4%;
				}
			}
		}
	}
}

.feed-container {
	@include feed_container_widths;
	overflow: hidden;
	@include post_listing( false );
	.post-container {
		@media screen and (max-width: 630px){
			height:auto;
			margin-bottom:20px;
		}
	}
}