@import '../base';

.category-header {
	position: relative;
	width:100%;
	max-width:1200px;
	margin-top: 30px;
	margin-left:auto;
	margin-right:auto;
	padding: 10px 10px 0px 10px;
	text-align: center;
	@media (max-width:$break-sm) {
		margin-top: 0px;
	}
	img.corner-icon {
		position: absolute;
		display:none;//decide on whether to delete or keep this
		right:0px;
		top:-10px;
		width:50px;
		height:auto;
	}
	h1.category-title {
		@include fjalla();
		font-size:50px;
		letter-spacing:2px;
		@media (max-width:$break-sm) {
			font-size:21px;
		}
	}
}

.filters {
	@include feed_container_widths;
	@include catfilter;
	margin-bottom:20px;
	.category-filter-container {
		@media (max-width:$break-sm) {
			width:48%;
			float:left;
		}
		.cat-container {
			
		}
		.sort-container {
		}
	}
}

.feed-container {
	@include feed_container_widths;
	overflow: hidden;
	@include post_listing( false );
	padding-bottom: 500px;
	.post-container {
		@media screen and (max-width: 630px){
			height:auto;
			margin-bottom:20px;
		}
	}
}