/***
 * This is a shared file for all css.  Good place to store colors and mixins
 */

/**
 *   Font Imports
 */
@font-face {
    font-family: 'bebas';
    src: url('../../fonts/bebas/BebasNeue-webfont.eot');
    src: url('../../fonts/bebas/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/bebas/BebasNeue-webfont.woff') format('woff'),
         url('../../fonts/bebas/BebasNeue-webfont.ttf') format('truetype'),
         url('../../fonts/bebas/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 *   Colors
 */


/**
 *   Mixins
 */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


