/*Shared*/
body {
	background:url('../../img/global/blur-lights.jpg');
	background-size:cover;
}

.header-wrapper .banner {
	background-image:none;
	
}

.info-container {
	margin-top:20px;
	padding:50px 100px 100px 100px;
	background:url('../../img/global/white-90.png');
	margin-bottom:50px;
	
	-moz-box-shadow:    0px 0px 5px 3px #000;
 	-webkit-box-shadow: 0px 0px 5px 3px #000;
  	box-shadow:         0px 0px 5px 3px #000;
}

.info-container a {
	font-family:'bebas';
	font-size:16px;
	color:#32b1c6;
	letter-spacing:2px;
}

.info-container a:hover {
	color: #2c97a3;
}

.info-container h2 {
	font-family: 'Montserrat', sans-serif;
	font-size:40px;
	text-transform:uppercase;
	font-weight:700;
	text-align:center;
	padding-bottom:20px;
	margin-bottom:25px;
	border-bottom:3px solid #000;
}

.info-container h3 {
	font-family: 'bebas', sans-serif;
	letter-spacing:2px;
	margin-top:25px;
}

.info-container p {
	font-size:18px;
	line-height:150%;
}

.info-container span {
	font-family:'bebas';
	letter-spacing:2px;
}

.info-container ul {
}

.info-container ul li {
	margin-bottom:10px;
	font-size:18px;
	line-height:150%;
}

/*etiquette*/
.etiquette h3 {
	font-family: 'Montserrat', sans-serif !important;
	text-align:center;
	font-weight:700;
	text-transform:uppercase;
	margin-top:50px;
	padding-bottom:10px;
	border-bottom:1px solid #000;
}

.info-container.etiquette ul li {
	margin-bottom:30px;
}

/***************************************
	Media Queries
*/
/*Tiny*/
@media (max-width: 479px) {
	.info-container {
		margin-top:0px;
		padding:50px 20px 100px 20px;
	}

	.info-container h2 {
		font-size:30px;
	}
}

/*Small*/
@media (min-width: 480px) and (max-width: 767px) {
	.info-container {
		margin-top:0px;
		padding:50px 20px 100px 20px;
	}


}

/*Normal*/
@media (min-width: 768px) and (max-width: 991px) {
	
}

/*Bigger*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/*Huge*/
@media (min-width: 1200px) {
	
}  